@using System.Globalization
@using BMA.Common
@using BMA.Models
@model List<ProductMaterial>

@{
    ViewBag.Title = "Thêm nguyên liệu đầu vào";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}

<section class="content-header">
    <h1 style="text-align: center">Thêm nguyên liệu đầu vào</h1>
</section>
<section>
    <div style="margin-top: 2%">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="box box-primary" style="margin-top: 10px">
                    <form id="add-input-material-form">
                        <div class="box-body box-profile">
                            <!-- Choose product material -->
                            <div class="row" style="margin-top: 10px;">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <b>Nguyên liệu<b style="color: #ff0000">*</b>:</b>
                                    </div>
                                    <div class="col-xs-7" id="product-material-info">
                                        <input type="text" name="productMaterialName" id="productMaterialName" readonly style="margin-bottom: 10px" class="form-control" />
                                        <input type="hidden" name="productMaterialId" id="productMaterialId" />
                                        <a class="btn btn-success btn-xs" id="add-product-material" onclick="open_choose_product_material()">
                                            Chọn nguyên liệu
                                            <script type="text/javascript">
                                                function open_choose_product_material() {
                                                    $.ajax({
                                                        url: "@(Url.Action("GetProductMaterialList", "InputMaterial"))",
                                                        method: "POST",
                                                        success: function (data) {
                                                            var chooseButton = $("<button>", {
                                                                "class": "btn btn-success",
                                                                "onclick": "choose_product_material()",
                                                                "html": "Chọn nguyên liệu"
                                                            });
                                                            document.getElementById('standard-popup-body').innerHTML = data;
                                                            document.getElementById('standard-popup-footer').innerHTML = chooseButton[0].outerHTML;
                                                            $('#myStandardModal').modal('show');
                                                            $('#example2').DataTable({
                                                                "paging": true,
                                                                "lengthChange": false,
                                                                "searching": true,
                                                                "ordering": true,
                                                                "info": true,
                                                                "autoWidth": false
                                                            });
                                                        }
                                                    });
                                                }

                                                function choose_product_material() {
                                                    var productMaterialName = $("[data-role=product-material] tr.selected td:first span").html();
                                                    var productMaterialId = $("[data-role=product-material] tr.selected td:first input").val();

                                                    $("#productMaterialName").val(productMaterialName);
                                                    $("#productMaterialId").val(productMaterialId);
                                                    $('#myStandardModal').modal('hide');
                                                }
                                            </script>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px; margin-top: 17px">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <b>Số lượng<b style="color: #ff0000">*</b>: </b>
                                    </div>
                                    <div class="col-xs-7">
                                        <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="txtImportQuantity" id="txtImportQuantity" oninput="maxLengthCheck(this)" maxlength="8" placeholder="nhập số từ 1-8 chữ số" class="form-control" value="1" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <b>Tổng giá (VNĐ)<b style="color: #ff0000">*</b>: </b>
                                    </div>
                                    <div class="col-xs-7">
                                        <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="txtInputMaterialPrice" id="txtInputMaterialPrice" required oninput="maxLengthCheck(this)" maxlength="9" placeholder="nhập số từ 1-9 chữ số" class="form-control" value="1" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <b>Đơn giá (VNĐ)<b style="color: #ff0000">*</b>: </b>
                                    </div>
                                    <div class="col-xs-7">
                                        <input type="number" readonly="readonly" name="txtUnitPrice" id="txtUnitPrice" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <label for="txtImportDate">Ngày nhập<b style="color: #ff0000">*</b>: </label>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class='input-group date' id='datetimepicker6'>
                                            <input type="text" readonly="readonly" required name="txtImportDate" id="txtImportDate" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <label for="txtInputMaterialExpiryDate">Ngày hết hạn<b style="color: #ff0000">*</b>: </label>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class='input-group date' id='datetimepicker7'>
                                            <input type="text" readonly="readonly" required name="txtInputMaterialExpiryDate" id="txtInputMaterialExpiryDate" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <label for="txtInputMaterialNote">Ghi chú: </label>
                                    </div>
                                    <div class="col-xs-7">
                                        <textarea name="txtInputMaterialNote" id="txtInputMaterialNote" maxlength="200" rows="3" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- Choose input bill -->
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <b>Mã hóa đơn<b style="color: #ff0000">*</b>: </b>
                                    </div>
                                    <div class="col-xs-7" id="order-info">
                                        <input type="text" name="inputBillCode" id="inputBillCode" readonly style="margin-bottom: 10px" class="form-control" />
                                        <input type="hidden" name="inputBillId" id="inputBillId" />
                                        <a class="btn btn-success btn-xs" id="add-bill" onclick="open_choose_bill()">
                                            Chọn hóa đơn
                                            <script type="text/javascript">
                                                function open_choose_bill() {
                                                    $.ajax({
                                                        url: "@(Url.Action("GetInputBillList", "InputMaterial"))",
                                                        method: "POST",
                                                        success: function (data) {
                                                            var chooseButton = $("<button>", {
                                                                "class": "btn btn-success",
                                                                "onclick": "choose_bill()",
                                                                "html": "Chọn hóa đơn"
                                                            });
                                                            document.getElementById('standard-popup-body').innerHTML = data;
                                                            document.getElementById('standard-popup-footer').innerHTML = chooseButton[0].outerHTML;
                                                            $('#myStandardModal').modal('show');
                                                            $('#example').DataTable({
                                                                "iDisplayLength": 5,
                                                                "paging": true,
                                                                "lengthChange": false,
                                                                "searching": true,
                                                                "ordering": false,
                                                                "info": true,
                                                                "autoWidth": false
                                                            });
                                                        }
                                                    });
                                                }

                                                function choose_bill() {
                                                    var billCode = $("[data-role=input-bill] tr.selected td:first span").html();
                                                    var billId = $("[data-role=input-bill] tr.selected td:first input").val();

                                                    $("#inputBillCode").val(billCode);
                                                    $("#inputBillId").val(billId);
                                                    $('#myStandardModal').modal('hide');
                                                }
                                            </script>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-12">
                                    <b><b style="color: #ff0000">*</b>: Thông tin bắt buộc</b>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
        <div class="col-md-3">
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- "Thêm mới" button -->
                <button class="btn btn-primary pull-right" style="margin-right: 2%; margin-bottom: 2%" onclick="addInputMaterial()">
                    <i class="fa fa-edit" style="margin-right: 1%;"></i>Thêm mới
                    <script type="text/javascript">
                        function addInputMaterial() {
                            var productMaterialName = $("#productMaterialName").val();
                            var txtImportQuantity = $("#txtImportQuantity").val();
                            var txtInputMaterialPrice = $("#txtInputMaterialPrice").val();
                            var txtImportDate = $("#txtImportDate").val();
                            var txtInputMaterialExpiryDate = $("#txtInputMaterialExpiryDate").val();
                            var inputBillCode = $("#inputBillCode").val();

                            if (productMaterialName.trim() === '') {
                                noty({
                                    text: 'Tên nguyên liệu đầu vào không được trống.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            } else if (isNaN(txtImportQuantity)) {
                                noty({
                                    text: 'Số lượng nguyên liệu đầu vào phải là số.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            } else if (txtImportQuantity.trim() === '') {
                                noty({
                                    text: 'Số lượng nguyên liệu đầu vào không được trống.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            } else if (txtImportQuantity <= 0) {
                                noty({
                                    text: 'Số lượng nguyên liệu đầu vào phải lớn hơn 0.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            } else if (txtImportQuantity > 99999999) {
                                noty({
                                    text: 'Số lượng nguyên liệu đầu vào không được lớn hơn 99,999,999 đơn vị.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            } else if (isNaN(txtInputMaterialPrice)) {
                                noty({
                                    text: 'Tổng giá nguyên liệu đầu vào phải là số.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            } else if (txtInputMaterialPrice.trim() === '') {
                                noty({
                                    text: 'Tổng giá nguyên liệu đầu vào không được trống.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            } else if (txtInputMaterialPrice < 1000) {
                                noty({
                                    text: 'Tổng giá nguyên liệu đầu vào không được nhỏ hơn 1,000 VNĐ.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            } else if (txtInputMaterialPrice > 999999999) {
                                noty({
                                    text: 'Tổng giá nguyên liệu đầu vào không được lớn hơn 999,999,999 VNĐ.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            } else if (txtInputMaterialPrice < txtImportQuantity) {
                                noty({
                                    text: 'Số lượng nguyên liệu nhập vào không được lớn hơn tổng giá nguyên liệu.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            } else if (txtImportDate.trim() === '') {
                                noty({
                                    text: 'Ngày nhập nguyên liệu không được trống.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            } else if (txtInputMaterialExpiryDate.trim() === '') {
                                noty({
                                    text: 'Ngày hết hạn nguyên liệu không được trống.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });

                            } else if (inputBillCode.trim() === '') {
                                noty({
                                    text: 'Hóa đơn nhập không được trống.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            } else {
                                $.ajax({
                                    url: "@(Url.Action("AddInputMaterial", "InputMaterial"))",
                                    method: "POST",
                                    data: $("#add-input-material-form").serialize(),
                                    success: function (data) {
                                        if (data === "1") {
                                            noty({
                                                text: 'Thêm nguyên liệu thành công',
                                                type: 'success',
                                                dismissQueue: false,
                                                layout: 'topCenter',
                                                theme: 'defaultTheme',
                                                timeout: 1500
                                            });
                                            window.setTimeout(function () {
                                                window.location.replace("@(Url.Action("InputMaterialIndex", "InputMaterial"))");
                                            }, 4000);
                                        }
                                        else if (data === "-1") {
                                            noty({
                                                text: 'Ngày hết hạn phải lớn hơn ngày nhập.',
                                                type: 'warning',
                                                dismissQueue: false,
                                                layout: 'topCenter',
                                                theme: 'defaultTheme',
                                                timeout: 1000
                                            });
                                        }
                                        else {
                                            noty({
                                                text: 'Không thể thêm nguyên liệu đầu vào',
                                                type: 'warning',
                                                dismissQueue: false,
                                                layout: 'topCenter',
                                                theme: 'defaultTheme',
                                                timeout: 1000
                                            });
                                        }
                                    },
                                    fail: function () {
                                        noty({
                                            text: 'Đã có lỗi xảy ra',
                                            type: 'error',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    }
                                });
                            }
                        }
                    </script>
                </button>
                <!-- "Hủy" button -->
                <button class="btn btn-success" style="margin-left: 2%; margin-bottom: 2%;" onclick="cancelAddInputMaterial()">
                    <i class="fa fa-arrow-left" style="margin-right: 1%;"></i>Quay lại trang danh sách
                    <script type="text/javascript">
                        function cancelAddInputMaterial() {
                            window.location.replace("@(Url.Action("InputMaterialIndex", "InputMaterial"))");
                        }
                    </script>
                </button>
            </div>
        </div>
    </div>
    <!--max length for number-->
    <script>
        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength)
                object.value = object.value.slice(0, object.maxLength);
        }
    </script>
</section>

@section AddInputMaterialScript{
    <script src="~/Scripts/numeral.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker6').datetimepicker({
                format: 'L',
                locale: 'vi',
                defaultDate: moment().format('MM/DD/YYYY'),
                ignoreReadonly: true
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker7').datetimepicker({
                format: 'L',
                locale: 'vi',
                defaultDate: moment().format('MM/DD/YYYY'),
                ignoreReadonly: true,
                useCurrent: false //Important! See issue #1075
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#datetimepicker6").on("dp.change", function (e) {
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker7").on("dp.change", function (e) {
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>

    <script type="text/javascript">
        $(document).on("keyup", "#txtInputMaterialPrice", function () {
            var importQuantity = $("#txtImportQuantity").val();
            var inputMaterialPrice = $("#txtInputMaterialPrice").val();
            var unitPrice = Math.ceil(inputMaterialPrice / importQuantity);
            $('#txtUnitPrice').val(unitPrice);
            $('#txtUnitPrice').attr('min', unitPrice);
        })
    </script>

    <script type="text/javascript">
        $(document).on("keyup", "#txtImportQuantity", function() {
            var importQuantity = $("#txtImportQuantity").val();
            var inputMaterialPrice = $("#txtInputMaterialPrice").val();
            var unitPrice = Math.ceil(inputMaterialPrice / importQuantity);
            $('#txtUnitPrice').val(unitPrice);
            $('#txtUnitPrice').attr('min', unitPrice);
        });
        $(document).on('input', "[data-role='number']", function () {
            var data = $(this).val();
            data = data.split(".").join("");
            data = numeral(data).format('0,0').split(",").join(".");
            $(this).val(data);
        });
    </script>
}
