@using System.Globalization
@using BMA.Common
@using BMA.Models
@model BMA.Models.InputMaterial

@{
    ViewBag.Title = "Chỉnh sửa nguyên liệu đầu vào";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}

<section class="content-header">
    <h1>Chỉnh sửa nguyên liệu đầu vào</h1>
</section>
<section>
    <form>
        <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
                <b>Tên nguyên liệu:</b>
                <select name="InputMaterial">
                    @foreach (InputMaterial inputMaterial in Model)
                    {
                        <option value="@inputMaterial.ProductMaterial.ProductMaterialName"></option>
                    }
                </select>
            </li>
            <li class="list-group-item">
                <b>Số lượng nhập: </b>
                <input type="text" value="@Model.ImportQuantity" />
            </li>
            <li class="list-group-item">
                <b>Số lượng tồn kho: </b>
                <input type="text" value="@Model.RemainQuantity" />
            </li>
            <li class="list-group-item">
                <b>Giá nhập kho: </b>
                <input type="text" value="@Model.InputMaterialPrice" /><label>@CultureInfo.CreateSpecificCulture("vi-VN")/@Model.ProductMaterial.ProductMaterialUnit</label>
                <a class="pull-right">@Model.InputMaterialPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))/@Model.ProductMaterial.ProductMaterialUnit</a>
            </li>
            <li class="list-group-item">
                <b>Ngày nhập kho: </b>
                <input type="text" value="@Model.ImportDate.Value.ToShortDateString()" />
            </li>
            <li class="list-group-item">
                <b>Ngày hết hạn: </b>
                <input type="text" value="@Model.InputMaterialExpiryDate.ToString(("dd/MM/yyyy"))" />
            </li>
        </ul>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary pull-right" style="margin-right: 25px;">
                <i class="fa fa-edit" style="margin-right: 3px;"></i>Cập nhật
            </button>
        </div>
    </div>
</section>