@using System.Globalization
@using BMA.Common
@using BMA.Models
@model BMA.Models.InputMaterial
@{
    ViewBag.Title = "Chỉnh sửa nguyên liệu đầu vào";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
    List<ProductMaterial> pm = ViewBag.productMaterial;
}

<section class="content-header">
    <h1 style="text-align: center">Chỉnh sửa nguyên liệu đầu vào</h1>
</section>
<section class="content">
    <div style="margin-top: 2%">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="box box-primary" style="margin-top: 10px">
                    <!-- Update form -->
                    <form id="edit-input-material-form">
                        <input type="hidden" name="InputMaterialId" id="InputMaterialId" value="@Model.InputMaterialId" />
                        <div class="box-body box-profile">
                            <div class="row" style="margin-top: 10px;">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <b>Nguyên liệu<b style="color: #ff0000">*</b>:</b>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-7" id="product-material-info">
                                        <input type="text" name="productMaterialName" id="productMaterialName" readonly style="margin-bottom: 10px" class="form-control" value="@Model.ProductMaterial.ProductMaterialName" />
                                        <input type="hidden" name="productMaterialId" id="productMaterialId" value="@Model.ProductMaterial.ProductMaterialId" />
                                        <a class="btn btn-success btn-xs" id="add-product-material" onclick="open_choose_product_material()">
                                            Chọn nguyên liệu
                                            <script type="text/javascript">
                                                function open_choose_product_material() {
                                                    $.ajax({
                                                        url: "@(Url.Action("GetProductMaterialList", "InputMaterial"))",
                                                        method: "POST",
                                                        success: function (data) {
                                                            var chooseButton = $("<button>", {
                                                                "class": "btn btn-success",
                                                                "onclick": "choose_product_material()",
                                                                "html": "Chọn nguyên liệu"
                                                            });
                                                            document.getElementById('popup-body').innerHTML = data;
                                                            document.getElementById('popup-footer').innerHTML = chooseButton[0].outerHTML;
                                                            $('#myModal').modal('show');
                                                        }
                                                    });
                                                }

                                                function choose_product_material() {
                                                    var productMaterialName = $("[data-role=product-material] tr.selected td:first span").html();
                                                    var productMaterialId = $("[data-role=product-material] tr.selected td:first input").val();

                                                    $("#productMaterialName").val(productMaterialName);
                                                    $("#productMaterialId").val(productMaterialId);
                                                    $('#myModal').modal('hide');
                                                }
                                            </script>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <b>Số lượng nhập<b style="color: #ff0000">*</b>: </b>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-7">
                                        <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" value="@Model.ImportQuantity" name="txtImportQuantity" id="txtImportQuantity" required oninput="maxLengthCheck(this)" maxlength="6" min="1" max="999999" class="form-control" placeholder="nhập số từ 1-6 chữ số" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <b>Tổng giá nhập kho<b style="color: #ff0000">*</b>: </b>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-7">
                                        <input type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57" value="@(Model.InputMaterialPrice*Model.ImportQuantity)" name="txtInputMaterialPrice" id="txtInputMaterialPrice" required oninput="maxLengthCheck(this)" maxlength="7" min="1" max="9999999" class="form-control" placeholder="nhập số từ 1-7 chữ số" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <label for="txtImportDate">Ngày nhập<b style="color: #ff0000">*</b>: </label>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class='input-group date' id='datetimepicker6'>
                                            <input type="text" readonly="readonly" required name="txtImportDate" id="txtImportDate" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <label for="txtInputMaterialExpiryDate">Ngày hết hạn<b style="color: #ff0000">*</b>: </label>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class='input-group date' id='datetimepicker7'>
                                            <input type="text" readonly="readonly" required name="txtInputMaterialExpiryDate" id="txtInputMaterialExpiryDate" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="form-group">
                                    <div class="col-xs-5">
                                        <b>Ghi chú: </b>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-7">
                                        <textarea name="txtInputMaterialNote" id="txtInputMaterialNote" maxlength="200" rows="3" class="form-control">@Model.InputMaterialNote</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-5">
                                    <b>Thuộc hóa đơn<b style="color: #ff0000">*</b>: </b>
                                </div>
                                <div class="col-xs-7" id="order-info">
                                    <input type="text" name="inputBillCode" id="inputBillCode" value="@Model.InputBill.InputBillCode" readonly style="margin-bottom: 10px" class="form-control" />
                                    <input type="hidden" name="inputBillId" id="inputBillId" value="@Model.InputBill.InputBillId" />
                                    <a class="btn btn-success btn-xs" id="add-bill" onclick="open_choose_bill()">
                                        Chọn hóa đơn
                                        <script type="text/javascript">
                                            function open_choose_bill() {
                                                $.ajax({
                                                    url: "@(Url.Action("GetInputBillList", "InputMaterial"))",
                                                    method: "POST",
                                                    success: function (data) {
                                                        var chooseButton = $("<button>", {
                                                            "class": "btn btn-success",
                                                            "onclick": "choose_bill()",
                                                            "html": "Chọn"
                                                        });
                                                        document.getElementById('standard-popup-body').innerHTML = data;
                                                        document.getElementById('standard-popup-footer').innerHTML = chooseButton[0].outerHTML;
                                                        $('#myStandardModal').modal('show');
                                                    }
                                                });
                                            }

                                            function choose_bill() {
                                                var billCode = $(".table tr.selected td:first span").html();
                                                $('#myStandardModal').modal('hide');
                                                $("#order-info input").val(billCode);
                                            }
                                        </script>
                                    </a>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-12">
                                    <b><b style="color: #ff0000">*</b>: Thông tin bắt buộc</b>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Update button -->
                    <div class="box box-footer">
                        <button class="btn btn-primary pull-right" style="margin-right: 2%; margin-bottom: 2%" onclick="editInputMaterial()">
                            <i class="fa fa-edit" style="margin-right: 3px;"></i>Cập nhật
                            <script type="text/javascript">
                                function editInputMaterial() {
                                    var productMaterialName = $("#productMaterialName").val();
                                    var txtImportQuantity = $("#txtImportQuantity").val();
                                    var txtInputMaterialPrice = $("#txtInputMaterialPrice").val();
                                    var txtImportDate = $("#txtImportDate").val();
                                    var txtInputMaterialExpiryDate = $("#txtInputMaterialExpiryDate").val();
                                    var inputBillCode = $("#inputBillCode").val();

                                    if (productMaterialName.trim() === '') {
                                        noty({
                                            text: 'Tên nguyên liệu đầu vào không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (isNaN(txtImportQuantity)) {
                                        noty({
                                            text: 'Số lượng nguyên liệu đầu vào phải là số.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (txtImportQuantity.trim() === '') {
                                        noty({
                                            text: 'Số lượng nguyên liệu đầu vào không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (txtImportQuantity <= 0) {
                                        noty({
                                            text: 'Số lượng nguyên liệu đầu vào phải lớn hơn 0.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (txtImportQuantity > 99999999) {
                                        noty({
                                            text: 'Số lượng nguyên liệu đầu vào không được lớn hơn 99,999,999 đơn vị.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (isNaN(txtInputMaterialPrice)) {
                                        noty({
                                            text: 'Tổng giá nguyên liệu đầu vào phải là số.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (txtInputMaterialPrice.trim() === '') {
                                        noty({
                                            text: 'Tổng giá nguyên liệu đầu vào không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (txtInputMaterialPrice < 1000) {
                                        noty({
                                            text: 'Tổng giá nguyên liệu đầu vào không được nhỏ hơn 1,000 VNĐ.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (txtInputMaterialPrice > 999999999) {
                                        noty({
                                            text: 'Tổng giá nguyên liệu đầu vào không được lớn hơn 999,999,999 VNĐ.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (txtImportQuantity > txtInputMaterialPrice) {
                                        noty({
                                            text: 'Số lượng nguyên liệu nhập vào không được lớn hơn tổng giá nguyên liệu.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (txtImportDate.trim() === '') {
                                        noty({
                                            text: 'Ngày nhập nguyên liệu không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });

                                    } else if (txtInputMaterialExpiryDate.trim() === '') {
                                        noty({
                                            text: 'Ngày hết hạn nguyên liệu không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (inputBillCode.trim() === '') {
                                        noty({
                                            text: 'Hóa đơn nhập không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else {
                                        $.ajax({
                                            url: "@(Url.Action("EditInputMaterial", "InputMaterial"))",
                                            method: "POST",
                                            data: $("#edit-input-material-form").serialize(),
                                            success: function (data) {
                                                if (data === "1") {
                                                    noty({
                                                        text: 'Chỉnh sửa nguyên liệu thành công',
                                                        type: 'success',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 1500
                                                    });
                                                    window.setTimeout(function () {
                                                        window.location.replace("@(Url.Action("InputMaterialIndex", "InputMaterial"))");
                                                    }, 2000);
                                                } else {
                                                    noty({
                                                        text: 'Không thể chỉnh sửa nguyên liệu đầu vào',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 1000
                                                    });
                                                }
                                            },
                                            fail: function () {
                                                noty({
                                                    text: 'Đã có lỗi xảy ra',
                                                    type: 'error',
                                                    dismissQueue: false,
                                                    layout: 'topCenter',
                                                    theme: 'defaultTheme',
                                                    timeout: 1000
                                                });
                                            }
                                        });
                                    }
                                }
                            </script>
                        </button>
                        <!-- Comeback button -->
                        <script type="text/javascript">
                            function comebackToIndex() {
                                window.location.replace("@(Url.Action("InputMaterialDetail", "InputMaterial", new {@id = Model.InputMaterialId}))");
                            }
                        </script>
                        <button class="btn btn-success" onclick="comebackToIndex()" style="margin-left: 2%; margin-bottom: 2%">
                            <i class="fa fa-arrow-left" style="margin-right: 3px;"></i>Quay lại trang chi tiết
                        </button>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
            </div>
        </div>

    </div>
    <!--max length for number-->
    <script>
        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength)
                object.value = object.value.slice(0, object.maxLength);
        }
    </script>
</section>
@section EditInputMaterialScript{

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker6').datetimepicker({
                format: 'L',
                locale: 'vi',
                defaultDate: '@(Model.ImportDate.ToString("MM/dd/yyyy"))',
                ignoreReadonly: true
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker7').datetimepicker({
                format: 'L',
                locale: 'vi',
                defaultDate: '@(Model.InputMaterialExpiryDate.ToString("MM/dd/yyyy"))',
                ignoreReadonly: true,
                useCurrent: false //Important! See issue #1075
            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("#datetimepicker6").on("dp.change", function (e) {
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker7").on("dp.change", function (e) {
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
}


