@using System.Globalization
@using BMA.Models
@model BMA.Models.InputMaterial



@{
    ViewBag.Title = "Chi tiết nguyên liệu đầu vào";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="fa fa-flask">Chi tiết nguyên liệu đầu vào</h1>
</section>
<section class="content">
    <!--Title row-->
    <form id="edit-input-material-form"></form>

    <div class="row">
        <!-- Info row -->
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center">
                        @Model.ProductMaterial.ProductMaterialName

                    </h3>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Số lượng nhập: </b>
                            <a class="pull-right">@Model.ImportQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN")) @Model.ProductMaterial.ProductMaterialUnit</a>
                        </li>
                        <li class="list-group-item">
                            <b>Giá nhập kho: </b>
                            <a class="pull-right">@Model.InputMaterialPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</a>
                        </li>
                        <li class="list-group-item">
                            <b>Số lượng tồn kho: </b>
                            <a class="pull-right">@Model.RemainQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN")) @Model.ProductMaterial.ProductMaterialUnit</a>
                        </li>
                        <li class="list-group-item">
                            <b>Ngày nhập kho: </b>
                            <a class="pull-right">@Model.ImportDate.ToString("dd/MM/yyyy")</a>
                        </li>
                        <li class="list-group-item">
                            <b>Ngày hết hạn: </b>
                            <a class="pull-right">@Model.InputMaterialExpiryDate.ToString(("dd/MM/yyyy"))</a>
                        </li>
                        <li class="list-group-item">
                            <b>Mã hóa đơn: </b>
                            <a class="pull-right">@Model.InputBill.InputBillCode</a>
                        </li>
                        <li class="list-group-item">
                            <b>Trạng thái: </b>
                            @if (DateTime.Compare(Model.InputMaterialExpiryDate, DateTime.Today) != 1)
                            {
                                <span class="label label-danger">Hết hạn sử dụng</span>
                            }
                            else if (Model.RemainQuantity == 0)
                            {
                                <span class="label label-default">Đã hết</span>
                            }

                            else
                            {
                                <span class="label label-success">Có thể sử dụng</span>
                            }
                        </li>
                    </ul>
                    <!-- Trường hợp còn nguyên liệu và còn hạn sử dụng mới hiện button -->
                    @if ((Model.RemainQuantity != 0) && (DateTime.Compare(@Model.InputMaterialExpiryDate, DateTime.Today) >= 1))
                    {
                        <div class="row">
                            <!-- Discard input material button -->
                            <div class="col-xs-12" style="text-align: center">
                                <button class="btn btn-danger" id="btn-approved" onclick="open_container(@(Model.InputMaterialId));">
                                    <i class="fa fa-close" style="margin-right: 5%;"></i>Hủy nguyên liệu
                                    <script type="text/javascript">
                                        function open_container(inputMaterialId, discardQuantity, discardNote) {
                                            var content =
                                                '<form role="form" action="" method="post" id="discard-form">' +
                                                    '<div class="form-group">' +
                                                    '<label>Số lượng hủy: </label>' +
                                                    '<input type="number" min = "1" oninput="maxLengthCheck(this)" max="@Model.RemainQuantity" class="form-control" id="price" value="' + discardQuantity + '" name="discardQuantity"/>' +
                                                    '<input type="hidden" name="InputMaterialId" id="InputMaterialId" value="@Model.InputMaterialId" />' + '</div>' +
                                                    '<div class="form-group">' +
                                                    '<label>Ghi chú: </label>' +
                                                    '<textarea maxlength="200" rows="3" class="form-control" id="discardNote" value="' + discardNote + '" name="discardNote">' + '</textarea>' +
                                                    '</div>' +
                                                    '</form>';
                                            var title = 'Hủy nguyên liệu';
                                            var footer = $("<div>", {
                                                "class": "row",
                                                "html": [
                                                    $("<button>", {
                                                        "class": "btn btn-success pull-right",
                                                        "style": "margin-right: 30%;",
                                                        "onclick": "discard_input_material(" + inputMaterialId + ")",
                                                        "html": "Đồng ý"
                                                    }),
                                                    $("<button>", {
                                                        "class": "btn btn-danger",
                                                        "style": "margin-right: 10px;",
                                                        "data-dismiss": "modal",
                                                        "html": "Hủy"
                                                    })
                                                ]
                                            });
                                            setModalBox(title, content, footer[0].outerHTML);
                                            $('#myModal').modal('show');
                                        }

                                        function setModalBox(title, content, footer) {
                                            document.getElementById('popup-body').innerHTML = content;
                                            document.getElementById('popup-title').innerHTML = title;
                                            document.getElementById('popup-footer').innerHTML = footer;
                                        }

                                        function discard_input_material() {
                                            var checkdiscardQuantity = $("#discardQuantity").val();
                                            var discardNote = $("#discardNote").val();

                                            if (!isNaN(checkdiscardQuantity)) {
                                                noty({
                                                    text: 'Số lượng nguyên liệu bị hủy phải là con số.',
                                                    type: 'warning',
                                                    dismissQueue: false,
                                                    layout: 'topCenter',
                                                    theme: 'defaultTheme',
                                                    timeout: 1000
                                                });
                                            
                                            }
                                            else
                                                $.ajax({
                                                    "url": "@(Url.Action("DiscardInputMaterial", "DiscardInputMaterial"))",
                                                    "method": "POST",
                                                    "data":
                                                        $("#discard-form").serialize(),

                                                    "success": function(data) {
                                                        if (data === "1") {
                                                            noty({
                                                                text: 'Hủy nguyên liệu thành công',
                                                                type: 'success',
                                                                dismissQueue: false,
                                                                layout: 'topCenter',
                                                                theme: 'defaultTheme',
                                                                timeout: 1500
                                                            });
                                                            $('#myModal').modal('hide');
                                                            window.location.replace("@Url.Action("InputMaterialIndex", "InputMaterial", Model.InputMaterialId)");
                                                        } else {
                                                            noty({
                                                                text: 'Không thể hủy nguyên liệu đầu vào',
                                                                type: 'warning',
                                                                dismissQueue: false,
                                                                layout: 'topCenter',
                                                                theme: 'defaultTheme',
                                                                timeout: 1000
                                                            });
                                                        }
                                                    },
                                                    "fail": function() {
                                                        noty({
                                                            text: 'Đã có lỗi xảy ra',
                                                            type: 'error',
                                                            dismissQueue: false,
                                                            layout: 'topCenter',
                                                            theme: 'defaultTheme',
                                                            timeout: 1000
                                                        });
                                                    }
                                                });
                                        }
                                    </script>
                                </button>
                            </div>

                        </div>
                    }
                </div>
            </div>
            <!-- Comeback button -->
            <button class="btn btn-success" onclick="comebackToIndex()">
                <i class="fa fa-arrow-left" style="margin-right: 3px;"></i>Quay lại trang danh sách
                <script type="text/javascript">
                    function comebackToIndex() {
                        window.location.replace("@(Url.Action("InputMaterialIndex", "InputMaterial"))");
                    }
                </script>
            </button>
        </div>
        <!-- Tab in right -->
        <div class="col-md-8">
            <!-- Tab menu -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#inputBillImage" data-toggle="tab">Hóa đơn đầu vào</a></li>
                    <li><a href="#inputMaterialNote" data-toggle="tab">Ghi chú</a></li>
                    <li><a href="#discardInfo" data-toggle="tab">Thông tin hủy (Nếu có)</a></li>
                </ul>
                <div class="tab-content">
                    <!-- Input Bill List -->
                    <div class="active tab-pane" id="inputBillImage">
                        <div class="row" id="inputMaterialTable">
                        </div>
                    </div>
                    <!-- Input Material Note -->
                    <div class="tab-pane" id="inputMaterialNote">
                        <div>
                            <p>
                                @if (Model.InputMaterialNote == null)
                                {
                                    <a>Không có</a>
                                }
                                else
                                {
                                    @Model.InputMaterialNote
                                }
                            </p>
                        </div>
                    </div>
                    <!-- Input Material Discard -->
                    <div class="tab-pane" id="discardInfo">
                        <div class="row" id="discardTable">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Button-->
    <div class="row">
        <div class="col-xs-12">
            @if (Model.RemainQuantity != 0 && (DateTime.Compare(@Model.InputMaterialExpiryDate, DateTime.Today) >= 1))
            {
                <!-- Edit button -->
                <button class="btn btn-primary pull-right" style="margin-right: 25px;" onclick="editInputMaterial()">
                    <i class="fa fa-edit" style="margin-right: 3px;"></i>Chỉnh sửa
                    <script type="text/javascript">
                        function editInputMaterial() {
                            window.location.replace("@(Url.Action("EditInputMaterial", "InputMaterial", new {@id = Model.InputMaterialId}))");
                        }
                    </script>
                </button>
            }


        </div>
    </div>
</section>
<!-- Get Input Material Table by Input Bill -->
@section InitScript{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "@(Url.Action("GetInputMaterialTable", "InputMaterial", new {id = Model.InputBillId}))",
                method: "GET",
                success: function (data) {
                    $("#inputMaterialTable").html(data);
                },
                fail: function (e) {
                    alert(e.toString());
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "@(Url.Action("GetDiscardTable", "DiscardInputMaterial", new {id = Model.InputMaterialId}))",
                method: "GET",
                success: function (data) {
                    $("#discardTable").html(data);
                },
                fail: function (e) {
                    alert(e.toString());
                }
            });
        });
    </script>

    <!--max length for number-->
    <script>
        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength)
                object.value = object.value.slice(0, object.maxLength)
        }
    </script>
}
