@using System.Globalization
@using BMA.Common
@using BMA.Models
@model IEnumerable<BMA.Models.InputMaterial>
@{
    ViewBag.Title = "Danh sách nguyên liệu đầu vào";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}

<section class="content-header">
    <h1>Danh sách nguyên liệu đầu vào</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <!-- box-body -->
        <div class="box-body">
            <table id="example2" class="table table-hover table-bordered">
                <thead style="font-weight: bold">
                    <tr class="row">

                        <th class="col-md-2">Nguyên liệu</th>
                        <th class="col-md-2">Nhập</th>
                        <th class="col-md-2">Tồn kho</th>
                        <th class="col-md-2">Ngày nhập</th>
                        <th class="col-md-2">Ngày hết hạn</th>
                        <th class="col-md-1">Trạng thái</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (InputMaterial inputMaterial in Model)
                    {
                        <tr class="row">

                            <td class="col-md-2" style="text-align: center">@inputMaterial.ProductMaterial.ProductMaterialName</td>
                            <td class="col-md-2" style="text-align: right">@inputMaterial.ImportQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN")) @inputMaterial.ProductMaterial.ProductMaterialUnit</td>
                            <td class="col-md-2" style="text-align: right">@inputMaterial.RemainQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN")) @inputMaterial.ProductMaterial.ProductMaterialUnit</td>

                            <td class="col-md-2" style="text-align: center">@inputMaterial.ImportDate.ToString("dd/MM/yyyy")</td>
                            <td class="col-md-2" style="text-align: center">@inputMaterial.InputMaterialExpiryDate.ToString("dd/MM/yyyy")</td>
                            @if (inputMaterial.RemainQuantity == 0)
                            {
                                <td class="col-md-1">
                                    <span class="label label-default">Đã hết</span>
                                </td>
                                <td class="col-md-1">
                                    <a class="btn btn-link btn-xs" href="@(Url.Action("InputMaterialDetail", "InputMaterial", new { id = inputMaterial.InputMaterialId }))">
                                        <i class="fa fa-navicon" style="margin-right: 3px"></i>Xem
                                    </a>
                                </td>
                            }

                            else
                            {
                                <td class="col-md-1">
                                    <span class="label label-success">Có thể sử dụng</span>
                                </td>
                                <td class="col-md-1">
                                    <a class="btn btn-link btn-xs" href="@(Url.Action("InputMaterialDetail", "InputMaterial", new { id = inputMaterial.InputMaterialId }))">
                                        <i class="fa fa-navicon" style="margin-right: 3px"></i>Xem
                                    </a>
                                </td>
                            }

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>