@using System.Globalization
@using BMA.Common
@using BMA.Models
@model IEnumerable<BMA.Models.InputMaterial>
@{
    ViewBag.Title = "Danh sách nguyên liệu đầu vào";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}

<section class="content-header">
    <h1>Danh sách nguyên liệu đầu vào</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <!-- box-body -->
        <div class="box-body">
            <table id="example2" class="table table-hover table-bordered">
                <thead style="font-weight: bold">
                    <tr>

                        <th>Tên nguyên liệu</th>
                        <th>Số lượng</th>
                        <th>Tồn kho</th>
                        <th>Đơn vị tính</th>
                        <th>Ngày nhập</th>
                        <th>Ngày hết hạn</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (InputMaterial inputMaterial in Model)
                    {
                        <tr>

                            <td>@inputMaterial.ProductMaterial.ProductMaterialName</td>
                            <td>@inputMaterial.ImportQuantity</td>
                            <td>@inputMaterial.RemainQuantity</td>
                            <td>@inputMaterial.ProductMaterial.ProductMaterialUnit</td>
                            <td>@inputMaterial.ImportDate.ToString("dd/MM/yyyy")</td>
                            <td>@inputMaterial.InputMaterialExpiryDate.ToString("dd/MM/yyyy")</td>
                            @if (inputMaterial.RemainQuantity == 0)
                            {
                                <td>
                                    <span class="label label-default">Đã hết</span>
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "InputMaterialDetail", new { id = inputMaterial.InputMaterialId })
                                </td>
                            }
                            else if (inputMaterial.IsActive)
                            {
                                <td>
                                    <span class="label label-success">Có thể sử dụng</span>
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "InputMaterialDetail", new { id = inputMaterial.InputMaterialId })
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="label label-danger">Đã hủy</span>
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "InputMaterialDetail", new { id = inputMaterial.InputMaterialId })
                                </td>
                            }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>