@using System.Globalization
@using BMA.Models
@model IEnumerable<InputMaterial>
@{
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}

@*<div id="loading-background" style="display:none;"></div>
    <img src="~/Content/Images/ajax-loader.gif" id="loading-indicator" style="display:none" />

    <script type="text/javascript">
        $(document).ajaxSend(function (event, request, settings) {
            $('#loading-indicator').show();
            $('#loading-background').show();
        });

        $(document).ajaxComplete(function (event, request, settings) {
            $('#loading-indicator').hide();
            $('#loading-background').hide();
        });
    </script>*@

<section class="content-header">
    <h1>Danh sách nguyên liệu đầu vào</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header clearfix">
            <a class="btn btn-info pull-left" href="@(Url.Action("AddInputMaterial", "InputMaterial"))">
                <i class="fa fa-plus" style="margin-right: 3px"></i>
                Thêm nguyên liệu đầu vào
            </a>
        </div>
        <!-- box-body -->
        <div class="box-body">
            <table id="example1" class="table table-hover table-bordered">
                <thead style="font-weight: bold">
                    <tr class="row">

                        <th style="width: 15%">Nguyên liệu</th>
                        <th style="width: 15%">Nhập</th>
                        <th style="width: 15%">Tồn kho</th>
                        <th style="width: 15%">Ngày nhập</th>
                        <th style="width: 15%">Ngày hết hạn</th>
                        <th style="width: 10%">Trạng thái</th>
                        <th style="width: 15%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (InputMaterial inputMaterial in Model)
                    {
                        <tr class="row">

                            <td style="text-align: center; width: 15%">@(inputMaterial.ProductMaterial.ProductMaterialName.Length <= 30 ? inputMaterial.ProductMaterial.ProductMaterialName : inputMaterial.ProductMaterial.ProductMaterialName.Substring(0, 26) + "...")</td>
                            <td style="text-align: right; width: 15%">@inputMaterial.ImportQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN")) @inputMaterial.ProductMaterial.ProductMaterialUnit</td>
                            <td style="text-align: right; width: 15%">@inputMaterial.RemainQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN")) @inputMaterial.ProductMaterial.ProductMaterialUnit</td>
                            <td style="text-align: center; width: 15%">@inputMaterial.ImportDate.ToString("dd/MM/yyyy")</td>
                            <td style="text-align: center; width: 15%">@inputMaterial.InputMaterialExpiryDate.ToString("dd/MM/yyyy")</td>

                            @if (DateTime.Compare(inputMaterial.InputMaterialExpiryDate, DateTime.Today) < 1)
                            {
                                <td style="text-align: center; width: 10%">
                                    <span class="label label-danger">Hết hạn sử dụng</span>
                                </td>
                                <td style="width: 15%">
                                    <a class="btn btn-link btn-xs" href="@(Url.Action("InputMaterialDetail", "InputMaterial", new {id = inputMaterial.InputMaterialId}))" data-toggle="tooltip" data-placement="top" title="Xem">
                                        <i class="fa fa-navicon" style="margin-right: 3px"></i>
                                    </a>
                                </td>
                            }
                            else if (inputMaterial.RemainQuantity <= 0)
                            {
                                <td style="text-align: center; width: 10%">
                                    <span class="label label-default">Đã hết</span>
                                </td>
                                <td style="width: 15%">
                                    <a class="btn btn-link btn-xs" href="@(Url.Action("InputMaterialDetail", "InputMaterial", new {id = inputMaterial.InputMaterialId}))" data-toggle="tooltip" data-placement="top" title="Xem">
                                        <i class="fa fa-navicon" style="margin-right: 3px"></i>
                                    </a>
                                </td>
                            }
                            else if (inputMaterial.RemainQuantity != inputMaterial.ImportQuantity)
                            {
                                <td style="text-align: center; width: 10%">
                                    <span class="label label-success">Có thể sử dụng</span>
                                </td>
                                <td style="width: 15%">
                                    <a class="btn btn-link btn-xs" href="@(Url.Action("InputMaterialDetail", "InputMaterial", new {id = inputMaterial.InputMaterialId}))" data-toggle="tooltip" data-placement="top" title="Xem">
                                        <i class="fa fa-navicon" style="margin-right: 3px"></i>
                                    </a>
                                    @if ((int)Session["UserRole"] == 2)
                                    {
                                        <button class="btn btn-link btn-xs" onclick="open_container(@(inputMaterial.InputMaterialId), @(inputMaterial.ProductMaterialId), @(inputMaterial.RemainQuantity));" data-toggle="tooltip" data-placement="top" title="Hủy nguyên liệu">
                                            <i class="fa fa-times" style="margin-right: 3px"></i>
                                        </button>
                                    }
                                </td>
                            }
                            else
                            {
                                <td style="text-align: center; width: 10%">
                                    <span class="label label-success">Có thể sử dụng</span>
                                </td>
                                <td style="width: 15%">
                                    <a class="btn btn-link btn-xs" href="@(Url.Action("InputMaterialDetail", "InputMaterial", new {id = inputMaterial.InputMaterialId}))" data-toggle="tooltip" data-placement="top" title="Xem">
                                        <i class="fa fa-navicon" style="margin-right: 3px"></i>
                                    </a>
                                    @if ((int)Session["UserRole"] == 2)
                                    {
                                        <a class="btn btn-link btn-xs" href="@(Url.Action("EditInputMaterial", "InputMaterial", new {id = inputMaterial.InputMaterialId}))" data-toggle="tooltip" data-placement="top" title="Sửa">
                                            <i class="fa fa-edit" style="margin-right: 3px"></i>
                                        </a>
                                        <button class="btn btn-link btn-xs" onclick="open_container(@(inputMaterial.InputMaterialId), @(inputMaterial.ProductMaterialId), @(inputMaterial.RemainQuantity))" data-toggle="tooltip" data-placement="top" title="Hủy nguyên liệu">
                                            <i class="fa fa-times" style="margin-right: 3px"></i>

                                        </button>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <a class="btn btn-info pull-left" href="@(Url.Action("AddInputMaterial", "InputMaterial"))">
                <i class="fa fa-plus" style="margin-right: 3px"></i>
                Thêm nguyên liệu đầu vào
            </a>
        </div>
    </div>
</section>
@section InputMaterialIndexScript{
    <script type="text/javascript">
        function open_container(inputMaterialId, productMaterialId, quantity) {
            var bodyContent = $("<form>", {
                "role": "form",
                "id": "discard-form",
                "html": [
                    $("<div>", {
                        "class": "form-group",
                        "html": [
                            "<label>Số lượng hủy: </label>",
                            $("<input>", {
                                "type": "number",
                                "min": "1",
                                "max": quantity,
                                "onkeypress": "return event.charCode >= 48 && event.charCode <= 57",
                                "class": "form-control",
                                "id": "discardQuantity",
                                "name": "discardQuantity",
                                "max-length": '6'
                            }),
                            $("<input>", {
                                "type": "hidden",
                                "name": "InputMaterialId",
                                "id": "InputMaterialId",
                                "value": inputMaterialId
                            }),
                            $("<input>", {
                                "type": "hidden",
                                "name": "ProductMaterialId",
                                "id": "ProductMaterialId",
                                "value": productMaterialId
                            })
                        ]
                    }),
                    $("<div>", {
                        "class": "form-group",
                        "html": [
                            "<label>Ghi chú: </label>",
                            $("<textarea>", {
                                "maxlength": "200",
                                "row": "3",
                                "class": "form-control",
                                "value": "discardNote",
                                "name": "discardNote",
                                "id": "discardNote"
                            })
                        ]
                    })
                ]
            });
            var title = 'Hủy nguyên liệu';
            var footer = $("<div>", {
                "class": "row",
                "html": [
                    $("<button>", {
                        "class": "btn btn-success pull-right",
                        "style": "margin-right: 30%;",
                        "onclick": "discard_input_material()",
                        "html": "Đồng ý"
                    }),
                    $("<button>", {
                        "class": "btn btn-danger",
                        "style": "margin-right: 10px;",
                        "data-dismiss": "modal",
                        "html": "Hủy"
                    })
                ]
            });
            setModalBox(title, bodyContent[0].outerHTML, footer[0].outerHTML);
            $('#myModal').modal('show');
        }

        function setModalBox(title, content, footer) {
            document.getElementById('popup-body').innerHTML = content;
            document.getElementById('popup-title').innerHTML = title;
            document.getElementById('popup-footer').innerHTML = footer;
        }

        function discard_input_material() {
            var checkdiscardQuantity = $("#discardQuantity").val();
            var discardNote = $("#discardNote").val();

            if (isNaN(checkdiscardQuantity)) {
                noty({
                    text: 'Số lượng hủy phải là số.',
                    type: 'warning',
                    dismissQueue: false,
                    layout: 'topCenter',
                    theme: 'defaultTheme',
                    timeout: 1000
                });
            } else if (checkdiscardQuantity.trim() === '') {
                noty({
                    text: 'Số lượng hủy không được trống.',
                    type: 'warning',
                    dismissQueue: false,
                    layout: 'topCenter',
                    theme: 'defaultTheme',
                    timeout: 1000
                });
            } else if ((checkdiscardQuantity) <= 0) {
                noty({
                    text: 'Số lượng hủy không được nhỏ hơn 0.',
                    type: 'warning',
                    dismissQueue: false,
                    layout: 'topCenter',
                    theme: 'defaultTheme',
                    timeout: 1000
                });
            } else if ((checkdiscardQuantity).toString().length > 6) {
                noty({
                    text: 'Số lượng hủy phải nhỏ hơn 1.000.000',
                    type: 'warning',
                    dismissQueue: false,
                    layout: 'topCenter',
                    theme: 'defaultTheme',
                    timeout: 1000
                });
            } else if (discardNote.trim() === '') {
                noty({
                    text: 'Ghi chú không được trống.',
                    type: 'warning',
                    dismissQueue: false,
                    layout: 'topCenter',
                    theme: 'defaultTheme',
                    timeout: 1000
                });
            } else {
                $.ajax({
                    "url": "@(Url.Action("DiscardInputMaterial", "DiscardInputMaterial"))",
                    "method": "POST",
                    "data":
                        $("#discard-form").serialize(),

                    "success": function (data) {
                        if (data === "-1") {
                            noty({
                                text: 'Số lượng hủy không được lớn hơn số lượng tồn kho',
                                type: 'warning',
                                dismissQueue: false,
                                layout: 'topCenter',
                                theme: 'defaultTheme',
                                timeout: 1500
                            });
                        }
                        else if (data === "1") {
                            noty({
                                text: 'Hủy nguyên liệu thành công',
                                type: 'success',
                                dismissQueue: false,
                                layout: 'topCenter',
                                theme: 'defaultTheme',
                                timeout: 1000
                            });
                            $('#myModal').modal('hide');
                            window.setTimeout(function () {
                                return NotificatePartialLink('@(Url.Action("InputMaterialIndex", "InputMaterial"))')
                            }, 3000);
                        } else {
                            noty({
                                text: 'Không thể hủy nguyên liệu đầu vào',
                                type: 'warning',
                                dismissQueue: false,
                                layout: 'topCenter',
                                theme: 'defaultTheme',
                                timeout: 1000
                            });
                        }
                    },
                    "fail": function () {
                        noty({
                            text: 'Đã có lỗi xảy ra',
                            type: 'error',
                            dismissQueue: false,
                            layout: 'topCenter',
                            theme: 'defaultTheme',
                            timeout: 1000
                        });
                    }
                });
            }
        }
    </script>
}