@using System.Globalization
@using BMA.Models.ViewModel
@model List<CartViewModel>
@{
    ViewBag.Title = "Tạo mới đơn hàng - Chọn sản phẩm";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}
<section class="content-header">
    <h1>Tạo mới đơn hàng</h1>
</section>
<section class="content">
    <div class="box">
        <!--Group header-->
        <div class="box-header">
            <h2 class="box-title">
                Chọn sản phẩm
            </h2>
        </div>
        <div class="box-body">
            <div class="col-xs-12 table-responsive">
                <!--List of product form-->
                <!--Product table-->
                <table id="example1" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-3" style="text-align: center">Tên sản phẩm</th>
                            <th class="col-xs-2" style="text-align: center">Đơn giá</th>
                            <th class="col-xs-2" style="text-align: center">Số lượng</th>
                            <th class="col-xs-2" style="text-align: center">Thành tiền</th>
                            <th class="col-xs-3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CartViewModel product in Model)
                        {
                            <tr>
                                <td class="col-xs-3" style="vertical-align: middle;">
                                    <input type="hidden" name="productId" value="@product.ProductId" />
                                    <input type="hidden" name="productName" value="@product.ProductName" />
                                    @product.ProductName
                                </td>
                                <td class="col-xs-2" style="vertical-align: middle; text-align: right;">
                                    @if (product.RealPrice == 0)
                                    {
                                        <label style="color: black; font-weight: normal">@(product.StandardPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</label>
                                    }
                                    @if (product.RealPrice != 0 && product.RealPrice == product.StandardPrice)
                                    {
                                        <label style="color: black; font-weight: bold">@(product.StandardPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</label>
                                    }
                                    @if (product.RealPrice != 0 && product.RealPrice != product.StandardPrice)
                                    {
                                        <label style="color: blue; font-weight: bold">@(product.RealPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</label>
                                    }

                                </td>
                                <td class="col-xs-2" style="vertical-align: middle; text-align: right;">
                                    @if (product.Quantity != 0)
                                    {
                                        @(product.Quantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN")))
                                    }
                                </td>
                                <td class="col-xs-2" style="text-align: right; vertical-align: middle;">
                                    @if (product.Quantity != 0)
                                    {
                                        @((product.Quantity * product.RealPrice).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))
                                    }
                                </td>
                                <td class="col-xs-3" style="vertical-align: middle;">

                                    @if (product.Quantity != 0)
                                    {
                                        <button class="btn btn-primary btn-sm" id="btn-choose" style="margin-right: 10px" onclick="openContainer(@product.ProductId, '@product.ProductName', @(product.RealPrice == 0 ? product.StandardPrice : product.RealPrice), @product.Quantity)">
                                            <i class="fa fa-edit" style="margin-right: 3px"></i>Chỉnh sửa
                                        </button>
                                        <button class="btn btn-warning btn-sm" id="btn-remove" onclick="removeProductFromOrder(@product.ProductId)">
                                            <i class="fa fa-remove" style="margin-right: 3px"></i>Hủy
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-success btn-sm" id="btn-choose" onclick="openContainer(@product.ProductId, '@product.ProductName', @(product.RealPrice == 0 ? product.StandardPrice : product.RealPrice), @product.Quantity)">
                                            <i class="fa fa-check" style="margin-right: 3px"></i>Chọn
                                        </button>
                                    }
                                    <script>
                                        function openContainer(productId, productName, price, quantity) {
                                            var contentControl = $("<form>", {
                                                "role": "form",
                                                "action": "@(Url.Action("AddProductToOrder", "Order"))",
                                                "method": "POST",
                                                "id": "form-aprrove",
                                                "html": [
                                                    $("<div>", {
                                                        "class": "form-group",
                                                        "html": [
                                                            $("<label>", {
                                                                "html": productName
                                                            }),
                                                            $("<input>", {
                                                                "type": "hidden",
                                                                "name": "productId",
                                                                "value": productId
                                                            })
                                                        ]
                                                    }),
                                                    $("<div>", {
                                                        "class": "form-group",
                                                        "html": [
                                                            "<label>Giá: </label>",
                                                            $("<input>", {
                                                                "class": "form-control",
                                                                "type": "number",
                                                                "name": "price",
                                                                "value": price,
                                                                "min": "1",
                                                                "id": "price"
                                                            })
                                                        ]
                                                    }),
                                                    $("<div>", {
                                                        "class": "form-group",
                                                        "html": [
                                                            "<label>Số lượng: </label>",
                                                            $("<input>", {
                                                                "class": "form-control",
                                                                "type": "number",
                                                                "name": "quantity",
                                                                "value": (quantity > 0 ? quantity : 1),
                                                                "min": "1",
                                                                "id": "quantity"
                                                            })
                                                        ]
                                                    }),
                                                    $("<div>", {
                                                        "class": "form-group",
                                                        "style": "padding-bottom: 20px;",
                                                        "html": [
                                                            $("<button>", {
                                                                "class": "btn btn-danger",
                                                                "type": "button",
                                                                "data-dismiss": "modal",
                                                                "html": "Hủy"
                                                            }),
                                                            $("<button>", {
                                                                "class": "btn btn-success pull-right",
                                                                "type": "submit",
                                                                "style": "margin-right: 10px;",
                                                                "html": "Đồng ý"
                                                            })
                                                        ]
                                                    })
                                                ]
                                            });
                                            var title = 'Chọn sản phẩm';
                                            document.getElementById('popup-body').innerHTML = contentControl[0].outerHTML;
                                            document.getElementById('popup-title').innerHTML = title;
                                            $('#myModal').modal('show');
                                        }

                                        function removeProductFromOrder(productId) {
                                            var form = document.createElement('form');
                                            form.setAttribute('method', 'POST');
                                            form.setAttribute('action', "@Url.Action("RemoveProductFromOrder", "Order")");
                                            var myvar = document.createElement('input');
                                            myvar.setAttribute('name', 'productId');
                                            myvar.setAttribute('type', 'hidden');
                                            myvar.setAttribute('value', productId);
                                            form.appendChild(myvar);
                                            document.body.appendChild(form);
                                            form.submit();
                                        }
                                    </script>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <div class="col-xs-12">

                <a class="btn btn-danger" href="@(Url.Action("CancelAddOrder", "Order"))">
                    <i class="fa fa-close" style="margin-right: 3px;"></i>Hủy đơn hàng
                </a>


                <a class="btn btn-primary pull-right" onclick="checkCart()">
                    <i class="fa fa-edit" style="margin-right: 3px;"></i>Tiếp tục
                    <script type="text/javascript">
                        function checkCart() {
                            $.ajax({
                                url: "@(Url.Action("CheckCart", "Order"))",
                                method: "POST",
                                success: function (data) {
                                    if (data === "1") {
                                        window.location.replace("@(Url.Action("AddCustomerToOrder", "Order"))");
                                    } else if (data === "0") {
                                        var n = noty({
                                            text: 'Vui lòng có một sản phẩm có số lượng lớn hơn 0',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'bottomLeft',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (data === "-1") {
                                        var n = noty({
                                            text: 'Số lượng sản phẩm phải lớn hơn ' + '@(((int)ViewBag.MinQuantity).ToString())',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'bottomLeft',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    }
                                },
                                fail: function (e) {
                                    var n = noty({
                                        text: 'Đã có lỗi xảy ra',
                                        type: 'error',
                                        dismissQueue: false,
                                        layout: 'bottomLeft',
                                        theme: 'defaultTheme',
                                        timeout: 1000
                                    });
                                }
                            });
                        }
                    </script>
                </a>
            </div>
        </div>

    </div>



</section>
