@using System.Globalization
@using BMA.Models
@using BMA.Models.ViewModel
@{
    ViewBag.Title = "Tạo mới đơn hàng - Chọn sản phẩm";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}
<section class="content-header">
    <h1>Tạo mới đơn hàng</h1>
</section>
<section class="content">
    <div class="box">
        <!--Group header-->
        <div class="box-header">
            <h2 class="box-title">
                Chọn sản phẩm
            </h2>
        </div>
        <div class="box-body">
            <!-- Table row -->
            @if (HttpContext.Current.Session["Cart"] != null)
            {
                <div class="row" id="product-info">
                    <div class="col-md-12 table-responsive">
                        <form method="POST" id="add-product-list">
                            <table class="table table-striped" id="product-table">
                                <thead style="font-weight: bold">
                                    <tr>
                                        <th>
                                            Tên sản phẩm
                                        </th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng</th>
                                        <th style="text-align: right">Thành tiền</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (CartViewModel cartViewModel in (Session["Cart"] as List<CartViewModel>))
                                    {
                                        <tr>
                                            <td style="vertical-align: middle;">
                                                @(cartViewModel.ProductName)
                                                <input type="hidden" name="productId" value="@(cartViewModel.ProductId)" />
                                            </td>
                                            <td style="vertical-align: middle;">
                                                <input type="number" name="productPrice" style="text-align: right" min="1000" value="@(cartViewModel.RealPrice)" />
                                            </td>
                                            <td style="vertical-align: middle;">
                                                <input type="number" name="productQuantity" style="text-align: right" min="1" value="@(cartViewModel.Quantity)" />
                                            </td>
                                            <td style="text-align: right; vertical-align: middle;">
                                                <span id="orderItemAmount">@((cartViewModel.RealPrice * cartViewModel.Quantity).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</span>
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                <a class="btn btn-warning" data-role="remove-row-btn">Hủy</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <div class="row" style="display: none;" id="product-info">
                    <div class="col-md-12 table-responsive">
                        <form method="POST" id="add-product-list">
                            <table class="table table-striped" id="product-table">
                                <thead style="font-weight: bold">
                                    <tr>
                                        <th>
                                            Tên sản phẩm
                                        </th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng</th>
                                        <th style="text-align: right">Thành tiền</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </form>
                    </div>
                </div>
            }


            <div class="row">
                <!--Add more product button-->
                <button class="btn btn-success" style="margin-left: 15px;" onclick="show_list_product()">
                    <i class="fa fa-plus" style="margin-right: 3px"></i>Thêm sản phẩm
                    <script type="text/javascript">

                    </script>
                </button>
            </div>
        </div>
        <div class="box-footer">
            <div class="col-xs-12">

                <a class="btn btn-danger" href="@(Url.Action("CancelAddOrder", "Order"))">
                    <i class="fa fa-close" style="margin-right: 3px;"></i>Hủy đơn hàng
                </a>


                <a class="btn btn-primary pull-right" onclick="checkCart()">
                    <i class="fa fa-edit" style="margin-right: 3px;"></i>Tiếp tục
                    <script type="text/javascript">
                        function checkCart() {
                            var totalQuantity = 0;
                            var checkQuantity = 1;
                            var checkPrice = 1;
                            $("#product-table tbody tr").each(function(index, element) {
                                var productQuantity = parseInt($(element).find("td:nth-child(3) input").val());
                                var productPrice = parseInt($(element).find("td:nth-child(2) input").val());
                                if (productQuantity < 1) {
                                    checkQuantity = 0;
                                }
                                if (productPrice < 1000) {
                                    checkPrice = 0;
                                }
                                totalQuantity += productQuantity;
                            });
                            if (checkPrice ===0) {
                                noty({
                                    text: 'Giá sản phẩm phải lớn hơn 1000',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            }else if (checkQuantity === 0) {
                                noty({
                                    text: 'Số lượng sản phẩm phải lớn hơn 0',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            }else if (totalQuantity === 0) {
                                noty({
                                    text: 'Vui lòng có một sản phẩm có số lượng lớn hơn 0',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            } else if (totalQuantity < @((int) ViewBag.MinQuantity)) {
                                noty({
                                    text: "Số lượng sản phẩm phải lớn hơn " + "@(((int) ViewBag.MinQuantity).ToString())",
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                            });
                        } else {
                                var listId = [];
                        var listQuantity = [];
                        var listPrice = [];
                        $("#product-table tbody tr").each(function(index, element) {
                            listId.push($(element).find("td:first input").val());
                            listQuantity.push($(element).find("td:nth-child(3) input").val());
                            listPrice.push($(element).find("td:nth-child(2) input").val());
                        });
                        $.ajax({
                            "url": "@(Url.Action("AddToCart","Order"))",
                            "method": "POST",
                            "data": JSON.stringify({
                                "productId": listId,
                                "productQuantity": listQuantity,
                                "productPrice": listPrice
                            }),
                            "dataType": 'json',
                            "contentType": 'application/json',
                            "success": function(data) {
                                if (data === 1) {
                                    noty({
                                        text: "Hoàn tất chọn sản phẩm",
                                        type: 'success',
                                        dismissQueue: false,
                                        layout: 'topCenter',
                                        theme: 'defaultTheme',
                                        timeout: 3000
                                    });
                                    window.setTimeout(function() {
                                        window.location.replace("@(Url.Action("AddCustomerToOrder", "Order"))");
                                    }, 4000);
                                } else {
                                    noty({
                                        text: 'Không thể chọn sản phẩm',
                                        type: 'warning',
                                        dismissQueue: false,
                                        layout: 'topCenter',
                                        theme: 'defaultTheme',
                                        timeout: 1000
                                    });
                                }
                            },
                            "fail":function(e) {
                                noty({
                                    text: 'Đã có lỗi xảy ra',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            }
                        });
                        }
                        }
                    </script>
                </a>
            </div>
        </div>

    </div>



</section>
@section AddOrderScript{
    <script src="~/Scripts/numeral.js"></script>
    <script>
        var selectIds = [];
        var selectNames = [];
        var selectPrices = [];
        $(document).on("click", ".multiple-choice-table tbody tr", function () {
            if ($(this).attr('class').indexOf('selected')>-1) {
                $(this).removeClass('selected');
                // Remove id
                var idTemp = $(this).find("td:first input").val();
                var idIndex = selectIds.indexOf(idTemp);
                if (idIndex > -1) {
                    selectIds.splice(idIndex, 1);
                }
                // Remove name
                var nameTemp = $(this).find("td:first span").text();
                var nameIndex = selectNames.indexOf(nameTemp);
                if (nameIndex > -1) {
                    selectNames.splice(nameIndex, 1);
                }
                // Remove price
                var priceTemp = $(this).find("td:nth-child(2) span").text();
                var priceIndex = selectPrices.indexOf(priceTemp);
                if (priceIndex > -1) {
                    selectPrices.splice(priceIndex, 1);
                }
            } else {
                $(this).addClass('selected');
                // Add id, name, price
                selectIds.push($(this).find("td:first input").val());
                selectNames.push($(this).find("td:first span").text());
                selectPrices.push($(this).find("td:nth-child(2) span").text());
            }
        });

        $(document).on("change", "[data-role='quantity']", function () {
            var quantity = $(this).val();
            var price = $(this).parent().parent().find("[data-role='price']").val();
            var amount = quantity * price;
            $(this).parent().parent().find("td:nth-child(4) span").html(formatCurrency(amount));
        });

        $(document).on("change", "[data-role='price']", function () {
            var price = $(this).val();
            var quantity = $(this).parent().parent().find("[data-role='quantity']").val();
            var amount = quantity * price;
            $(this).parent().parent().find("td:nth-child(4) span").html(formatCurrency(amount));
        });

        $(document).on("click", "[data-role=remove-row-btn]", function () {
            var productId = $(this).parent().parent().find("td:first input").val();
            var removeRow = $(this).parent().parent();
            $.ajax({
                "url": "@(Url.Action("AddProductInProductListForAdd", "Order"))",
                "method": "POST",
                "data": {
                    "productId": productId
                },
                "success": function (data) {
                    if (data === '0') {
                        noty({
                            text: 'Không hủy sản phẩm khỏi đơn hàng',
                            type: 'warning',
                            dismissQueue: false,
                            layout: 'topCenter',
                            theme: 'defaultTheme',
                            timeout: 1000
                        });
                    }
                    if (data === '1') {
                        removeRow.remove();
                    }
                },
                "fail": function (e) {
                    alert("Have error" + e.toString());
                }
            });
        });
        function show_list_product() {
            $.ajax({
                url: "@(Url.Action("GetListOfProductToAdd", "Order"))",
                method: "POST",
                success: function (data) {
                    document.getElementById('standard-popup-title').innerHTML = "Chọn sản phẩm";
                    document.getElementById('standard-popup-body').innerHTML = data;
                    $('#example2').DataTable({
                        "paging": true,
                        "lengthChange": false,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false
                    });
                    $('#myStandardModal').modal('show');
                },
                fail: function (e) {
                    alert("Have error" + e.toString());
                }
            });
        }

        function fnselect() {

            $.ajax({
                "url": "@Url.Action("RemoveProductInProductListForAdd", "Order")",
                "method": "POST",
                "data": JSON.stringify({ "productId": selectIds }),
                "dataType": 'json',
                "contentType": 'application/json',
                "success": function (data) {
                    if (data === 1) {
                        $('#myStandardModal').modal('hide');
                        for (i = 0; i < selectIds.length; i++) {
                            var price = selectPrices[i].split(".").join("");
                            var productRow = $("<tr>", {
                                "html": [
                                    $("<td>", {
                                        "style": "vertical-align: middle;",
                                        "html": [
                                            selectNames[i],
                                            $("<input>", {
                                                "type": "hidden",
                                                "name": "productId",
                                                "value": selectIds[i]
                                            })
                                        ]
                                    }),
                                    $("<td>", {
                                        "style": "vertical-align: middle;",
                                        "html": $("<input>", {
                                            "type": "number",
                                            "name": "productPrice",
                                            "data-role":"price",
                                            "step":"100",
                                            "value": price,
                                            "min":1000,
                                            "style":"text-align: right;",
                                            "onkeypress":"return event.charCode >= 48 && event.charCode <= 57"

                                        })
                                    }),
                                    $("<td>", {
                                        "style": "vertical-align: middle;",
                                        "html": $("<input>", {
                                            "type": "number",
                                            "name": "productQuantity",
                                            "data-role":"quantity",
                                            "value": "1",
                                            "min": "1",
                                            style:"text-align: right;",
                                            onkeypress:"return event.charCode >= 48 && event.charCode <= 57"
                                        })
                                    }),
                                    $("<td>", {
                                        "style": "text-align: right; vertical-align: middle;",
                                        "html": $("<span>", {
                                            id: "orderItemAmount",
                                            "html": formatCurrency(selectPrices[i])
                                        })
                                    }),
                                    $("<td>", {
                                        "style": "text-align: center; vertical-align: middle;",
                                        "html": $("<a>", {
                                            "class": "btn btn-warning",
                                            "data-role": "remove-row-btn",
                                            "html": "Hủy"
                                        })
                                    })
                                ]
                            });
                            $("#product-table tbody").append(productRow);
                        }
                        $("#product-info").show();
                        // Clear array
                        selectIds = [];
                        selectNames = [];
                        selectPrices = [];
                    } else {
                        alert("Không thể thêm sản phẩm");
                    }
                },
                "fail": function (e) {
                    alert("Have error" + e.toString());
                }
            });
        }
    </script>
}