@using System.Globalization
@using BMA.Models
@using BMA.Models.ViewModel
@{
    ViewBag.Title = "Tạo mới đơn hàng - Chọn sản phẩm";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}
<section class="content-header">
    <h1>Tạo mới đơn hàng</h1>
</section>
<section class="content">
    <div class="box">
        <!--Group header-->
        <div class="box-header">
            <h2 class="box-title">
                Chọn sản phẩm
            </h2>
        </div>
        <div class="box-body">
            <!-- Table row -->
            @if (HttpContext.Current.Session["Cart"] != null)
            {
                <div class="row" id="product-info">
                    <div class="col-md-12 table-responsive">
                        <form method="POST" id="add-product-list">
                            <table class="table table-striped" id="product-table">
                                <thead style="font-weight: bold">
                                    <tr>
                                        <th>
                                            Tên sản phẩm

                                        </th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng</th>
                                        <th style="text-align: right">Thành tiền</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (CartViewModel cartViewModel in (Session["Cart"] as List<CartViewModel>))
                                    {
                                        <tr>
                                            <td style="vertical-align: middle;">
                                                @(cartViewModel.ProductName)
                                                <input type="hidden" name="productId" value="@(cartViewModel.ProductId)" />
                                            </td>
                                            <td style="vertical-align: middle;">
                                                <input type="number" name="productPrice" min="1000" value="@(cartViewModel.RealPrice)" />
                                            </td>
                                            <td style="vertical-align: middle;">
                                                <input type="number" name="productQuantity" min="1" value="@(cartViewModel.Quantity)" />
                                            </td>
                                            <td style="text-align: right; vertical-align: middle;">
                                                <span id="orderItemAmount">@((cartViewModel.RealPrice * cartViewModel.Quantity).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</span>
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                <a class="btn btn-warning" data-role="remove-row-btn">Hủy</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <div class="row" style="display: none;" id="product-info">
                    <div class="col-md-12 table-responsive">
                        <form method="POST" id="add-product-list">
                            <table class="table table-striped" id="product-table">
                                <thead style="font-weight: bold">
                                    <tr>
                                        <th>
                                            Tên sản phẩm

                                        </th>
                                        <th>Đơn giá</th>
                                        <th>Số lượng</th>
                                        <th style="text-align: right">Thành tiền</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </form>
                    </div>
                </div>
            }


            <div class="row">
                <!--Add more product button-->
                <button class="btn btn-success" style="margin-left: 15px;" onclick="show_list_product()">
                    <i class="fa fa-plus" style="margin-right: 3px"></i>Thêm sản phẩm
                    <script type="text/javascript">
                        function show_list_product() {
                            $.ajax({
                                url: "@(Url.Action("GetListOfProductToAdd", "Order"))",
                                method: "POST",
                                success: function (data) {
                                    document.getElementById('standard-popup-title').innerHTML = "Chọn sản phẩm";
                                    document.getElementById('standard-popup-body').innerHTML = data;
                                    $('#myStandardModal').modal('show');
                                },
                                fail: function (e) {
                                    alert("Have error" + e.toString());
                                }
                            });
                        }

                        function fnselect() {
                            var selectedIds = [];
                            var selectedName = [];
                            var selectedPrice = [];

                            $(".multiple-choice-table tr.selected").each(function (index, row) {
                                selectedIds.push($(row).find("td:first input").val());
                                selectedName.push($(row).find("td:first span").text());
                                selectedPrice.push($(row).find("td:nth-child(2) span").text());
                            });


                            $.ajax({
                                "url": "@Url.Action("RemoveProductInProductListForAdd", "Order")",
                                "method": "POST",
                                "data": JSON.stringify({ "productId": selectedIds }),
                                "dataType": 'json',
                                "contentType": 'application/json',
                                "success": function (data) {
                                    if (data === 1) {
                                        $('#myStandardModal').modal('hide');
                                        for (i = 0; i < selectedIds.length; i++) {
                                            var productRow = $("<tr>", {
                                                "html": [
                                                    $("<td>", {
                                                        "style": "vertical-align: middle;",
                                                        "html": [
                                                            selectedName[i],
                                                            $("<input>", {
                                                                "type": "hidden",
                                                                "name": "productId",
                                                                "value": selectedIds[i]
                                                            })
                                                        ]
                                                    }),
                                                    $("<td>", {
                                                        "style": "vertical-align: middle;",
                                                        "html": $("<input>", {
                                                            "type": "number",
                                                            "name": "productPrice",
                                                            "value": selectedPrice[i]
                                                        })
                                                    }),
                                                    $("<td>", {
                                                        "style": "vertical-align: middle;",
                                                        "html": $("<input>", {
                                                            "type": "number",
                                                            "name": "productQuantity",
                                                            "value": "1",
                                                            "min": "1"
                                                        })
                                                    }),
                                                    $("<td>", {
                                                        "style": "text-align: right; vertical-align: middle;",
                                                        "html": $("<span>", {
                                                            id: "orderItemAmount",
                                                            "html": formatCurrency(selectedPrice[i])
                                                        })
                                                    }),
                                                    $("<td>", {
                                                        "style": "text-align: center; vertical-align: middle;",
                                                        "html": $("<a>", {
                                                            "class": "btn btn-warning",
                                                            "data-role": "remove-row-btn",
                                                            "html": "Hủy"
                                                        })
                                                    })
                                                ]
                                            });
                                            $("#product-table tbody").append(productRow);
                                        }
                                        $("#product-info").show();
                                    } else {
                                        alert("Không thể thêm sản phẩm");
                                    }
                                },
                                "fail": function (e) {
                                    alert("Have error" + e.toString());
                                }
                            });
                        }
                    </script>
                </button>
            </div>
        </div>
        <div class="box-footer">
            <div class="col-xs-12">

                <a class="btn btn-danger" href="@(Url.Action("CancelAddOrder", "Order"))">
                    <i class="fa fa-close" style="margin-right: 3px;"></i>Hủy đơn hàng
                </a>


                <a class="btn btn-primary pull-right" onclick="checkCart()">
                    <i class="fa fa-edit" style="margin-right: 3px;"></i>Tiếp tục
                    <script type="text/javascript">
                        function checkCart() {
                            var totalQuantity = 0;
                            $("#product-table tbody tr").each(function(index, element) {
                                var productQuantity = $(element).find("td:nth-child(3) input").val();
                                totalQuantity += parseInt(productQuantity);
                            });

                            if (totalQuantity === 0) {
                                var n = noty({
                                    text: 'Vui lòng có một sản phẩm có số lượng lớn hơn 0',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'bottomLeft',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            } else if (totalQuantity < @((int) ViewBag.MinQuantity)) {
                                noty({
                                    text: "Số lượng sản phẩm phải lớn hơn " + "@(((int) ViewBag.MinQuantity).ToString())",
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'bottomLeft',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                            });
                        } else {
                                    var listId = [];
                        var listQuantity = [];
                        var listPrice = [];
                        $("#product-table tbody tr").each(function(index, element) {
                            listId.push($(element).find("td:first input").val());
                            listQuantity.push($(element).find("td:nth-child(3) input").val());
                            listPrice.push($(element).find("td:nth-child(2) input").val());
                        });
                        $.ajax({
                            "url": "@(Url.Action("AddToCart","Order"))",
                            "method": "POST",
                            "data": JSON.stringify({
                                "productId": listId,
                                "productQuantity": listQuantity,
                                "productPrice": listPrice
                            }),
                            "dataType": 'json',
                            "contentType": 'application/json',
                            "success": function(data) {
                                if (data === 1) {
                                    noty({
                                        text: "Hoàn tất chọn sản phẩm",
                                        type: 'success',
                                        dismissQueue: false,
                                        layout: 'bottomLeft',
                                        theme: 'defaultTheme',
                                        timeout: 3000
                                    });
                                    window.setTimeout(function() {
                                        window.location.replace("@(Url.Action("AddCustomerToOrder", "Order"))");
                                    }, 4000);
                                } else {
                                    noty({
                                        text: 'Không thể chọn sản phẩm',
                                        type: 'warning',
                                        dismissQueue: false,
                                        layout: 'bottomLeft',
                                        theme: 'defaultTheme',
                                        timeout: 1000
                                    });
                                }
                            },
                            "fail":function(e) {
                                noty({
                                    text: 'Đã có lỗi xảy ra',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'bottomLeft',
                                    theme: 'defaultTheme',
                                    timeout: 1000
                                });
                            }
                        });
                        }
                        }
                    </script>
                </a>
            </div>
        </div>

    </div>



</section>
@section AddOrderScript{
    <script>
        $(document).on("click", ".multiple-choice-table tbody tr", function () {
            if ($(this).attr('class') === 'selected') {
                $(this).removeClass('selected');
            } else {
                $(this).addClass('selected');
            }
        });

        $(document).on("keyup click", "input[type='number']", function () {
            var quantity = $(this).val();
            var price = $(this).parent().parent().find("td:nth-child(2) input").val();
            var amount = quantity * price;
            $(this).parent().parent().find("td:nth-child(4) span").html(formatCurrency(amount));
        });

        $(document).on("click", "[data-role=remove-row-btn]", function () {
            var productId = $(this).parent().parent().find("td:first input").val();
            $(this).parent().parent().remove();
            $.ajax({
                "url": "@(Url.Action("AddProductInProductListForAdd", "Order"))",
                "method": "POST",
                "data": {
                    "productId": productId
                },
                "success": function (data) {
                    if (data === "0") {
                        noty({
                            text: 'Không hủy sản phẩm khỏi đơn hàng',
                            type: 'warning',
                            dismissQueue: false,
                            layout: 'bottomLeft',
                            theme: 'defaultTheme',
                            timeout: 1000
                        });
                    } else {
                        $("#material-info").hide();
                    }

                },
                "fail": function (e) {
                    alert("Have error" + e.toString());
                }
            });
        });
    </script>
}