@using System.Globalization
@model BMA.Models.ViewModel.OrderViewModel
@{
    ViewBag.Title = "Tạo đơn hàng - Xác nhận";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Xác nhận</h1>
</section>
<section class="invoice">
    <!--Title row-->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-navicon" style="margin-right: 3px;"></i>
                Thông tin đơn hàng
            </h2>
        </div>
    </div>
    <!-- Info row -->
    <div class="row invoice-info">
        <div class="col-sm-6 invoice-col">
            @if (!Model.IsGuest)
            {
                <div>
                    Thành viên:
                    <b style="font-size: 17px">@Model.OrderPersonName</b>
                </div>
                <div>
                    <b>Địa chỉ: </b>
                    @Model.OrderPersonAddress
                </div>
                <div>
                    <b>Điện thoại: </b>
                    @Model.OrderPersonPhoneNumber
                </div>
                <div>
                    <b>Mã số thuế: </b>
                    @Model.OrderPersonTaxCode
                </div>
            }
            else
            {
                <div>
                    Khách hàng:
                    <b style="font-size: 17px">@Model.OrderPersonName</b>
                </div>
                <div>
                    <b>Địa chỉ: </b>
                    @Model.OrderPersonAddress
                </div>
                <div>
                    <b>Điện thoại: </b>
                    @Model.OrderPersonPhoneNumber
                </div>
                <div>
                    <b>Mã số thuế: </b>
                    @Model.OrderPersonTaxCode
                </div>
            }
        </div>
    </div>
    <!-- Product detail-->
    <div class="row" style="margin-top: 15px;">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-shopping-cart" style="margin-right: 3px;"></i>
                Thông tin sản phẩm
            </h2>
        </div>
    </div>
    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead style="font-weight: bold">
                    <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th style="text-align: right">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.OrderItemList.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@Model.OrderItemList.ElementAt(i).ProductName</td>
                            <td>@Model.OrderItemList.ElementAt(i).OrderItem.RealPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                            <td>@Model.OrderItemList.ElementAt(i).OrderItem.Quantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                            <td style="text-align: right">@Model.OrderItemList.ElementAt(i).OrderItem.Amount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class=" col-md-4">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Tổng cộng: </th>
                        <td style="text-align: right">
                            @Model.Order.Amount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))
                        </td>
                    </tr>
                    <tr>
                        <th>Giảm: </th>
                        <td style="text-align: right">@Model.Order.DiscountAmount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                    </tr>
                    <tr>
                        <th>Thuế(VAT) @(ViewBag.TaxRate)%: </th>
                        <td style="text-align: right">@Model.Order.TaxAmount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                    </tr>

                    <tr>
                        <th>Thành tiền: </th>
                        <td style="text-align: right">@((@Model.Order.Amount + Model.Order.TaxAmount).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Material detail-->
    <!-- Material Table Header-->
    <div class="row" style="margin-top: 15px;">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-cubes" style="margin-right: 3px;"></i>
                Thông tin nguyên liệu
            </h2>
        </div>
    </div>
    <!-- Material Table Content-->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead style="font-weight: bold">
                    <tr>
                        <th>STT</th>
                        <th>Tên nguyên liệu</th>
                        <th>Số lượng cần</th>
                        <th>Số lượng trong kho</th>
                        <th>Tình trạng</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.MaterialList.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@Model.MaterialList[i].ProductMaterialName</td>
                            <td>@Model.MaterialList[i].NeedQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN")) @Model.MaterialList[i].Unit</td>
                            <td>@Model.MaterialList[i].StorageQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN")) @Model.MaterialList[i].Unit</td>
                            @if (Model.MaterialList[i].IsEnough)
                            {
                                <td>
                                    <span class="label label-success">Đủ</span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="label label-danger">Thiếu</span>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-xs-12">
            <h2 class="label label-info" style="font-size: 12pt">Chi phí nguyên liệu: @Model.MaterialCost.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</h2>
        </div>
    </div>


    <!--Button-->
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-primary" style="margin-right: 10px" href="@(Url.Action("AddCustomerToOrder", "Order"))">
                <i class="fa fa-arrow-left" style="margin-right: 3px;"></i>Quay lại

            </a>
            <a class="btn btn-primary" href="@(Url.Action("Add","Order"))">
                <i class="fa fa-shopping-cart" style="margin-right: 3px;"></i>Chọn sản phẩm
            </a>
            <a class="btn btn-danger pull-right" href="@(Url.Action("CancelAddOrder","Order"))">
                <i class="fa fa-close" style="margin-right: 3px;"></i>Hủy
            </a>
            @if (Model.IsEnoughMaterial)
            {
                <button class="btn btn-success pull-right" id="btn-approved" onclick="open_container();" style="margin-right: 10px">
                    <i class="fa fa-check-square-o" style="margin-right: 3px;"></i>Duyệt
                    <script type="text/javascript">
                        function open_container() {
                            var loyalCustControl = $("<div>", {
                                "class": "form-group",
                                "html": [
                                    "<label>Có nhận tiền cọc không ?</label>",
                                    $("<input>", {
                                        "type": "radio",
                                        "name": "isDeposit",
                                        "value": "yes",
                                        "style": "margin-left: 10px",
                                        "data-role": "radio-is-deposit"
                                    }),
                                    "Có ",
                                    $("<input>", {
                                        "type": "radio",
                                        "name": "isDeposit",
                                        "checked":"checked",
                                        "value": "no",
                                        "style": "margin-left: 10px",
                                        "data-role": "radio-is-deposit"
                                    }),
                                    "Không"
                                ]
                            });
                            $(document).on("change", "[data-role=radio-is-deposit]", function () {
                                if ($(this).val() === "yes") {
                                    show_deposit();
                                } else {
                                    hide_deposit();
                                }
                            });
                            var contentControl = $("<form>", {
                                "id": "form-aprrove",
                                "html": [
                                    @(Model.IsLoyal?"loyalCustControl":""),
                                    $("<div>", {
                                        "class": "form-group",
                                        "id": "deposit",
                                        "style": "@(Model.IsLoyal?"display:none;":"")",
                                        "html": [
                                            "<label>Tiền cọc</label>",
                                            $("<input>", {
                                                "type": "number",
                                                "min": "@(Model.MaterialCost)",
                                                "class": "form-control",
                                                "id": "deposit-amount",
                                                "name": "deposit",
                                                "value": "@(Model.MaterialCost)"
                                            })
                                        ]
                                    }),
                                    $("<div>", {
                                        "class": "form-group",
                                        "html": [
                                            "<label>Thời gian giao hàng</label>",
                                            $("<div>", {
                                                "class": "input-group date",
                                                "id": "datetimepicker",
                                                "html": [
                                                    $("<input>", {
                                                        "type": "text",
                                                        "readonly": "readonly",
                                                        "data-format":"dd/MM/yyyy HH:mm",
                                                        "class": "form-control",
                                                        "name": "deliveryDate"
                                                    }),
                                                    $("<span>", {
                                                        "class": "input-group-addon",
                                                        "html" : "<span class='glyphicon glyphicon-calendar'></span>"
                                                    })
                                                ]
                                            }),

                                            $("<input>", {
                                                "type": "hidden",
                                                "name": "orderId",
                                                "value": "@Model.Order.OrderId"
                                            })
                                        ]
                                    })
                                ]
                            });
                            var title = 'Xác nhận duyệt đơn hàng';

                            var footer = $("<div>", {
                                "class": "row",
                                "style": "margin-right: 10px;",
                                "html": [
                                    $("<button>", {
                                        "class": "btn btn-danger pull-right",
                                        "data-dismiss": "modal",
                                        "html": [
                                            "Hủy"
                                        ]
                                    }),
                                    $("<button>", {
                                        "class": "btn btn-success pull-right",
                                        "style": "margin-right: 10px;",
                                        "onclick": "addOrder()",
                                        "html": [
                                            "Đồng ý"
                                        ]
                                    })
                                ]
                            });
                            document.getElementById('popup-body').innerHTML = contentControl[0].outerHTML;
                            document.getElementById('popup-title').innerHTML = title;
                            document.getElementById('popup-footer').innerHTML = footer[0].outerHTML;
                            $('#datetimepicker').datetimepicker({
                                locale: 'vi',
                                ignoreReadonly: true,
                                defaultDate: "@(DateTime.Now.AddDays(1).ToString("MM/dd/yyyy HH:mm"))",
                                minDate: "@(DateTime.Now.AddDays(1).ToString("MM/dd/yyyy HH:mm"))"
                            });
                            $('#myModal').modal('show');
                        }

                        function show_deposit() {
                            $('#deposit').show();
                            $('#deposit-amount').attr("min", @Model.MaterialCost);
                            $('#deposit-amount').val(@Model.MaterialCost);
                        }

                        function hide_deposit() {
                            $('#deposit').hide();
                            $('#deposit-amount').attr("min", 0);
                            $('#deposit-amount').val(0);
                        }

                        function addOrder() {
                            $.ajax({
                                url: "@(Url.Action("AddOrderForCustomer", "Order"))",
                                method: "POST",
                                data: $("#form-aprrove").serialize(),
                                success: function(data) {
                                    if (data === "1") {
                                        $('#myModal').modal('hide');
                                        var n = noty({
                                            text: 'Thêm đơn hàng thành công',
                                            type: 'success',
                                            dismissQueue: false,
                                            layout: 'bottomLeft',
                                            theme: 'defaultTheme',
                                            timeout: 3000
                                        });
                                        window.setTimeout(function() {
                                            window.location.replace("@(Url.Action("Index", "Order"))");
                                        }, 4000);

                                    } else {
                                        $('#myModal').modal('hide');
                                        var n = noty({
                                            text: 'Không thể thêm đơn hàng',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'bottomLeft',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    }
                                },
                                fail: function(e) {
                                    $('#myModal').modal('hide');
                                    var n = noty({
                                        text: 'Đã có lỗi xảy ra',
                                        type: 'error',
                                        dismissQueue: false,
                                        layout: 'bottomRight',
                                        theme: 'defaultTheme',
                                        timeout: 1000
                                    });
                                }
                            });
                        }
                    </script>
                </button>
            }




        </div>
    </div>

</section>
@section CheckoutWithCustomerScript{
    <script type="text/javascript">
        var tempFunction;

        $(document).ready(function () {
            tempFunction = $.fn.modal.Constructor.prototype.enforceFocus;
        });

        $(document).on("show", "#myModal", function() {
            $.fn.modal.Constructor.prototype.enforceFocus = function() {};
        });

        $(document).on("hidden", "#myModal", function() {
            $.fn.modal.Constructor.prototype.enforceFocus = tempFunction;
        });
    </script>

    @if (ViewBag.ShortageOfMaterial != null && ViewBag.ShortageOfMaterial)
    {
        <script type="text/javascript">
            window.onload = function () {
                var n = noty({
                    text: 'Không đủ nguyên liệu. Không thể duyệt đơn hàng.',
                    type: 'warning',
                    dismissQueue: false,
                    layout: 'bottomLeft',
                    theme: 'defaultTheme'
                });
            };
        </script>
        ViewBag.ShortageOfMaterial = null;
    }
}