@using System.Globalization
@using BMA.Common
@using BMA.Models
@model BMA.Models.ViewModel.OrderViewModel
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}
<div id="loading-background" style="display:none;"></div>
<img src="~/Content/Images/ajax-loader.gif" id="loading-indicator" style="display:none" />

<script type="text/javascript">
    $(document).ajaxSend(function (event, request, settings) {
        $('#loading-indicator').show();
        $('#loading-background').show();
    });

    $(document).ajaxComplete(function (event, request, settings) {
        $('#loading-indicator').hide();
        $('#loading-background').hide();
    });
</script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Chi tiết đơn hàng</h1>
</section>
<section class="invoice">
    <!--Title row-->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-navicon" style="margin-right: 3px;"></i>
                Thông tin đơn hàng
            </h2>
        </div>
    </div>
    <!-- Info row -->
    <div class="row invoice-info">
        <div class="col-md-6 invoice-col">
            <div class="row" style="margin-left: 1px; margin-bottom: 10px">
                Mã đơn hàng: <b style="font-size: 17px;">@Model.Order.OrderCode</b>
            </div>



            @if (Model.Order.OrderStatus != 0 && Model.Order.OrderStatus != 1)
            {

                <div class="row" style="margin-left: 1px;">
                    <b>Tiền cọc: </b>
                    @(Model.Order.DepositAmount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))
                </div>
            }
            @if (Model.Order.OrderStatus != 4 && Model.Order.OrderStatus != 5 && Model.Order.OrderStatus != 6)
            {

                <div class="row" style="margin-left: 1px;">
                    <b>Thời gian giao hàng dự kiến: </b>
                    @(Model.Order.PlanDeliveryTime.ToString("dd/MM/yyyy HH:mm"))
                </div>
            }
            @if (Model.Order.OrderStatus >= 2 && Model.Order.StaffApproveUserId != null)
            {
                <div class="row" style="margin-left: 1px;">
                    <b>Người duyệt: </b>
                    @(Model.Order.User1.Fullname)
                </div>
            }
            @if (Model.Order.OrderNote != null)
            {
                <div class="row" style="margin-left: 1px;">
                    <b>Ghi chú: </b>
                    @(Model.Order.OrderNote)
                </div>
            }
            @if (Model.Order.OrderStatus == 6)
            {
                <div class="row" style="margin-left: 1px;">
                    <b>Tiền cọc hoàn trả: </b>
                    @(Model.Order.ReturnDeposit.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))
                </div>
                <div class="row" style="margin-left: 1px;">
                    <b>Người hủy: </b>
                    @(Model.Order.User2.Fullname)
                </div>
            }
            <div class="row" style="vertical-align: middle; margin-left: 1px;">
                <b>Trạng thái: </b>
                <!--Đã hoàn thành-->
                @if (Model.Order.OrderStatus == 5)
                {
                    <span class="label label-success">@CommonData.Status[Model.Order.OrderStatus]</span>
                    <button class="btn btn-info btn-xs" onclick="openExportInNewTab()">
                        Xem hóa đơn xuất
                        <script type="text/javascript">
                            function openExportInNewTab() {
                                var win = window.open("@(Url.Action("ExportBill", "Order", new {orderId = Model.Order.OrderId}))", '_blank');
                                win.focus();
                            }
                        </script>
                    </button>
                }
                <!--Hủy-->
                @if (Model.Order.OrderStatus == 6)
                {
                    <span class="label label-default">@CommonData.Status[Model.Order.OrderStatus]</span>
                }
                <!--Chờ xử lý-->
                @if (Model.Order.OrderStatus == 0)
                {
                    <span class="label label-danger">@CommonData.Status[Model.Order.OrderStatus]</span>

                }

                <!--Chờ xác nhận-->
                @if (Model.Order.OrderStatus == 1)
                {
                    <span class="label label-warning">@CommonData.Status[Model.Order.OrderStatus]</span>

                }
                <!--Đã duyệt!Đang sản xuất|Đang giao hàng-->
                @if (Model.Order.OrderStatus == 2 || Model.Order.OrderStatus == 3 || Model.Order.OrderStatus == 4)
                {

                    if (Model.Order.OrderStatus == 2)
                    {
                        <span class="label label-primary">@CommonData.Status[Model.Order.OrderStatus]</span>
                    }
                    if (Model.Order.OrderStatus == 3 || Model.Order.OrderStatus == 4)
                    {
                        <span class="label label-info">@CommonData.Status[Model.Order.OrderStatus]</span>
                    }
                    if (Model.Order.OrderStatus == 2 || Model.Order.OrderStatus == 3)
                    {
                        <button class="btn btn-success btn-xs" id="changeOrderStatus" onclick="openChangeOrderStatePopup(@Model.Order.OrderId, @Model.Order.OrderStatus)">
                            <i class="fa fa-edit"></i>
                            Thay đổi
                        </button>
                    }
                    if (Model.Order.OrderStatus == 4)
                    {
                        <button class="btn btn-success btn-xs" id="changeOrderStatus" onclick="openChangeOrderStatePopup(@Model.Order.OrderId, @Model.Order.OrderStatus)">
                            <i class="fa fa-edit"></i>
                            Thay đổi
                        </button>
                        <button class="btn btn-info btn-xs" onclick="openExportInNewTab()">
                            Xem hóa đơn xuất
                            <script type="text/javascript">
                                function openExportInNewTab() {
                                    var win = window.open("@(Url.Action("ExportBill", "Order", new {orderId = Model.Order.OrderId}))", '_blank');
                                    win.focus();
                                }
                            </script>
                        </button>
                    }
                    <script type="text/javascript">
                        function openChangeOrderStatePopup(orderId, orderStatus) {
                            var nextState;
                            if (orderStatus === 2) {
                                nextState = $("<span>", {
                                    "class": "label label-info",
                                    "html": "Đang sản xuất"
                                });
                            }
                            if (orderStatus === 3) {
                                nextState = $("<span>", {
                                    "class": "label label-info",
                                    "html": "Đang giao hàng"
                                });
                            }
                            if (orderStatus === 4) {
                                nextState = $("<span>", {
                                    "class": "label label-success",
                                    "html": "Đã hoàn thành"
                                });
                            }
                            var message = $("<div>", {
                                "class": "row",
                                "style": "padding: 0px 10px",
                                "html": [
                                    "Bạn có muốn thay đổi trạng thái hóa đơn thành ",
                                    nextState,
                                    " không ?"
                                ]
                            });
                            var footer = $("<div>", {
                                "class": "row",
                                "style": "padding: 0px 10px",
                                "html": [
                                    $("<button>", {
                                        "class": "btn btn-danger",
                                        "data-dismiss": "modal",
                                        "html": "Hủy"
                                    }),
                                    $("<button>", {
                                        "class": "btn btn-success pull-right",
                                        "onclick": 'changeOrderState(' + orderId + ',' + orderStatus + ')',
                                        "html": "Đồng ý"
                                    })
                                ]
                            });


                            var title = 'Thay đổi trạng thái đơn hàng';
                            document.getElementById('popup-body').innerHTML = message[0].outerHTML;
                            document.getElementById('popup-title').innerHTML = title;
                            document.getElementById('popup-footer').innerHTML = footer[0].outerHTML;
                            $('#myModal').modal('show');
                        }

                        function changeOrderState(orderId, orderStatus) {

                            $.ajax({
                                "url": "@(Url.Action("ChangeOrderState", "Order"))",
                                "method": "POST",
                                "data": {
                                    "orderId": orderId
                                },
                                "success": function (data) {
                                    if (data === "1") {
                                        $('#myModal').modal('hide');
                                        if (orderStatus !== 3) {
                                            var n = noty({
                                                text: 'Thay đổi trạng thái đơn hàng thành công',
                                                type: 'success',
                                                dismissQueue: false,
                                                layout: 'topCenter',
                                                theme: 'defaultTheme',
                                                timeout: 3000
                                            });
                                            window.setTimeout(function () {
                                                location.reload();
                                            }, 4000);
                                        }
                                        if (orderStatus === 3) {
                                            $("#changeOrderStatus").attr("onclick", "");
                                            var n = noty({
                                                text: 'Bạn có muốn xuất hóa đơn không ?',
                                                buttons: [
                                                    {
                                                        addClass: 'btn btn-danger btn-xs',
                                                        text: 'Không',
                                                        onClick: function ($noty) {
                                                            $noty.close();
                                                            location.reload();
                                                        }
                                                    },
                                                    {
                                                        addClass: 'btn btn-primary btn-xs pull-right',
                                                        text: 'Có',
                                                        onClick: function ($noty) {
                                                            $noty.close();
                                                            location.reload();
                                                            var win = window.open("@(Url.Action("ExportBill", "Order", new {orderId = Model.Order.OrderId}))", '_blank');
                                                            win.focus();
                                                        }
                                                    }
                                                ],
                                                type: 'success',
                                                dismissQueue: false,
                                                layout: 'topCenter',
                                                theme: 'defaultTheme'
                                            });
                                        }
                                    } else {
                                        $('#myModal').modal('hide');
                                        var n = noty({
                                            text: 'Không thể thay đổi trạng thái đơn hàng',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                    }

                                },
                                "fail": function (e) {
                                    $('#myModal').modal('hide');
                                    var n = noty({
                                        text: 'Đã có lỗi xảy ra',
                                        type: 'error',
                                        dismissQueue: false,
                                        layout: 'topCenter',
                                        theme: 'defaultTheme',
                                        timeout: 2000
                                    });
                                }
                            });
                        }
                    </script>
                }
            </div>
        </div>
        <div class="col-md-6 invoice-col">
            @if (!Model.IsGuest)
            {
                <div style="margin-bottom: 10px;">
                    Thành viên:
                    <b style="font-size: 17px;">@Model.OrderPersonName</b>
                </div>
                <div><b>Địa chỉ: </b>@Model.OrderPersonAddress</div>
                <div><b>Điện thoại: </b>@Model.OrderPersonPhoneNumber</div>
                <div><b>Mã số thuế: </b>@Model.OrderPersonTaxCode</div>
            }
            else
            {
                <div style="margin-bottom: 10px;">
                    Khách hàng:
                    <b style="font-size: 17px">@Model.OrderPersonName</b>
                </div>
                <div style="word-wrap: break-word"><b>Địa chỉ: </b>@Model.OrderPersonAddress</div>
                <div><b>Điện thoại: </b>@Model.OrderPersonPhoneNumber</div>
            }
        </div>
    </div>

    <!--Timeslide-->
    <div class="row" style="margin: 30px 1px 35px">
        <div id="timeslide">

        </div>
    </div>
    <!-- Product detail-->
    <div class="row" style="margin-top: 15px;">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-shopping-cart" style="margin-right: 3px;"></i>
                Thông tin sản phẩm
            </h2>
        </div>
    </div>
    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead style="font-weight: bold">
                    <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th style="text-align: right">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Order.OrderItems.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@Model.Order.OrderItems.ElementAt(i).Product.ProductName</td>
                            <td>@Model.Order.OrderItems.ElementAt(i).RealPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                            <td>@Model.Order.OrderItems.ElementAt(i).Quantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                            <td style="text-align: right">@Model.Order.OrderItems.ElementAt(i).Amount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8"></div>
        <div class=" col-md-4">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Tổng cộng: </th>
                        <td style="text-align: right">
                            @Model.Order.Amount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))
                        </td>
                    </tr>
                    <tr>
                        <th>Giảm: </th>
                        <td style="text-align: right">@Model.Order.DiscountAmount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                    </tr>
                    <tr>
                        <th>Thuế(VAT) @(ViewBag.TaxRate)%: </th>
                        <td style="text-align: right">@Model.Order.TaxAmount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                    </tr>

                    <tr>
                        <th>Thành tiền: </th>
                        <td style="text-align: right">@((Model.Order.Amount + Model.Order.TaxAmount - Model.Order.DiscountAmount).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    @if (Model.Order.OrderStatus == 0)
    {
        if (Model.Order.GuestInfo == null)
        {
            <!--Edit button-->
            <div class="row">
                <div class="col-xs-12">
                    <a class="btn btn-primary pull-right" style="margin-right: 25px;" href="@(Url.Action("Edit", "Order", new {id = Model.Order.OrderId}))">
                        <i class="fa fa-edit" style="margin-right: 3px;"></i>Chỉnh sửa
                    </a>
                </div>
            </div>
        }

        <!-- Material detail-->
        <!-- Material Table Header-->
        <div class="row" style="margin-top: 15px;">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-cubes" style="margin-right: 3px;"></i>
                    Thông tin nguyên liệu
                </h2>
            </div>
        </div>
        <!-- Material Table Content-->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead style="font-weight: bold">
                        <tr>
                            <th>STT</th>
                            <th>Tên nguyên liệu</th>
                            <th>Số lượng cần</th>
                            <th>Số lượng trong kho</th>
                            <th>Tình trạng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.MaterialList.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>
                                    @Model.MaterialList[i].ProductMaterialName

                                </td>
                                <td>@Model.MaterialList[i].NeedQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN")) @Model.MaterialList[i].Unit</td>
                                <td>@Model.MaterialList[i].StorageQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN")) @Model.MaterialList[i].Unit</td>
                                @if (Model.MaterialList[i].IsEnough)
                                {
                                    <td>
                                        <span class="label label-success">Đủ</span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="label label-danger">Thiếu</span>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-xs-12">
                <h2 class="label label-info" style="font-size: 12pt">Chi phí nguyên liệu: @Model.MaterialCost.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</h2>
            </div>
        </div>
    }
    else
    {
        if (Model.Order.OrderItems.ElementAt(0).OutputMaterials.Count > 0)
        {
            <!-- Material detail-->
            <!-- Material Table Header-->
            <div class="row" style="margin-top: 15px;">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-cubes" style="margin-right: 3px;"></i>
                        Thông tin nguyên liệu
                    </h2>
                </div>
            </div>
            <!-- Material Table Content-->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Tên nguyên liệu</th>
                                <th>Số lượng</th>
                                <th>Xuất</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var orderItem in Model.Order.OrderItems)
                            {
                                <tr>
                                    <td rowspan="@(orderItem.OutputMaterials.Count)">@(orderItem.Product.ProductName)</td>
                                    <td>@(orderItem.OutputMaterials.ElementAt(0).ProductMaterial.ProductMaterialName)</td>
                                    <td>@(orderItem.OutputMaterials.ElementAt(0).ExportQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN"))) @(orderItem.OutputMaterials.ElementAt(0).ProductMaterial.ProductMaterialUnit)</td>
                                    <td>
                                        @foreach (ExportFrom exportFrom in orderItem.OutputMaterials.ElementAt(0).ExportFroms)
                                        {
                                            <div class="row">
                                                <div class="col-md-8">
                                                    Từ hóa đơn @(exportFrom.InputBill.InputBillCode) số lượng @(exportFrom.ExportFromQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN"))) @(orderItem.OutputMaterials.ElementAt(0).ProductMaterial.ProductMaterialUnit)
                                                </div>
                                                <div class="col-md-4">
                                                    <span>
                                                        <a class="btn btn-info btn-xs pull-right">Chi tiết hóa đơn</a>
                                                    </span>
                                                </div>
                                            </div>
                                        }
                                    </td>
                                    <td>
                                        <button class="btn btn-primary btn-xs pull-right" onclick="exportMaterialPopup(@(orderItem.OutputMaterials.ElementAt(0).OutputMaterialId),@(orderItem.OutputMaterials.ElementAt(0).ProductMaterialId),'@Html.Raw(orderItem.OutputMaterials.ElementAt(0).ProductMaterial.ProductMaterialName)',@(orderItem.OutputMaterials.ElementAt(0).ProductMaterial.CurrentQuantity),'@Html.Raw(orderItem.Product.ProductName)')">Xuất thêm nguyên liệu</button>
                                    </td>
                                </tr>
                                for (int i = 1; i < orderItem.OutputMaterials.Count; i++)
                                {
                                    <tr>
                                        <td>@(orderItem.OutputMaterials.ElementAt(i).ProductMaterial.ProductMaterialName)</td>
                                        <td>@(orderItem.OutputMaterials.ElementAt(i).ExportQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN"))) @(orderItem.OutputMaterials.ElementAt(0).ProductMaterial.ProductMaterialUnit)</td>
                                        <td>
                                            @foreach (ExportFrom exportFrom in orderItem.OutputMaterials.ElementAt(i).ExportFroms)
                                            {
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        Từ hóa đơn @(exportFrom.InputBill.InputBillCode) số lượng @(exportFrom.ExportFromQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN"))) @(orderItem.OutputMaterials.ElementAt(0).ProductMaterial.ProductMaterialUnit)
                                                    </div>
                                                    <div class="col-md-4">
                                                        <span>
                                                            <a class="btn btn-info btn-xs pull-right">Chi tiết hóa đơn</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            }
                                        </td>
                                        <td>
                                            <button class="btn btn-primary btn-xs pull-right" onclick="exportMaterialPopup(@(orderItem.OutputMaterials.ElementAt(i).OutputMaterialId),@(orderItem.OutputMaterials.ElementAt(i).ProductMaterialId),'@Html.Raw(orderItem.OutputMaterials.ElementAt(i).ProductMaterial.ProductMaterialName)',@(orderItem.OutputMaterials.ElementAt(i).ProductMaterial.CurrentQuantity),'@Html.Raw(orderItem.Product.ProductName)')">Xuất thêm nguyên liệu</button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

    }

    <!--Button-->
    <div class="row">
        <div class="col-xs-12">
            @if (Model.Order.OrderStatus != 5 && Model.Order.OrderStatus != 6)
            {
            <!--Cancel order-->
                <button class="btn btn-danger" onclick="open_cancel_order(@Model.Order.OrderId, @Model.Order.DepositAmount,@(Model.Order.OrderStatus))">
                    <i class="fa fa-close" style="margin-right: 3px;"></i>Hủy đơn hàng
                    <script type="text/javascript">
                        function open_cancel_order(orderId, deposit, orderStatus) {
                            var body2 = $("<form>", {
                                "action": "@Url.Action("Cancel", "Order")",
                                "method": "post",
                                "class": "form-group",
                                "id": "return-deposit-form",
                                "html": [
                                    "Bạn có chắc chắn hủy đơn hàng này không ?",
                                    $("<input>", {
                                        "type": "hidden",
                                        "name": "orderId",
                                        "value": orderId
                                    }),
                                    $("<input>", {
                                        "type": "hidden",
                                        "name": "isReturnDeposit",
                                        "value": "0"
                                    }),
                                    $("<input>", {
                                        "type": "hidden",
                                        "name": "returnDeposit",
                                        "value": "0"
                                    })
                                ]
                            });
                            var body1 = $("<form>", {
                                "action": "@Url.Action("Cancel", "Order")",
                                "method": "post",
                                "class": "form-group",
                                "id": "return-deposit-form",
                                "html": [
                                    $("<div>", {
                                        "class": "form-group",
                                        "html": [
                                            $("<div>", {
                                                "class": "form-group",
                                                "html": [
                                                    "<label>Có hoàn trả tiền cọc không ?</label>",
                                                    $("<input>", {
                                                        "type": "hidden",
                                                        "name": "orderId",
                                                        "value": orderId
                                                    })
                                                ]

                                            }),
                                            $("<div>", {
                                                "class": "form-group",
                                                "html": [
                                                    $("<input>", {
                                                        "type": "radio",
                                                        "name": "isReturnDeposit",
                                                        "value": "1",
                                                        "style": "margin-left: 10px",
                                                        "data-role": "radio-return-deposit"
                                                    }),
                                                    "Có ",
                                                    $("<input>", {
                                                        "type": "radio",
                                                        "name": "isReturnDeposit",
                                                        "value": "0",
                                                        "checked": "checked",
                                                        "style": "margin-left: 10px",
                                                        "data-role": "radio-return-deposit"
                                                    }),
                                                    "Không"
                                                ]
                                            }),
                                            $("<div>", {
                                                "class": "form-group",
                                                "id": "return_deposit",
                                                "style": "display:none;",
                                                "html": [
                                                    "<label>Tiền cọc hoàn trả: </lable>",
                                                    $("<input>", {
                                                        "type": "number",
                                                        "style": "margin-left: 10px;",
                                                        "name": "returnDeposit",
                                                        "id": "return_deposit_amount",
                                                        "value": deposit,
                                                        "max": deposit,
                                                        "min": "0"
                                                    })
                                                ]
                                            })
                                        ]
                                    })
                                ]
                            });
                            $(document).on("change", "[data-role=radio-return-deposit]", function () {
                                if ($(this).val() === "1") {
                                    $('#return_deposit').show();
                                    $('#return_deposit_amount').val(deposit);
                                    $('#return_deposit_amount').attr("max", deposit);
                                } else {
                                    $('#return_deposit').hide();
                                    $('#return_deposit_amount').val(deposit);
                                }
                            });

                            var title = 'Xác nhận hủy đơn hàng';
                            var footer1 = $("<div>", {
                                "class": "row",
                                "html": [
                                    $("<button>", {
                                        "class": "btn btn-primary",
                                        "data-dismiss": "modal",
                                        "html": [
                                            "Đóng"
                                        ]
                                    }),
                                    $("<button>", {
                                        "class": "btn btn-danger pull-right",
                                        "style": "margin-right: 10px;",
                                        "onclick": "cancel_order()",
                                        "html": [
                                            "Hủy đơn hàng"
                                        ]
                                    })
                                ]
                            });
                            var footer2 = $("<div>", {
                                "class": "row",
                                "html": [
                                    $("<button>", {
                                        "class": "btn btn-primary",
                                        "data-dismiss": "modal",
                                        "html": [
                                            "Không"
                                        ]
                                    }),
                                    $("<button>", {
                                        "class": "btn btn-danger pull-right",
                                        "style": "margin-right: 10px;",
                                        "onclick": "cancel_order()",
                                        "html": [
                                            "Có"
                                        ]
                                    })
                                ]
                            });
                            if (orderStatus === 0) {
                                document.getElementById('popup-body').innerHTML = body2[0].outerHTML;
                                document.getElementById('popup-footer').innerHTML = footer2[0].outerHTML;
                            } else {
                                document.getElementById('popup-body').innerHTML = body1[0].outerHTML;
                                document.getElementById('popup-footer').innerHTML = footer1[0].outerHTML;

                            }
                            document.getElementById('popup-title').innerHTML = title;
                            $('#myModal').modal('show');
                        }

                        function cancel_order() {
                            $('#return-deposit-form').submit();
                        }
                    </script>
                </button>
            }
            <!--Approve order-->
            @if (Model.Order.OrderStatus == 0)
            {
                if (Model.IsEnoughMaterial)
                {
                    <button class="btn btn-success pull-right" id="btn-approved" onclick="approvePopup()">
                        <i class="fa fa-check-square-o" style="margin-right: 3px;"></i>Duyệt
                        <script type="text/javascript">
                            function approvePopup() {
                                var loyalCustControl = $("<div>", {
                                    "class": "form-group",
                                    "html": [
                                        "<label>Có nhận tiền cọc không ?</label>",
                                        $("<input>", {
                                            "type": "radio",
                                            "name": "isDeposit",
                                            "value": "yes",
                                            "style": "margin-left: 10px",
                                            "data-role": "radio-is-deposit"
                                        }),
                                        "Có ",
                                        $("<input>", {
                                            "type": "radio",
                                            "name": "isDeposit",
                                            "selected": "selected",
                                            "value": "no",
                                            "style": "margin-left: 10px",
                                            "data-role": "radio-is-deposit"
                                        }),
                                        "Không"
                                    ]
                                });
                                var addNewCustomerForm = $("<div>", {
                                    "html": [
                                        $("<div>", {
                                            "class": "form-group",
                                            "style": "margin-bottom: 0px;",
                                            "html": [
                                                "<label>Tên khách hàng</label>",
                                                $("<input>", {
                                                    "type": "text",
                                                    "class": "form-control",
                                                    "name": "customerName",
                                                    "id": "customerName",
                                                    "value": "@Html.Raw(Model.OrderPersonName)"
                                                })
                                            ]
                                        }),
                                        $("<div>", {
                                            "class": "form-group",
                                            "style": "margin-bottom: 0px;",
                                            "html": [
                                                '<label>Tên đăng nhập: </label>',
                                                $("<input>", {
                                                    "type": "text",
                                                    "id": "username",
                                                    "class": "form-control",
                                                    "name": "username"
                                                })
                                            ]
                                        }),
                                        $("<div>", {
                                            "class": "form-group",
                                            "style": "margin-bottom: 0px;",
                                            "html": [
                                                '<label>Email: </label>',
                                                $("<input>", {
                                                    "type": "email",
                                                    "class": "form-control",
                                                    "name": "customerEmail",
                                                    "id": "customerEmail",
                                                    "value": ""
                                                })
                                            ]
                                        }),
                                        $("<div>", {
                                            "class": "form-group",
                                            "style": "margin-bottom: 0px;",
                                            "html": [
                                                '<label>Địa chỉ: </label>',
                                                $("<textarea>", {
                                                    "type": "text",
                                                    "class": "form-control",
                                                    "name": "customerAddress",
                                                    "id": "customerAddress",
                                                    "html": "@Html.Raw(Model.OrderPersonAddress)"
                                                })
                                            ]
                                        }),
                                        $("<div>", {
                                            "class": "form-group",
                                            "style": "margin-bottom: 0px;",
                                            "html": [
                                                '<label>Số điện thoại: </label>',
                                                $("<input>", {
                                                    "type": "text",
                                                    "class": "form-control",
                                                    "onkeypress": "return event.charCode >= 48 && event.charCode <= 57",
                                                    "name": "customerPhoneNumber",
                                                    "id": "customerPhoneNumber",
                                                    "value": "@(Model.OrderPersonPhoneNumber)"
                                                })
                                            ]
                                        }),
                                        $("<div>", {
                                            "class": "form-group",
                                            "style": "margin-bottom: 0px;",
                                            "html": [
                                                '<label>Mã số thuế: </label>',
                                                $("<input>", {
                                                    "type": "text",
                                                    "class": "form-control",
                                                    "onkeypress": "return event.charCode >= 48 && event.charCode <= 57",
                                                    "name": "customerTaxCode",
                                                    "id": "customerTaxCode"
                                                })
                                            ]
                                        })
                                    ]
                                });


                                /* /addNewCustomerForm */

                                $(document).on("change", "[data-role=radio-is-deposit]", function () {
                                    if ($(this).val() === "yes") {
                                        showDeposit();
                                    } else {
                                        hideDeposit();
                                    }
                                });
                                var contentControl = $("<form>", {
                                    "id": "form-aprrove",
                                    "html": [
                                        @(Model.IsLoyal ? "loyalCustControl" : ""),
                                        $("<div>", {
                                            "class": "form-group",
                                            "id": "deposit",
                                            "style": "margin-bottom: 0px; @(Model.IsLoyal ? "display:none;" : "")",
                                            "html": [
                                                "<label>Tiền cọc</label>",
                                                $("<input>", {
                                                    "type": "text",
                                                    "class": "form-control",
                                                    "id": "deposit-amount",
                                                    "name": "deposit",
                                                    "style": "text-align: right",
                                                    "data-role": "number",
                                                    "onkeypress": "return event.charCode >= 48 && event.charCode <= 57",
                                                    "value": "@(((Model.MaterialCost / 1000) * 1000).ToString("N0",CultureInfo.CreateSpecificCulture("vi-VN")))"
                                                })
                                            ]
                                        }),
                                        $("<div>", {
                                            "class": "form-group",
                                            "style": "margin-bottom: 0px;",
                                            "html": [
                                                "<label>Thời gian giao hàng</label>",
                                                $("<div>", {
                                                    "class": "input-group date",
                                                    "id": "datetimepicker",
                                                    "html": [
                                                        $("<input>", {
                                                            "type": "text",
                                                            "readonly": "readonly",
                                                            "data-format": "dd/MM/yyyy HH:mm",
                                                            "class": "form-control",
                                                            "name": "deliveryDate"
                                                        }),
                                                        $("<span>", {
                                                            "class": "input-group-addon",
                                                            "html": "<span class='glyphicon glyphicon-calendar' data-toggle='tooltip' data-placement='top' title='Chọn thời gian giao hàng'></span>"
                                                        })
                                                    ]
                                                }),
                                                $("<input>", {
                                                    "type": "hidden",
                                                    "name": "orderId",
                                                    "value": "@Model.Order.OrderId"
                                                })
                                            ]
                                        }),
                                        @(Model.IsGuest ? "addNewCustomerForm" : "")
                                    ]
                                });
                                var title = 'Xác nhận duyệt đơn hàng';
                                var footer = $("<div>", {
                                    "class": "row",
                                    "html": [
                                        $("<button>", {
                                            "class": "btn btn-danger",
                                            "data-dismiss": "modal",
                                            "html": [
                                                "Hủy"
                                            ]
                                        }),
                                        $("<a>", {
                                            "class": "btn btn-success pull-right",
                                            "style": "margin-right: 10px;",
                                            "onclick": "approveOrder(@(Model.IsGuest ? "1" : "0"))",
                                            "html": [
                                                "Đồng ý"
                                            ]
                                        })
                                    ]
                                });
                                setModalBox(title, contentControl[0].outerHTML, footer[0].outerHTML);

                                $('#datetimepicker').datetimepicker({
                                    locale: 'vi',
                                    ignoreReadonly: true,
                                    defaultDate: "@(Model.Order.PlanDeliveryTime >= DateTime.Now.AddDays(1) ? Model.Order.PlanDeliveryTime.ToString("MM/dd/yyyy HH:mm") : DateTime.Now.AddDays(1).ToString("MM/dd/yyyy HH:mm"))",
                                    minDate: "@(DateTime.Now.AddDays(1).ToString("MM/dd/yyyy HH:mm"))"
                                });

                                $('#myModal').modal('show');
                            }


                            function setModalBox(title, content, footer) {
                                document.getElementById('popup-body').innerHTML = content;
                                document.getElementById('popup-title').innerHTML = title;
                                document.getElementById('popup-footer').innerHTML = footer;

                            }

                            function showDeposit() {
                                $('#deposit').show();
                                $('#deposit-amount').val("@(((Model.MaterialCost / 1000) * 1000).ToString("N0",CultureInfo.CreateSpecificCulture("vi-VN")))");
                            }

                            function hideDeposit() {
                                $('#deposit').hide();
                                $('#deposit-amount').attr("min", 0);
                                $('#deposit-amount').val(0);
                            }

                            function approveOrder(isGuest) {
                                if (isGuest === 0) {
                                    var deposit = parseInt($("#deposit-amount").val().split(".").join(""));
                                    var isDeposit = $("#deposit").attr('style').indexOf("display: none");
                                    if (isDeposit === -1 && deposit < parseInt(@((Model.MaterialCost/1000)*1000))) {
                                        noty({
                                            text: 'Tiền cọc không được nhỏ hơn @(((Model.MaterialCost/1000)*1000).ToString("N0",CultureInfo.CreateSpecificCulture("vi-VN"))).',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                        $(this).focus();
                                    } else {
                                        $.ajax({
                                            url: "@Url.Action("ApproveOrder", "Order")",
                                            method: "POST",
                                            data: $("#form-aprrove").serialize(),
                                            success: function (data) {
                                                if (data === "1") {
                                                    $('#myModal').modal('hide');

                                                    noty({
                                                        text: 'Duyệt đơn hàng thành công',
                                                        type: 'success',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 3000
                                                    });
                                                    window.setTimeout(function () {
                                                        window.location.replace("@(Url.Action("Index", "Order"))");
                                                    }, 4000);

                                                } else if (data === '-7') {
                                                    $('#myModal').modal('hide');
                                                    noty({
                                                        text: 'Vui lòng đăng nhập với tài khoản nhân viên',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 3000
                                                    });
                                                    window.setTimeout(function () {
                                                        window.location.replace("@(Url.Action("Index", "Home"))");
                                                    }, 4000);
                                                } else if (data === "-1") {
                                                    $('#myModal').modal('hide');
                                                    noty({
                                                        text: 'Khách hàng đang chỉnh sửa.Không thể duyệt đơn hàng',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                } else if (data === "-2") {
                                                    $('#myModal').modal('hide');
                                                    noty({
                                                        text: 'Không tìm thấy đơn hàng trong hệ thống',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                } else if (data === "-3") {
                                                    $('#myModal').modal('hide');
                                                    noty({
                                                        text: 'Đơn hàng không ở trạng thái "Chờ xử lý".Không thể duyệt đơn hàng',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                } else if (data === "-4") {
                                                    $('#myModal').modal('hide');
                                                    noty({
                                                        text: 'Không đủ nguyên liệu.Không thể duyệt đơn hàng',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                } else if (data === "-5") {
                                                    $('#myModal').modal('hide');
                                                    noty({
                                                        text: 'Không thể gửi mail cho khách hàng',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                } else if (data === "-6") {
                                                    $('#myModal').modal('hide');
                                                    noty({
                                                        text: 'Không đủ nguyên liệu. Không thể duyệt đơn hàng.',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                } else {
                                                    $('#myModal').modal('hide');
                                                    noty({
                                                        text: 'Không thể duyệt đơn hàng',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                }
                                            },
                                            fail: function (e) {
                                                $('#myModal').modal('hide');
                                                var n = noty({
                                                    text: 'Đã có lỗi xảy ra',
                                                    type: 'error',
                                                    dismissQueue: false,
                                                    layout: 'bottomRight',
                                                    theme: 'defaultTheme',
                                                    timeout: 2000
                                                });
                                            }
                                        });
                                    }
                                } else {
                                    var customerName = $("#customerName").val();
                                    var username = $("#username").val();
                                    var email = $("#customerEmail").val();
                                    var address = $("#customerAddress").val();
                                    var phoneNumber = $("#customerPhoneNumber").val();
                                    var taxCode = $("#customerTaxCode").val();
                                    // Validate Customer Name
                                    if (customerName.trim() === '') {
                                        var n = noty({
                                            text: 'Tên khách hàng không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                        $("#customerName").focus();
                                    } else if (customerName.length > 50) {
                                        var n = noty({
                                            text: 'Tên khách hàng không được quá 50 kí tự.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                        $("#customerName").focus();
                                    }
                                        // Validate Username
                                    else if (username.trim() === '') {
                                        var n = noty({
                                            text: 'Tên đăng nhập không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                        $("#username").focus();
                                    } else if (username.length > 50) {
                                        var n = noty({
                                            text: 'Tên đăng nhập không được quá 50 kí tự.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                        $("#username").focus();
                                    }
                                        // Validate email
                                    else if (email.trim() === '') {
                                        var n = noty({
                                            text: 'Email không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                        $("#customerEmail").focus();
                                    } else if (email.length > 50) {
                                        var n = noty({
                                            text: 'Email không được quá 50 kí tự.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                        $("#customerEmail").focus();
                                    } else if (!new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i).test(email)) {
                                        var n = noty({
                                            text: 'Hãy nhập email đúng định dạng.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                        $("#customerEmail").focus();
                                    }
                                        // Validate address
                                    else if (address.trim() === '') {
                                        var n = noty({
                                            text: 'Địa chỉ không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                        $("#customerAddress").focus();
                                    } else if (address.length > 250) {
                                        var n = noty({
                                            text: 'Địa chỉ không được quá 250 kí tự.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                        $("#customerAddress").focus();
                                    }
                                        // Validate Phone Number
                                    else if (phoneNumber.trim() === '') {
                                        var n = noty({
                                            text: 'Số điện thoại không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                        $("#customerPhoneNumber").focus();
                                    } else if (!new RegExp(/^\d{10,11}$/).test(phoneNumber)) {
                                        var n = noty({
                                            text: 'Hãy nhập số điện thoại đúng.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                        $("#customerPhoneNumber").focus();
                                    } else if (taxCode.trim() === '') {
                                        var n = noty({
                                            text: 'Mã số thuế không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                        $("#customerTaxCode").focus();
                                    } else if (!new RegExp(/^\d{10,13}$/).test(taxCode)) {
                                        var n = noty({
                                            text: 'Hãy nhập mã số thuế đúng.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                        $("#customerTaxCode").focus();
                                    } else {
                                        $.ajax({
                                            url: "@(Url.Action("CheckCustomerField", "Order"))",
                                            method: "POST",
                                            data: $("#form-aprrove").serialize(),
                                            success: function (data) {
                                                if (data === '1') {
                                                    var n = noty({
                                                        text: 'Email này đã có trong hệ thống.',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                    $("#customerEmail").focus();
                                                } else if (data === '2') {
                                                    var n = noty({
                                                        text: 'Tên đăng nhập này đã có trong hệ thống.',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                    $("#username").focus();
                                                } else if (data === '3') {
                                                    var n = noty({
                                                        text: 'Địa chỉ này đã có trong hệ thống.',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                    $("#customerAddress").focus();
                                                } else if (data === '4') {
                                                    var n = noty({
                                                        text: 'Số điện thoại này đã có trong hệ thống.',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                    $("#customerPhoneNumber").focus();
                                                } else if (data === '5') {
                                                    var n = noty({
                                                        text: 'Mã số thuế này đã có trong hệ thống.',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                    $("#customerTaxCode").focus();
                                                } else if (data === '0') {
                                                    $.ajax({
                                                        url: "@Url.Action("ApproveOrder", "Order")",
                                                        method: "POST",
                                                        data: $("#form-aprrove").serialize(),
                                                        success: function (data) {
                                                            if (data === "1") {
                                                                $('#myModal').modal('hide');
                                                                noty({
                                                                    text: 'Duyệt đơn hàng thành công',
                                                                    type: 'success',
                                                                    dismissQueue: false,
                                                                    layout: 'topCenter',
                                                                    theme: 'defaultTheme',
                                                                    timeout: 3000
                                                                });
                                                                window.setTimeout(function () {
                                                                    window.location.replace("@(Url.Action("Index", "Order"))");
                                                                }, 4000);
                                                            } else if (data === "-1") {
                                                                $('#myModal').modal('hide');
                                                                noty({
                                                                    text: 'Khách hàng đang chỉnh sửa.Không thể duyệt đơn hàng',
                                                                    type: 'warning',
                                                                    dismissQueue: false,
                                                                    layout: 'topCenter',
                                                                    theme: 'defaultTheme',
                                                                    timeout: 2000
                                                                });
                                                            } else if (data === "-2") {
                                                                $('#myModal').modal('hide');
                                                                noty({
                                                                    text: 'Không tìm thấy đơn hàng trong hệ thống',
                                                                    type: 'warning',
                                                                    dismissQueue: false,
                                                                    layout: 'topCenter',
                                                                    theme: 'defaultTheme',
                                                                    timeout: 2000
                                                                });
                                                            } else if (data === "-3") {
                                                                $('#myModal').modal('hide');
                                                                noty({
                                                                    text: 'Đơn hàng không ở trạng thái "Chờ xử lý".Không thể duyệt đơn hàng',
                                                                    type: 'warning',
                                                                    dismissQueue: false,
                                                                    layout: 'topCenter',
                                                                    theme: 'defaultTheme',
                                                                    timeout: 2000
                                                                });
                                                            } else if (data === "-4") {
                                                                $('#myModal').modal('hide');
                                                                noty({
                                                                    text: 'Không đủ nguyên liệu.Không thể duyệt đơn hàng',
                                                                    type: 'warning',
                                                                    dismissQueue: false,
                                                                    layout: 'topCenter',
                                                                    theme: 'defaultTheme',
                                                                    timeout: 2000
                                                                });
                                                            } else if (data === "0") {
                                                                $('#myModal').modal('hide');
                                                                noty({
                                                                    text: 'Không thể duyệt đơn hàng.',
                                                                    type: 'warning',
                                                                    dismissQueue: false,
                                                                    layout: 'topCenter',
                                                                    theme: 'defaultTheme',
                                                                    timeout: 2000
                                                                });
                                                            } else if (data === '-7') {
                                                                $('#myModal').modal('hide');
                                                                noty({
                                                                    text: 'Vui lòng đăng nhập với tài khoản nhân viên',
                                                                    type: 'warning',
                                                                    dismissQueue: false,
                                                                    layout: 'topCenter',
                                                                    theme: 'defaultTheme',
                                                                    timeout: 3000
                                                                });
                                                                window.setTimeout(function () {
                                                                    window.location.replace("@(Url.Action("Index", "Home"))");
                                                                }, 4000);
                                                            }
                                                        },
                                                        fail: function (e) {
                                                            $('#myModal').modal('hide');
                                                            var n = noty({
                                                                text: 'Đã có lỗi xảy ra',
                                                                type: 'error',
                                                                dismissQueue: false,
                                                                layout: 'bottomRight',
                                                                theme: 'defaultTheme',
                                                                timeout: 2000
                                                            });
                                                        }
                                                    });
                                                }
                                            },
                                            fail: function (e) {
                                                var n = noty({
                                                    text: 'Đã có lỗi xảy ra.',
                                                    type: 'danger',
                                                    dismissQueue: false,
                                                    layout: 'topCenter',
                                                    theme: 'defaultTheme',
                                                    timeout: 2000
                                                });
                                            }
                                        });
                                    }
                                }
                            }
                        </script>
                    </button>
                }
                else
                {
                    <a href="@(Url.Action("AddInputBill", "InputBill"))" class="btn btn-info pull-right">
                        <i class="fa fa-plus" style="margin-right: 3px"></i>
                        Nhập nguyên liệu đầu vào
                    </a>
                }
            }
        </div>
    </div>

</section>
@section OrderDetailScript{
    <script type="text/javascript">

        var tempFunction;

        $(document).ready(function () {
            tempFunction = $.fn.modal.Constructor.prototype.enforceFocus;
        });

        $(document).on("show", "#myModal", function () {
            $.fn.modal.Constructor.prototype.enforceFocus = function () { };
        });

        $(document).on("hidden", "#myModal", function () {
            $.fn.modal.Constructor.prototype.enforceFocus = tempFunction;
        });
    </script>
    @if (ViewBag.ShortageOfMaterial != null && ViewBag.ShortageOfMaterial)
    {
        <script type="text/javascript">
            window.onload = function () {
                var n = noty({
                    text: 'Không đủ nguyên liệu. Không thể duyệt đơn hàng.',
                    type: 'warning',
                    dismissQueue: false,
                    layout: 'topCenter',
                    theme: 'defaultTheme'
                });
            };
        </script>
        ViewBag.ShortageOfMaterial = null;
    }

    @{
        string timeslideData = "";
        if (Model.Order.OrderStatus != 6)
        {
            if (Model.Order.OrderStatus >= 0)
            {
                timeslideData += "<b>Tạo</b><br/>" + Model.Order.CreateTime.ToString("dd/MM/yyyy HH:mm");
            }
            if (Model.Order.OrderStatus == 1)
            {

                timeslideData += ";<b>Chờ xác nhận </b>";
            }
            if (Model.Order.OrderStatus >= 2)
            {
                if (Model.Order.ConfirmTime != null)
                {
                    timeslideData += ";<b>Xác nhận</b></br>" + ((DateTime)Model.Order.ConfirmTime).ToString("dd/MM/yyyy HH:mm");
                }
                else
                {
                    timeslideData += ";<b>Duyệt</b><br/>" + ((DateTime)Model.Order.ApproveTime).ToString("dd/MM/yyyy HH:mm");
                }

            }
            if (Model.Order.OrderStatus >= 3)
            {
                timeslideData += ";<b>Sản xuất</b><br/>" + ((DateTime)Model.Order.StartProduceTime).ToString("dd/MM/yyyy HH:mm");
            }
            if (Model.Order.OrderStatus >= 4)
            {
                timeslideData += ";<b>Giao hàng</b><br/>" + ((DateTime)Model.Order.DeliveryTime).ToString("dd/MM/yyyy HH:mm");
            }
            if (Model.Order.OrderStatus == 5)
            {
                timeslideData += ";<b>Hoàn thành</b><br/>" + ((DateTime)Model.Order.FinishTime).ToString("dd/MM/yyyy HH:mm");
            }
        }
    }

    @if (Model.Order.OrderStatus != 6)
    {
        <script src="~/Scripts/numeral.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var data = "@(Html.Raw(timeslideData))".split(";");

                $("#timeslide").timeslide({
                    number: 5,
                    completed: (data.length),
                    renderLabel: function (i) {
                        return data[i];
                    }
                });
            });
            $(document).on('input', "[data-role='number']", function () {
                var data = $(this).val();
                data = data.split(".").join("");
                data = numeral(data).format('0,0').split(",").join(".");
                $(this).val(data);
            });
            $(document).on('input', '#deposit-amount', function () {
                var data = parseInt($(this).val().split(".").join(""));
                if (data < parseInt(@((Model.MaterialCost/1000)*1000))) {
                    noty({
                        text: 'Tiền cọc không được nhỏ hơn @(((Model.MaterialCost/1000)*1000).ToString("N0",CultureInfo.CreateSpecificCulture("vi-VN"))).',
                        type: 'warning',
                        dismissQueue: false,
                        layout: 'topCenter',
                        theme: 'defaultTheme',
                        timeout: 2000
                    });
                    $(this).focus();
                }
            });

            function exportMaterialPopup(outputMaterialId, productMaterialId, productMaterialName, productMaterialCurrentQuantity, productName) {
                var bodyContent = $("<form>", {
                    "id": "exportMaterialForm",
                    "html": [
                        $("<div>", {
                            "class": "form-group",
                            "html": [
                                "<label>" + productMaterialName + "</label>",
                                $("<input>", {
                                    "type": "hidden",
                                    "name": "productMaterialId",
                                    "value": productMaterialId
                                }),
                                $("<input>", {
                                    "type": "hidden",
                                    "name": "outputMaterialId",
                                    "value": outputMaterialId
                                })
                            ]
                        }),
                        $("<div>", {
                            "class": "form-group",
                            "html": [
                                "<label>Số lượng</label>",
                                $("<input>", {
                                    "type": "number",
                                    "class": "form-control",
                                    "name": "exportQuantity",
                                    "max": productMaterialCurrentQuantity
                                })
                            ]
                        })
                    ]
                });

                var footerContent = $("<div>", {
                    "class": "row",
                    "style": "margin-right: 10px;",
                    "html": [
                        $("<button>", {
                            "class": "btn btn-danger",
                            "html": "Hủy",
                            "data-dismiss": "modal"
                        }),
                        $("<button>", {
                            "class": "btn btn-success",
                            "html": "Xuất",
                            "onclick": "exportMaterial()"
                        })
                    ]
                });
                var title = 'Xuất thêm nguyên liệu cho ' + productName;
                document.getElementById('popup-body').innerHTML = bodyContent[0].outerHTML;
                document.getElementById('popup-title').innerHTML = title;
                document.getElementById('popup-footer').innerHTML = footerContent[0].outerHTML;
                $('#myModal').modal('show');
            }

            function exportMaterial() {
                $.ajax({
                    "url": "@(Url.Action("ExportMaterial","Order"))",
                    "method": "POST",
                    "data": $("#exportMaterialForm").serialize(),
                    "success": function (data) {
                        if (data === "1") {
                            $('#myModal').modal('hide');
                            noty({
                                text: 'Xuất nguyên liệu thành công',
                                type: 'success',
                                dismissQueue: false,
                                layout: 'topCenter',
                                theme: 'defaultTheme',
                                timeout: 3000
                            });
                            window.setTimeout(function () {
                                location.reload();
                            }, 4000);
                        }
                        if (data === "0") {
                            $('#myModal').modal('hide');
                            noty({
                                text: 'Không thể xuất nguyên liệu',
                                type: 'warning',
                                dismissQueue: false,
                                layout: 'topCenter',
                                theme: 'defaultTheme',
                                timeout: 2000
                            });
                        }
                    },
                    "fail": function (e) {
                        $('#myModal').modal('hide');
                        noty({
                            text: 'Đã có lỗi xảy ra',
                            type: 'warning',
                            dismissQueue: false,
                            layout: 'topCenter',
                            theme: 'defaultTheme',
                            timeout: 2000
                        });
                    }

                });
            }
        </script>
    }
}