@using System.Globalization
@using BMA.Common
@model BMA.Models.ViewModel.OrderViewModel
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Chi tiết đơn hàng</h1>
</section>
<section class="content">
    <!--Title row-->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                Thông tin đơn hàng
            </h2>
        </div>
    </div>
    <!-- Info row -->
    <div class="row invoice-info">
        <div class="col-sm-6 invoice-col">
            <b>Mã đơn hàng: </b>
            @Model.Order.OrderCode
            <br />
            <b>Thời gian tạo: </b>
            @Model.Order.CreateTime.ToString(("dd/MM/yyyy hh:mm tt"))
            <br />
            @if (Model.Order.OrderStatus != 0 && Model.Order.OrderStatus != 1)
            {
                if (Model.Order.ApproveTime != null)
                {
                    <b>Thời gian duyệt: </b>
                    @(((DateTime)Model.Order.ApproveTime).ToString("dd/MM/yyyy hh:mm tt"))
                }
                if (Model.Order.User.Fullname != null)
                {
                    <br />
                    <b>Người duyệt: </b>
                    @(Model.Order.User.Fullname)
                }
                if (Model.Order.DepositAmount > 0)
                {
                    <br />
                    <b>Tiền cọc: </b>
                    @(Model.Order.DepositAmount.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN")))
                }
                if (Model.Order.DeliveryTime != null)
                {
                    <br />
                    <b>Ngày giao hàng: </b>
                    @(((DateTime)Model.Order.DeliveryTime).ToString("dd/MM/yyyy"))
                }
            }
            <br />
            <b>Trạng thái: </b>
            @if (Model.Order.OrderStatus == 5)
            {
                <span class="label label-success">@CommonData.Status[Model.Order.OrderStatus]</span>
            }
            else if (Model.Order.OrderStatus == 6)
            {
                <span class="label label-danger">@CommonData.Status[Model.Order.OrderStatus]</span>
            }
            else if (Model.Order.OrderStatus == 0 || Model.Order.OrderStatus == 1)
            {
                <span class="label label-warning">@CommonData.Status[Model.Order.OrderStatus]</span>
            }
            else
            {
                <span class="label label-primary">@CommonData.Status[Model.Order.OrderStatus]</span>
            }
        </div>
        <div class="col-sm-6 invoice-col">
            @if (!Model.IsGuest)
            {
                <div>
                    Thành viên:
                    <b>@Model.OrderPersonName</b>
                </div>
                <div><b>Địa chỉ: </b>@Model.OrderPersonAddress</div>
                <div><b>Điện thoại: </b>@Model.OrderPersonPhoneNumber</div>
                <div><b>Mã số thuế: </b>@Model.OrderPersonTaxCode</div>
            }
            else
            {
                <div>
                    Khách hàng:
                    <b style="font-size: 17px">@Model.OrderPersonName</b>
                </div>
                <div><b>Địa chỉ: </b>@Model.OrderPersonAddress</div>
                <div><b>Điện thoại: </b>@Model.OrderPersonPhoneNumber</div>
            }
        </div>
    </div>
    <!-- Product detail-->
    <div class="row" style="margin-top: 15px;">
        <div class="col-xs-12">
            <h2 class="page-header">
                Thông tin sản phẩm
            </h2>
        </div>
    </div>
    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead style="font-weight: bold">
                    <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th style="text-align: right">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.OrderItemList.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@Model.OrderItemList.ElementAt(i).ProductName</td>
                            <td>@Model.OrderItemList.ElementAt(i).OrderItem.RealPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                            <td>@Model.OrderItemList.ElementAt(i).OrderItem.Quantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                            <td style="text-align: right">@Model.OrderItemList.ElementAt(i).OrderItem.Amount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9"></div>
        <div class=" col-xs-3">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Tổng cộng: </th>
                        <td style="text-align: right">
                            @Model.TotalAmount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))
                        </td>
                    </tr>
                    <tr>
                        <th>Thuế(VAT): </th>
                        <td style="text-align: right">@Model.TaxAmount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                    </tr>
                    <tr>
                        <th>Thành tiền: </th>
                        <td style="text-align: right">@Model.Order.TotalValue.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary pull-right" style="margin-right: 25px;">
                <i class="fa fa-edit" style="margin-right: 3px;"></i>Chỉnh sửa
            </button>
        </div>
    </div>
    @if (Model.Order.OrderStatus == 0)
    {
        <!-- Material detail-->
        <!-- Material Table Header-->
        <div class="row" style="margin-top: 15px;">
            <div class="col-xs-12">
                <h2 class="page-header">
                    Thông tin nguyên liệu
                </h2>
            </div>
        </div>
        <!--Material Noti-->
        if (!Model.IsEnoughMaterial)
        {
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="label label-danger" style="font-size: 14pt">Không đủ nguyên liệu. Không thể duyệt</h2>
                </div>
            </div>
        }
    <!-- Material Table Content-->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead style="font-weight: bold">
                        <tr>
                            <th>STT</th>
                            <th>Tên nguyên liệu</th>
                            <th>Số lượng cần</th>
                            <th>Số lượng trong kho</th>
                            <th>Tình trạng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.MaterialList.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model.MaterialList[i].ProductMaterialName</td>
                                <td>@Model.MaterialList[i].NeedQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN")) @Model.MaterialList[i].Unit</td>
                                <td>@Model.MaterialList[i].StorageQuantity.ToString("N0", CultureInfo.CreateSpecificCulture("vi-VN")) @Model.MaterialList[i].Unit</td>
                                @if (Model.MaterialList[i].IsEnough)
                                {
                                    <td>
                                        <span class="label label-success">Đủ</span>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <span class="label label-danger">Thiếu</span>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-xs-12">
                <h2 class="label label-info" style="font-size: 12pt">Chi phí nguyên liệu: @Model.MaterialCost.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</h2>
            </div>
        </div>
    }

    <!--Button-->
    <div class="row">
        <div class="col-xs-12">
            @if (Model.Order.OrderStatus != 5)
            {
                <!--Cancel order-->
                <button class="btn btn-danger" onclick="open_cancel_order(@Model.Order.OrderId,@Model.Order.DepositAmount)">
                    <i class="fa fa-close" style="margin-right: 3px;"></i>Hủy
                    <script type="text/javascript">
                        function open_cancel_order(orderId, deposit) {
                            var contentControl = $("<form>", {
                                "action": "@Url.Action("Cancel","Order")",
                                "method": "post",
                                "class": "form-group",
                                "id": "return-deposit-form",
                                "html": [
                                    $("<div>", {
                                        "class": "form-group",
                                        "html": [
                                            $("<div>", {
                                                "class": "form-group",
                                                "html": [
                                                    "<label>Có hoàn trả tiền cọc không ?</label>",
                                                    $("<input>", {
                                                        "type": "hidden",
                                                        "name": "orderId",
                                                        "value": orderId
                                                    })
                                                ]

                                            }),
                                            $("<div>", {
                                                "class": "form-group",
                                                "html": [
                                                    $("<input>", {
                                                        "type": "radio",
                                                        "name": "isReturnDeposit",
                                                        "value": "1",
                                                        "style": "margin-left: 10px",
                                                        "data-role": "radio-return-deposit"
                                                    }),
                                                    "Có ",
                                                    $("<input>", {
                                                        "type": "radio",
                                                        "name": "isReturnDeposit",
                                                        "value": "0",
                                                        "checked": "checked",
                                                        "style": "margin-left: 10px",
                                                        "data-role": "radio-return-deposit"
                                                    }),
                                                    "Không"
                                                ]
                                            }),
                                            $("<div>", {
                                                "class": "form-group",
                                                "id": "return_deposit",
                                                "style": "display:none;",
                                                "html": ["<label>Tiền cọc hoàn trả: </lable>",
                                                    $("<input>", {
                                                        "type": "number",
                                                        "name": "returnDeposit",
                                                        "id": "return_deposit_amount",
                                                        "value": deposit,
                                                        "max": deposit,
                                                        "min": "0"
                                                    })
                                                ]
                                            })
                                        ]
                                    })
                                ]
                            });
                            $(document).on("change", "[data-role=radio-return-deposit]", function () {
                                if ($(this).val() === 1) {
                                    $('#return_deposit').show();
                                    $('#return_deposit_amount').val(deposit);
                                    $('#return_deposit_amount').attr("max", deposit);
                                } else {
                                    $('#return_deposit').hide();
                                    $('#return_deposit_amount').val(deposit);
                                }
                            });

                            var title = 'Xác nhận hủy đơn hàng';
                            var footerControl = $("<div>", {
                                "class": "row",
                                "html": [
                                    $("<button>", {
                                        "class": "btn btn-primary",
                                        "data-dismiss": "modal",
                                        "html": [
                                            "Đóng"
                                        ]
                                    }),
                                    $("<button>", {
                                        "class": "btn btn-danger",
                                        "style": "margin-right: 10px;",
                                        "onclick": "cancel_order()",
                                        "html": [
                                            "Hủy"
                                        ]
                                    })
                                ]
                            });
                            document.getElementById('popup-body').innerHTML = contentControl[0].outerHTML;
                            document.getElementById('popup-title').innerHTML = title;
                            document.getElementById('popup-footer').innerHTML = footerControl[0].outerHTML;
                            $('#myModal').modal('show');
                        }
                        function cancel_order() {
                            $('#return-deposit-form').submit();
                        }
                    </script>



                </button>
            }
            <!--Approve order-->
            @if (Model.Order.OrderStatus == 0)
            {
                if (Model.IsEnoughMaterial)
                {
                    <button class="btn btn-success pull-right" id="btn-approved" onclick="open_container()">
                        <i class="fa fa-check-square-o" style="margin-right: 3px;"></i>Duyệt
                        <script type="text/javascript">
                            function open_container() {
                                var loyalCustControl = $("<div>", {
                                    "class": "form-group",
                                    "html": [
                                        "<label>Có nhận tiền cọc không ?</label>",
                                        $("<input>", {
                                            "type": "radio",
                                            "name": "isDeposit",
                                            "value": "yes",
                                            "style": "margin-left: 10px",
                                            "data-role": "radio-is-deposit"
                                        }),
                                        "Có ",
                                        $("<input>", {
                                            "type": "radio",
                                            "name": "isDeposit",
                                            "value": "no",
                                            "style": "margin-left: 10px",
                                            "data-role": "radio-is-deposit"
                                        }),
                                        "Không"
                                    ]
                                });
                                $(document).on("change", "[data-role=radio-is-deposit]", function () {
                                    if ($(this).val() === "yes") {
                                        show_deposit();
                                    } else {
                                        hide_deposit();
                                    }
                                });
                                var contentControl = $("<form>", {
                                    "action": "@Url.Action("ApproveOrder","Order")",
                                    "method": "post",
                                    "id": "form-aprrove",
                                    "html": [
                                        @(Model.IsLoyal?"loyalCustControl":""),
                                        $("<div>", {
                                            "class": "form-group",
                                            "id": "deposit",
                                            "style": "@(Model.IsLoyal?"display:none;":"")",
                                            "html": [
                                                "<label>Tiền cọc</label>",
                                                $("<input>", {
                                                    "type": "number",
                                                    "min": "@(Model.MaterialCost)",
                                                    "class": "form-control",
                                                    "id": "deposit-amount",
                                                    "name": "deposit",
                                                    "value": "@(Model.MaterialCost)"
                                                })
                                            ]
                                        }),
                                        $("<div>", {
                                            "class": "form-group",
                                            "html": [
                                                '<label>Ngày giao hàng</label>',
                                                $("<input>", {
                                                    "type": "date",
                                                    "min": "@(DateTime.Now.ToString("yyyy-MM-dd"))",
                                                    "class": "form-control",
                                                    "name": "deliveryDate",
                                                    "value": "@(((DateTime)Model.Order.DeliveryTime).ToString("yyyy-MM-dd"))"

                                                }),
                                                $("<input>", {
                                                    "type": "hidden",
                                                    "name": "orderId",
                                                    "value": "@Model.Order.OrderId"
                                                })
                                            ]
                                        }),
                                        $("<div>", {
                                            "class": "form-group",
                                            "style": "padding-bottom: 20px;",
                                            "html": [
                                                $("<button>", {
                                                    "class": "btn btn-danger pull-right",
                                                    "data-dismiss": "modal",
                                                    "html": [
                                                        "Hủy"
                                                    ]
                                                }),
                                                $("<button>", {
                                                    "class": "btn btn-success pull-right",
                                                    "style": "margin-right: 10px;",
                                                    "type": "submit",
                                                    "html": [
                                                        "Đồng ý"
                                                    ]
                                                })
                                            ]
                                        })
                                    ]
                                });
                                var title = 'Xác nhận duyệt đơn hàng';
                                var footer = '';
                                setModalBox(title, contentControl[0].outerHTML, footer);
                                $('#myModal').modal('show');
                            }

                            function setModalBox(title, content, footer) {
                                document.getElementById('popup-body').innerHTML = content;
                                document.getElementById('popup-title').innerHTML = title;
                                document.getElementById('popup-footer').innerHTML = footer;

                            }

                            function show_deposit() {
                                $('#deposit').show();
                                $('#deposit-amount').attr("min", @Model.MaterialCost);
                                $('#deposit-amount').val(@Model.MaterialCost);
                            }

                            function hide_deposit() {
                                $('#deposit').hide();
                                $('#deposit-amount').attr("min", 0);
                                $('#deposit-amount').val(0);
                            }
                        </script>
                    </button>
                }
            }
        </div>
    </div>

</section>
