@using System.Globalization
@using BMA.Common
@using BMA.Models
@using BMA.Models.ViewModel
@model List<BMA.Models.ViewModel.OrderViewModel>
@{
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <!-- box-body -->
        <div class="box-body">
            <div class="row">
                <button class="btn btn-info" onclick="open_shortage_material_list()">
                    <i class="fa fa-list" style="margin-right: 3px"></i>Danh sách nguyên liệu bị thiếu
                    <script type="text/javascript">
                        function open_shortage_material_list() {
                            $.ajax({
                                url: "@(Url.Action("GetShortageMaterialList","Order"))",
                                method: "POST",
                                success: function (data) {
                                    document.getElementById('large-popup-body').innerHTML = data;
                                    document.getElementById('large-popup-title').innerHTML = "<h3>Danh sách nguyên liệu thiếu</h3>";
                                    $('#myLargeModal').modal('show');
                                },
                                fail: function (e) {
                                    alert("Have error: " + e);
                                }

                            });
                        }
                    </script>
                </button>
            </div>
            <div class="row" style="margin-right: 10px; margin-left: 10px;">
                <table id="example1" class="table table-hover table-bordered">
                    <thead style="font-weight: bold">
                        <tr>

                            <th>Mã đơn hàng</th>
                            <th>Thời gian đặt hàng</th>
                            <th>Thời gian giao hàng dự kiến</th>
                            <th>Tổng giá trị</th>
                            <th>Thời gian duyệt</th>
                            <th>Tiền cọc</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (OrderViewModel orderViewModel in Model)
                        {
                            <tr>
                                <!--Mã đơn hàng-->
                                <td style="text-align: center; vertical-align: middle;">@orderViewModel.Order.OrderCode</td>
                                <!--Thời gian đặt hàng-->
                                <td style="vertical-align: middle">
                                    @(orderViewModel.Order.CreateTime.ToString("dd/MM/yyyy HH:mm"))
                                </td>
                                <!--Thời gian giao hàng dự kiến-->
                                <td style="vertical-align: middle">
                                    @( orderViewModel.Order.PlanDeliveryTime.ToString("dd/MM/yyyy"))
                                </td>
                                <!--Tổng giá trị-->
                                <td style="text-align: right; vertical-align: middle">
                                    @((orderViewModel.Order.Amount + orderViewModel.Order.TaxAmount).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))
                                </td>
                                <!--Thời gian duyệt-->
                                <td style="vertical-align: middle">
                                    @if (orderViewModel.Order.OrderStatus != 0 && orderViewModel.Order.OrderStatus != 1 && orderViewModel.Order.ApproveTime != null)
                                    {
                                        @(((DateTime)orderViewModel.Order.ApproveTime).ToString("dd/MM/yyyy HH:mm"))
                                    }
                                </td>
                                <!--Tiền cọc-->
                                <td style="vertical-align: middle; text-align: right">
                                    @if (orderViewModel.Order.OrderStatus != 0)
                                    {
                                        @(orderViewModel.Order.DepositAmount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))
                                    }
                                </td>

                                <!--Trạng thái-->
                                <!--Chờ xử lý-->
                                @if (orderViewModel.Order.OrderStatus == 0)
                                {
                                    <td style="vertical-align: middle">
                                        <span class="label label-danger">@CommonData.Status[orderViewModel.Order.OrderStatus]</span>
                                        @if (!orderViewModel.IsEnoughMaterial)
                                        {
                                            <br />
                                            <span class="label label-warning">
                                                <i class="fa  fa-bolt" style="margin-right: 3px"></i> Thiếu nguyên liệu
                                            </span>
                                        }
                                    </td>
                                }
                                <!--Chờ xác nhận-->
                                @if (orderViewModel.Order.OrderStatus == 1)
                                {
                                    <td style="vertical-align: middle">
                                        <span class="label label-warning">@CommonData.Status[orderViewModel.Order.OrderStatus]</span>
                                    </td>
                                }
                                <!--Đã duyệt-->
                                @if (orderViewModel.Order.OrderStatus == 2)
                                {
                                    <td style="vertical-align: middle">
                                        <span class="label label-primary">@CommonData.Status[orderViewModel.Order.OrderStatus]</span>
                                    </td>
                                }
                                <!--Đang sản xuất|Đang giao hàng-->
                                @if (orderViewModel.Order.OrderStatus == 3 || orderViewModel.Order.OrderStatus == 4)
                                {
                                    <td style="vertical-align: middle">
                                        <span class="label label-info">@CommonData.Status[orderViewModel.Order.OrderStatus]</span>
                                    </td>
                                }
                                <!--Đã hoàn thành-->
                                @if (orderViewModel.Order.OrderStatus == 5)
                                {
                                    <td style="vertical-align: middle">
                                        <span class="label label-success">@CommonData.Status[orderViewModel.Order.OrderStatus]</span>
                                    </td>
                                }
                                <!--Hủy-->
                                @if (orderViewModel.Order.OrderStatus == 6)
                                {
                                    <td style="vertical-align: middle">
                                        <span class="label label-default">@CommonData.Status[orderViewModel.Order.OrderStatus]</span>
                                    </td>
                                }

                                <!--Link-->
                                <td style="vertical-align: middle">
                                    <!--Xem-->
                                    <a class="btn btn-link btn-xs" href="@(Url.Action("Detail", "Order", new {id = orderViewModel.Order.OrderId}))">
                                        <i class="fa fa-navicon" style="margin-right: 3px"></i>
                                        Xem
                                    </a>
                                    @if (orderViewModel.Order.OrderStatus == 0 && orderViewModel.Order.GuestInfo == null)
                                    {
                                    <!--Sửa-->
                                        <a class="btn btn-link btn-xs" href="@(Url.Action("Edit", "Order", new {id = orderViewModel.Order.OrderId}))">
                                            <i class="fa fa-edit" style="margin-right: 3px"></i>
                                            Sửa
                                        </a>
                                    }
                                    @if (orderViewModel.Order.OrderStatus != 5 && orderViewModel.Order.OrderStatus != 6)
                                    {
                                    <!--Hủy-->
                                        <a class="btn btn-link btn-xs" onclick="open_cancel_order(@orderViewModel.Order.OrderId, @(orderViewModel.Order.DepositAmount),@(orderViewModel.Order.OrderStatus))">
                                            <i class="fa fa-close" style="margin-right: 3px"></i>
                                            Hủy
                                            <script type="text/javascript">
                                                function open_cancel_order(orderId, deposit, orderStatus) {
                                                    var body2 = $("<form>", {
                                                        "action": "@Url.Action("Cancel", "Order")",
                                                        "method": "post",
                                                        "class": "form-group",
                                                        "id": "return-deposit-form",
                                                        "html": [
                                                            "Bạn có chắc chắn hủy đơn hàng này không ?",
                                                            $("<input>", {
                                                                "type": "hidden",
                                                                "name": "orderId",
                                                                "value": orderId
                                                            }),
                                                            $("<input>", {
                                                                "type": "hidden",
                                                                "name": "isReturnDeposit",
                                                                "value": "0"
                                                            }),
                                                            $("<input>", {
                                                                "type": "hidden",
                                                                "name": "returnDeposit",
                                                                "value": "0"
                                                            })
                                                        ]
                                                    });
                                                    var body1 = $("<form>", {
                                                        "action": "@Url.Action("Cancel", "Order")",
                                                        "method": "post",
                                                        "class": "form-group",
                                                        "id": "return-deposit-form",
                                                        "html": [
                                                            $("<div>", {
                                                                "class": "form-group",
                                                                "html": [
                                                                    $("<div>", {
                                                                        "class": "form-group",
                                                                        "html": [
                                                                            "<label>Có hoàn trả tiền cọc không ?</label>",
                                                                            $("<input>", {
                                                                                "type": "hidden",
                                                                                "name": "orderId",
                                                                                "value": orderId
                                                                            })
                                                                        ]

                                                                    }),
                                                                    $("<div>", {
                                                                        "class": "form-group",
                                                                        "html": [
                                                                            $("<input>", {
                                                                                "type": "radio",
                                                                                "name": "isReturnDeposit",
                                                                                "value": "1",
                                                                                "style": "margin-left: 10px",
                                                                                "data-role": "radio-return-deposit"
                                                                            }),
                                                                            "Có ",
                                                                            $("<input>", {
                                                                                "type": "radio",
                                                                                "name": "isReturnDeposit",
                                                                                "value": "0",
                                                                                "checked": "checked",
                                                                                "style": "margin-left: 10px",
                                                                                "data-role": "radio-return-deposit"
                                                                            }),
                                                                            "Không"
                                                                        ]
                                                                    }),
                                                                    $("<div>", {
                                                                        "class": "form-group",
                                                                        "id": "return_deposit",
                                                                        "style": "display:none;",
                                                                        "html": [
                                                                            "<label>Tiền cọc hoàn trả: </lable>",
                                                                            $("<input>", {
                                                                                "type": "number",
                                                                                "style": "margin-left: 10px;",
                                                                                "name": "returnDeposit",
                                                                                "id": "return_deposit_amount",
                                                                                "value": deposit,
                                                                                "max": deposit,
                                                                                "min": "0"
                                                                            })
                                                                        ]
                                                                    })
                                                                ]
                                                            })
                                                        ]
                                                    });
                                                    $(document).on("change", "[data-role=radio-return-deposit]", function () {
                                                        if ($(this).val() === "1") {
                                                            $('#return_deposit').show();
                                                            $('#return_deposit_amount').val(deposit);
                                                            $('#return_deposit_amount').attr("max", deposit);
                                                        } else {
                                                            $('#return_deposit').hide();
                                                            $('#return_deposit_amount').val(deposit);
                                                        }
                                                    });

                                                    var title = 'Xác nhận hủy đơn hàng';
                                                    var footer1 = $("<div>", {
                                                        "class": "row",
                                                        "html": [
                                                            $("<button>", {
                                                                "class": "btn btn-primary",
                                                                "data-dismiss": "modal",
                                                                "html": [
                                                                    "Đóng"
                                                                ]
                                                            }),
                                                            $("<button>", {
                                                                "class": "btn btn-danger pull-right",
                                                                "style": "margin-right: 10px;",
                                                                "onclick": "cancel_order()",
                                                                "html": [
                                                                    "Hủy đơn hàng"
                                                                ]
                                                            })
                                                        ]
                                                    });
                                                    var footer2 = $("<div>", {
                                                        "class": "row",
                                                        "html": [
                                                            $("<button>", {
                                                                "class": "btn btn-primary",
                                                                "data-dismiss": "modal",
                                                                "html": [
                                                                    "Không"
                                                                ]
                                                            }),
                                                            $("<button>", {
                                                                "class": "btn btn-danger pull-right",
                                                                "style": "margin-right: 10px;",
                                                                "onclick": "cancel_order()",
                                                                "html": [
                                                                    "Có"
                                                                ]
                                                            })
                                                        ]
                                                    });
                                                    if (orderStatus === 0) {
                                                        document.getElementById('popup-body').innerHTML = body2[0].outerHTML;
                                                        document.getElementById('popup-footer').innerHTML = footer2[0].outerHTML;
                                                    } else {
                                                        document.getElementById('popup-body').innerHTML = body1[0].outerHTML;
                                                        document.getElementById('popup-footer').innerHTML = footer1[0].outerHTML;

                                                    }
                                                    document.getElementById('popup-title').innerHTML = title;
                                                    $('#myModal').modal('show');
                                                }

                                                function cancel_order() {
                                                    $('#return-deposit-form').submit();
                                                }
                                            </script>
                                        </a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>