@using System.Globalization
@using BMA.Common
@using BMA.Models
@model List<Order>
@{
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <!-- box-body -->
        <div class="box-body">
            <table id="example1" class="table table-hover table-bordered">
                <thead style="font-weight: bold">
                    <tr>

                        <th>Mã đơn hàng</th>
                        <th>Thời gian đặt hàng</th>
                        <th>Thời gian duyệt</th>
                        <th>Thời gian giao hàng</th>
                        <th>Tiền cọc</th>
                        <th>Tổng giá trị</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Order order in Model)
                    {
                        <tr>

                            <td>@order.OrderCode</td>
                            <td>
                                @CommonFunction.ChangeDateTimeToVietnameseType(order.CreateTime)
                            </td>
                            <td>
                                @if (order.OrderStatus != 0 && order.OrderStatus != 1 && order.ApproveTime != null)
                                {
                                    @CommonFunction.ChangeDateTimeToVietnameseType((DateTime)order.ApproveTime)
                                }
                            </td>
                            <td>
                                @if (order.DeliveryTime != null)
                                {
                                    @(((DateTime)order.DeliveryTime).ToString("dd/MM/yyyy"))
                                }
                            </td>
                            <td>
                                @if (order.DepositAmount != null)
                                {
                                    @(order.DepositAmount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))
                                }
                            </td>
                            <td style="text-align: right">@order.TotalValue.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                            <!--OrderStatus-->
                            <!--Chờ xử lý-->
                            @if (order.OrderStatus == 0)
                            {
                                <td>
                                    <span class="label label-danger">@CommonData.Status[order.OrderStatus]</span>
                                </td>
                            }
                            <!--Chờ xác nhận-->
                            @if (order.OrderStatus == 1)
                            {
                                <td>
                                    <span class="label label-warning">@CommonData.Status[order.OrderStatus]</span>
                                </td>
                            }
                            <!--Đã duyệt-->
                            @if (order.OrderStatus == 2)
                            {
                                <td>
                                    <span class="label label-primary">@CommonData.Status[order.OrderStatus]</span>
                                </td>
                            }
                            <!--Đang sản xuất|Đang giao hàng-->
                            @if (order.OrderStatus == 3 || order.OrderStatus == 4)
                            {
                                <td>
                                    <span class="label label-info">@CommonData.Status[order.OrderStatus]</span>
                                </td>
                            }
                            <!--Đã hoàn thành-->
                            @if (order.OrderStatus == 5)
                            {
                                <td>
                                    <span class="label label-success">@CommonData.Status[order.OrderStatus]</span>
                                </td>
                            }
                            <!--Hủy-->
                            @if (order.OrderStatus == 6)
                            {
                                <td>
                                    <span class="label label-danger">@CommonData.Status[order.OrderStatus]</span>
                                </td>
                            }

                            <!--Link-->
                            <td>
                                @Html.ActionLink("Xem", "Detail", new { id = order.OrderId })
                                @if (order.OrderStatus == 0)
                                {
                                    @Html.ActionLink("Sửa", "Edit", new { id = order.OrderId })
                                }
                                @if (order.OrderStatus != 5 && order.OrderStatus != 6)
                                {
                                    <a onclick="open_cancel_order(@order.OrderId,@(order.DepositAmount))">
                                        Hủy
                                        <script type="text/javascript">
                                            function open_cancel_order(orderId, deposit) {
                                                var contentControl = $("<form>", {
                                                    "action": "@Url.Action("Cancel","Order")",
                                                    "method": "post",
                                                    "class": "form-group",
                                                    "id": "return-deposit-form",
                                                    "html": [
                                                        $("<div>", {
                                                            "class": "form-group",
                                                            "html": [
                                                                $("<div>", {
                                                                    "class": "form-group",
                                                                    "html": [
                                                                        "<label>Có hoàn trả tiền cọc không ?</label>",
                                                                        $("<input>", {
                                                                            "type": "hidden",
                                                                            "name": "orderId",
                                                                            "value": orderId
                                                                        })
                                                                    ]

                                                                }),
                                                                $("<div>", {
                                                                    "class": "form-group",
                                                                    "html": [
                                                                        $("<input>", {
                                                                            "type": "radio",
                                                                            "name": "isReturnDeposit",
                                                                            "value": "1",
                                                                            "style": "margin-left: 10px",
                                                                            "data-role": "radio-return-deposit"
                                                                        }),
                                                                        "Có ",
                                                                        $("<input>", {
                                                                            "type": "radio",
                                                                            "name": "isReturnDeposit",
                                                                            "value": "0",
                                                                            "checked": "checked",
                                                                            "style": "margin-left: 10px",
                                                                            "data-role": "radio-return-deposit"
                                                                        }),
                                                                        "Không"
                                                                    ]
                                                                }),
                                                                $("<div>", {
                                                                    "class": "form-group",
                                                                    "id": "return_deposit",
                                                                    "style": "display:none;",
                                                                    "html": ["<label>Tiền cọc hoàn trả: </lable>",
                                                                        $("<input>", {
                                                                            "type": "number",
                                                                            "name": "returnDeposit",
                                                                            "id": "return_deposit_amount",
                                                                            "value": deposit,
                                                                            "max": deposit,
                                                                            "min": "0"
                                                                        })
                                                                    ]
                                                                })
                                                            ]
                                                        })
                                                    ]
                                                });
                                                $(document).on("change", "[data-role=radio-return-deposit]", function () {
                                                    if ($(this).val() === 1) {
                                                        $('#return_deposit').show();
                                                        $('#return_deposit_amount').val(deposit);
                                                        $('#return_deposit_amount').attr("max", deposit);
                                                    } else {
                                                        $('#return_deposit').hide();
                                                        $('#return_deposit_amount').val(deposit);
                                                    }
                                                });

                                                var title = 'Xác nhận hủy đơn hàng';
                                                var footerControl = $("<div>", {
                                                    "class": "row",
                                                    "html": [
                                                        $("<button>", {
                                                            "class": "btn btn-primary",
                                                            "data-dismiss": "modal",
                                                            "html": [
                                                                "Đóng"
                                                            ]
                                                        }),
                                                        $("<button>", {
                                                            "class": "btn btn-danger",
                                                            "style": "margin-right: 10px;",
                                                            "onclick": "cancel_order()",
                                                            "html": [
                                                                "Hủy"
                                                            ]
                                                        })
                                                    ]
                                                });
                                                document.getElementById('popup-body').innerHTML = contentControl[0].outerHTML;
                                                document.getElementById('popup-title').innerHTML = title;
                                                document.getElementById('popup-footer').innerHTML = footerControl[0].outerHTML;
                                                $('#myModal').modal('show');
                                            }
                                            function cancel_order() {
                                                $('#return-deposit-form').submit();
                                            }
                                        </script>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>