@using System.Globalization
@using BMA.Common
@using BMA.Models
@model List<Order>
@{
    ViewBag.Title = "Danh sách đơn hàng";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Danh sách đơn hàng</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <!-- box-body -->
        <div class="box-body">
            <table id="example2" class="table table-hover table-bordered">
                <thead style="font-weight: bold">
                    <tr>

                        <th>Mã đơn hàng</th>
                        <th>Thời gian đặt hàng</th>
                        <th>Tổng giá trị</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Order order in Model)
                    {
                        <tr>

                            <td>@order.OrderCode</td>
                            <td>@order.CreateTime.ToString("dd/MM/yyyy hh:mm tt")</td>
                            <td style="text-align: right">@order.TotalValue.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>

                            @if (order.OrderStatus == 5)
                            {
                                <td>
                                    <span class="label label-success">@CommonData.Status[order.OrderStatus]</span>
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "Detail", new { id = order.OrderId })
                                </td>

                            }
                            else if (order.OrderStatus == 6)
                            {
                                <td>
                                    <span class="label label-danger">@CommonData.Status[order.OrderStatus]</span>
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "Detail", new { id = order.OrderId })
                                </td>

                            }
                            else if (order.OrderStatus == 0)
                            {
                                <td>
                                    <span class="label label-warning">@CommonData.Status[order.OrderStatus]</span>
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "Detail", new { id = order.OrderId })
                                    @Html.ActionLink("Sửa", "Edit", new { id = order.OrderId })
                                    @Html.ActionLink("Hủy", "Delete", new { id = order.OrderId })
                                </td>

                            }
                            else if (order.OrderStatus == 1)
                            {
                                <td>
                                    <span class="label label-warning">@CommonData.Status[order.OrderStatus]</span>
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "Detail", new { id = order.OrderId })
                                    @Html.ActionLink("Hủy", "Delete", new { id = order.OrderId })
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="label label-primary">@CommonData.Status[order.OrderStatus]</span>
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "Detail", new { id = order.OrderId })
                                    @Html.ActionLink("Hủy", "Delete", new { id = order.OrderId })
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>