@model BMA.Models.Product

@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
    IEnumerable<BMA.Models.Category> cg = ViewBag.category;
}
<section class="content-header">
    <h1>
        Thêm mới sản phẩm
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin sản phẩm</h3><br />
                    <label class="box-title" style="color:#ff0000">@TempData["Error"]</label>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="/ManageProduct/AddProduct" id="myForm" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên sản phẩm (*)</label>
                            <input type="text" class="form-control" name="productName" value="" placeholder="Nhập tên sản phẩm" required>
                            @Html.ValidationMessageFor(model => model.ProductName)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Đơn vị tính (*)</label>
                            <input type="text" class="form-control" name="productUnit" value="" placeholder="Nhập đơn vị" required>
                            @Html.ValidationMessageFor(model => model.Unit)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Trọng lượng (*)</label>
                            <input type="number" class="form-control" name="productWeight" value="" min="100" max="2000" placeholder="Nhập trọng lượng bánh" required>
                            @Html.ValidationMessageFor(model => model.ProductWeight)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mô tả sản phẩm</label>
                            <input type="text" class="form-control" name="productDes" value="" placeholder="Mô tả">
                            @Html.ValidationMessageFor(model => model.Descriptions)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Ghi chú</label>
                            <input type="text" class="form-control" name="productNote" value="" placeholder="Ghi chú">
                            @Html.ValidationMessageFor(model => model.Note)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Giá gốc (*)</label>
                            <input type="number" class="form-control" name="productPrice" value="" min="1000" max="100000" placeholder="Nhập giả sản phẩm" required>
                            @Html.ValidationMessageFor(model => model.ProductStandardPrice)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Loại bánh (*)</label>
                            <select class="form-control" name="dropCate">
                                @foreach (var item in cg)
                                {
                                    <option value="@item.CategoryId">@item.CategoryName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mã sản phẩm (*)</label>
                            <input type="text" class="form-control" name="productCode" value="" placeholder="Nhập mã sản phẩm" required>
                            @Html.ValidationMessageFor(model => model.ProductCode)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Hình ảnh</label>
                            <input type="file" value="" name="file" id="file" onchange="show(this)">
                            <div>
                                <img id="user_img"
                                     height="100"
                                     width="90"
                                     style="border:solid" />
                            </div>
                            <script type="text/javascript">
                                function show(input) {
                                    if (input.files && input.files[0]) {
                                        var filerdr = new FileReader();
                                        filerdr.onload = function (e) {
                                            $('#user_img').attr('src', e.target.result);
                                        }
                                        filerdr.readAsDataURL(input.files[0]);
                                    }
                                }
                            </script>
                            <div style="color:#ff0000">@TempData["Message"]</div>
                        </div>
                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" value="AddMaterial">Thêm mới</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
