@using System.Globalization
@using BMA.Models
@model List<Product>
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
    string strURL = Request.Url.ToString();
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Quản lý sản phẩm</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <!-- box-body -->
        <div class="box-body">
            <table id="example1" class="table table-hover table-bordered">
                <thead style="font-weight: bold">
                    <tr>

                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Trạng thái</th>
                        <th class="col-md-2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-md-2">@item.ProductCode</td>
                            <td class="col-md-4">@item.ProductName</td>
                            <td class="col-md-1">@item.ProductStandardPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                            @{
                        if (item.IsActive)
                        {
                            <td class="col-md-2"><div class="label label-success">Đang sử dụng</div></td>
                        }
                        else
                        {
                            <td class="col-md-2"><div class="label label-default">Không còn sử dụng</div></td>
                        }
                            }
                            <td class="">
                                <a class="btn btn-link btn-xs" href="@(Url.Action("Detail", "ManageProduct", new { ProductId = item.ProductId }))" data-toggle="tooltip" data-placement="top" title="Xem">
                                    <i class="fa fa-navicon" style="margin-right: 3px"></i>
                                </a>
                                @if (item.IsActive)
                                {
                                    <a class="btn btn-link btn-xs" href="@(Url.Action("Edit", "ManageProduct", new { ProductId = item.ProductId }))" data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                        <i class="fa fa-edit" style="margin-right: 3px"></i>
                                    </a>
                                }
                                <a class="btn btn-link btn-xs" href="javascript:void(0)" id="btn-choose" onclick="open_container(@item.ProductId, '@item.ProductName', '@strURL')" data-toggle="tooltip" data-placement="top" title="Thay đổi trạng thái">
                                    <i class="fa fa-refresh" style="margin-right: 3px"></i>
                                </a>
                                <script>
                                    function open_container(productId, productName, strURL, isActive) {
                                        if (isActive) {
                                            var content =
                                            '<form role="form" action="s" method="post" id="form-aprrove">' +
                                                '<div class="form-group">' +
                                                '<label>' + productName + '</label>' +
                                                '<input type="hidden" name="productId" value="' + productId + '"/>' +
                                                '<input type="hidden" name="strURL" value="' + strURL + '"/>' +
                                                '<input type="hidden" name="isActive" value="' + isActive + '"/>' +
                                                '</div>' +
                                                 '<div class="form-group">' +
                                                 '<input type="radio" name="status" value="True" checked> Sử dụng' +
                                                '</div>' +
                                                 '<div class="form-group">' +
                                                 '<input type="radio" name="status" value="False"> Ngừng sử dụng' +
                                                '</div>' +
                                                '<div class="form-group" style="padding-bottom: 20px;">' +
                                                '</div>' +
                                                '</form>';
                                        }
                                        else {
                                            var content =
                                            '<form role="form" action="s" method="post" id="form-aprrove">' +
                                                '<div class="form-group">' +
                                                '<label>' + productName + '</label>' +
                                                '<input type="hidden" name="productId" value="' + productId + '"/>' +
                                                '<input type="hidden" name="strURL" value="' + strURL + '"/>' +
                                                '<input type="hidden" name="isActive" value="' + isActive + '"/>' +
                                                '</div>' +
                                                 '<div class="form-group">' +
                                                 '<input type="radio" name="status" value="True"> Sử dụng' +
                                                '</div>' +
                                                 '<div class="form-group">' +
                                                 '<input type="radio" name="status" value="False" checked> Ngừng sử dụng' +
                                                '</div>' +
                                                '<div class="form-group" style="padding-bottom: 20px;">' +
                                                '</div>' +
                                                '</form>';
                                        }
                                        var title = 'Chọn trạng thái';
                                        var footer = '<button onclick="checkValidate()" class="btn btn-success pull-right">Đồng ý</button>' +
                                                '<button type="button" class="btn btn-danger pull-right" style="margin-right: 10px;" data-dismiss="modal">Hủy</button>';
                                        setModalBox(title, content, footer);
                                        $('#myModal').modal('show');
                                    }

                                    function setModalBox(title, content, footer) {
                                        document.getElementById('popup-body').innerHTML = content;
                                        document.getElementById('popup-title').innerHTML = title;
                                        document.getElementById('popup-footer').innerHTML = footer;
                                    }

                                    function checkValidate() {
                                        $.ajax({
                                            url: "@(Url.Action("ChangeStatus", "ManageProduct"))",
                                            method: "POST",
                                            data: $("#form-aprrove").serialize(),
                                            success: function (data) {
                                                if (data === "1") {
                                                    noty({
                                                        text: 'Thay đổi trạng thái thành công.',
                                                        type: 'success',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                    var redirectURL = window.location.href;
                                                    window.setTimeout(function () {
                                                        window.location.replace(redirectURL);
                                                    }, 3000);
                                                } else if (data === "-1") {
                                                    noty({
                                                        text: 'Có lỗi xảy ra, vui lòng thử lại.',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                } else if (data === "-2") {
                                                    noty({
                                                        text: 'Sản phẩm đã có trạng thái Đang sử dụng',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                } else if (data === "-3") {
                                                    noty({
                                                        text: 'Sản phẩm hiện đã có trạng thái Không còn sử dụng.',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'topCenter',
                                                        theme: 'defaultTheme',
                                                        timeout: 2000
                                                    });
                                                }
                                            },
                                            fail: function () {
                                                noty({
                                                    text: 'Đã có lỗi xảy ra',
                                                    type: 'error',
                                                    dismissQueue: false,
                                                    layout: 'topCenter',
                                                    theme: 'defaultTheme',
                                                    timeout: 1000
                                                });
                                            }
                                        })
                                    }
                                </script>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="box-footer clearfix">
                <a href="@Url.Action("AddProduct","ManageProduct")" class="btn btn-sm btn-info btn-flat pull-left">Thêm sản phẩm mới</a>
            </div>
        </div>
    </div>
</section>