@using System.Globalization
@model IEnumerable<BMA.Models.Recipe>
@{
    ViewBag.Title = "Chỉnh sửa nguyên liệu sản phẩm";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
    string productName = ViewBag.productName;
    int productId = ViewBag.productId;
    string strURL = Request.Url.ToString();
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Nguyên liệu của "@productName"</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <!-- box-body -->
        <div class="box-body">
            <form id="updateCartForm" action="@Url.Action("UpdateProductMaterial", "ManageProduct", new { @ProductId = productId, strURL})" method="post">
                <table id="material-table" class="table table-hover table-bordered">
                    <thead style="font-weight: bold">
                        <tr>
                            <th>Tên nguyên liệu</th>
                            <th>Số lượng</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ProductMaterial.ProductMaterialName</td>
                                <td><input type="text" name="txtQuantity" value="@item.RecipeQuantity" /></td>
                                <td>
                                    <a href="javascript:void(0)" id="btn-choose" onclick="open_container(@item.ProductId, @item.ProductMaterialId, '@productName', '@strURL')">Hủy</a>
                                    <script>
                                        function open_container(productId, productMaterialId, productName, strURL) {
                                            var content =
                                                '<form role="form" action="/ManageProduct/DeleteProductMaterial" method="post" id="form-aprrove">' +
                                                    '<div class="form-group">' +
                                                    '<label>Bạn thực sự muốn hủy nguyên liệu này khỏi ' + productName + ' ?</label>' +
                                                    '<input type="hidden" name="productId" value="' + productId + '"/>' +
                                                    '<input type="hidden" name="productMaterialId" value="' + productMaterialId + '"/>' +
                                                    '<input type="hidden" name="strURL" value="' + strURL + '"/>' +
                                                    '</div>' +
                                                    '<div class="form-group" style="padding-bottom: 20px;">' +
                                                    '<button type="submit" class="btn btn-success pull-right">Đồng ý</button>' +
                                                    '<button type="button" class="btn btn-danger pull-right" style="margin-right: 10px;" data-dismiss="modal">Quay lại</button>' +
                                                    '</div>' +
                                                    '</form>';
                                            var title = 'Bỏ nguyên liệu khỏi sản phẩm';
                                            var footer = '';
                                            setModalBox(title, content, footer);
                                            $('#myModal').modal('show');
                                        }

                                        function setModalBox(title, content, footer) {
                                            document.getElementById('popup-body').innerHTML = content;
                                            document.getElementById('popup-title').innerHTML = title;
                                            document.getElementById('popup-footer').innerHTML = footer;
                                        }
                                    </script>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
            <div class="box-footer">
                <a class="btn btn-primary" onclick="document.getElementById('updateCartForm').submit();">Cập nhật</a>
                <a class="btn btn-yahoo" onclick="show_ListMaterial()">Thêm nguyên liệu</a>
                <script type="text/javascript">
                    function show_ListMaterial() {
                        $.ajax({
                            url: "@(Url.Action("ListMaterial", "ManageMaterial"))",
                            data: {
                                productId: "@productId"
                            },
                            method: "POST",
                            success: function (data) {
                                document.getElementById('standard-popup-title').innerHTML = "Chọn nguyên liệu";
                                document.getElementById('standard-popup-body').innerHTML = data;
                                $('#myStandardModal').modal('show');
                            },
                            fail: function (e) {
                                alert("Have error" + e.toString());
                            }
                        })

                    }

                    function fnselect() {
                        var materialId = $(".table tr.selected td:first input").val();
                        var materialName = $(".table tr.selected td:first span").text();
                        @*$.ajax({
                            url: "@Url.Action("AddProductMaterial","ManageProduct")",
                            data: {
                            productId: "@productId"
                        },
                        })*@
                        var materialRow = $("<tr>", {
                            "html": [
                                $("<td>", {
                                    "html": materialName

                                }),
                                $("<td>", {
                                    "html": $("<input>", {
                                        "type": "text",
                                        "name": "txtQuantity",
                                        "value": 1
                                    })
                                }),
                                $("<td>", {
                                    "html": $("<a>", {
                                        "href": "javascript:void(0)",
                                        "id": "btn-choose",
                                        "onclick": "",
                                        "html": "Hủy"
                                    })
                                })
                            ]
                        });
                        $("#material-table tbody").append(materialRow);
                        $('#myStandardModal').modal('hide');
                        var materialForm = document.getElementById("materialForm");
                        var idInfo = document.createElement("input");
                        idInfo.setAttribute("type", "hidden");
                        idInfo.setAttribute("name", "productMaterialId");
                        idInfo.setAttribute("value", materialId);
                        materialForm.appendChild(idInfo);
                        materialForm.submit();
                    }
                </script>

                <a style="float:right" href="@Url.Action("AddMaterial", "ManageMaterial")" class="btn btn-danger">Tạo mới nguyên liệu</a>
            </div>
        </div>
    </div>
</section>