@{
    ViewBag.Title = "Tạo mật khẩu mới";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
}

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li> <a href="@Url.Action("Index", "Home")">Trang chủ</a> </li>
                <li class="active"> Lấy mật khẩu mới </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            @if (ViewBag.outOfTime != null)
            {
                <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-user"></i> Lấy mật khẩu mới </span></h1>
                <div class="row userInfo">
                    <div class="col-xs-12 col-sm-12">
                        <h2 style="color:red">Đã quá 24 tiếng kể từ khi chúng tôi gởi mail xác nhận.</h2>
                        <h3>Vui lòng gởi yêu cầu khác.</h3>
                    </div>
                </div>
            }
            else
            {
                <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-user"></i> Lấy mật khẩu mới </span></h1>
                <div class="row userInfo">
                    <div class="col-lg-12">
                    </div>
                    <form role="form" action="@Url.Action("GetPassword", "Account")" method="post" id="createPassForm">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group required">
                                <label for="InputPasswordCurrent"> Mật khẩu mới <sup> * </sup> </label>
                                <input type="hidden" value="@ViewBag.userId" name="userId"/>
                                <input type="password" value="" name="txtPass" id="txtPass" class="form-control" id="InputPasswordCurrent" placeholder="Nhập mật khẩu mới ">
                                <label for="InputPasswordCurrent"> Xác nhận lại <sup> * </sup> </label>
                                <input type="password" value="" name="txtPassConfirm" id="txtPassConfirm" class="form-control" id="InputPasswordCurrent" placeholder="Xác nhận lại mật khẩu mới">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a onclick="return createPassword()" class="btn btn-primary"><i class="fa fa-hand-lizard-o"></i> Hoàn tất </a>
                        </div>
                    </form>
                    <script type="text/javascript">
                        function createPassword() {
                            var txtPass = $("#txtPass").val();
                            var txtPassConfirm = $("#txtPassConfirm").val();

                            if (txtPass.trim() === '') {
                                noty({
                                    text: 'Vui lòng nhập mật khẩu mới.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 2000
                                });
                            } else if (txtPassConfirm.trim() === '') {
                                noty({
                                    text: 'Vui lòng xác nhận lại nhập mật khẩu mới.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 2000
                                });
                            } else if (txtPassConfirm != txtPass) {
                                noty({
                                    text: 'Mật khẩu và mật khẩu xác nhận không giống nhau, vui lòng thử lại.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 2000
                                });
                            } else if (txtPassConfirm.length < 6 || txtPass.length < 6) {
                                noty({
                                    text: 'Mật khẩu không được ít hơn 6 ký tự.',
                                    type: 'warning',
                                    dismissQueue: false,
                                    layout: 'topCenter',
                                    theme: 'defaultTheme',
                                    timeout: 2000
                                });
                            } else {
                                $.ajax({
                                    url: "@Url.Action("CreateNewPassword", "Account")",
                                    method: "POST",
                                    data: $("#createPassForm").serialize(),
                                    success: function (data) {
                                        if (data === "1") {
                                            noty({
                                                text: 'Khởi tạo mật khẩu mới thành công.',
                                                type: 'success',
                                                dismissQueue: false,
                                                layout: 'topCenter',
                                                theme: 'defaultTheme',
                                                timeout: 2000
                                            });
                                            window.setTimeout(function () {
                                                window.location.replace("@(Url.Action("Index", "Product"))");
                                            }, 3000);
                                        } else if (data === "-1") {
                                            noty({
                                                text: 'Có lỗi xảy ra, vui lòng thử lại.',
                                                type: 'warning',
                                                dismissQueue: false,
                                                layout: 'topCenter',
                                                theme: 'defaultTheme',
                                                timeout: 2000
                                            });
                                        }
                                    },
                                    fail: function (e) {
                                        var n = noty({
                                            text: 'Đã có lỗi xảy ra',
                                            type: 'error',
                                            dismissQueue: false,
                                            layout: 'bottomRight',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                    }
                                })
                            }
                        }
                    </script>
                    <div class="col-md-12 clearfix">
                        <ul class="pager">
                            <li class="previous pull-right"><a href="@Url.Action("Index","Product")"> <i class="fa fa-home"></i> Tới cửa hàng </a></li>
                            <li class="next pull-left"><a onclick="javascript:history.back(-1);"> &larr; Quay lại trang trước</a></li>
                        </ul>
                    </div>
                </div>

            }

        </div>
        <div class="col-lg-3 col-md-3 col-sm-5"> </div>
    </div>

    <div style="clear:both"></div>
</div>

<div class="gap"> </div>
