@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
}

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li> <a href="@Url.Action("Index", "Home")">Trang chủ</a> </li>
                <li class="active"> Quên mật khẩu </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-user"></i> Quên mật khẩu </span></h1>
            <div class="row userInfo">
                <div class="col-lg-12">
                </div>
                <form role="form" action="@Url.Action("GetPassword", "Account")" method="post" id="getPassForm">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group required">
                            <label for="InputPasswordCurrent"> Tài khoản <sup> * </sup> </label>
                            <input type="text" value="" name="txtUsername" class="form-control" id="InputPasswordCurrent" placeholder="Nhập tài khoản" onkeypress="return checkEnter(event)">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a onclick="return getPassword()" class="btn btn-primary"><i class="fa fa-hand-lizard-o"></i> Hoàn tất </a>
                    </div>
                </form>
                <script type="text/javascript">
                    function checkEnter(e) {
                        if (e.keyCode == 13 || e.which == 13) {
                            e.preventDefault();
                        }
                    }

                    function CheckEmail(address) {
                        address = address.replace(/(^\s*)|(\s*$)/g, "");
                        var reg = /([\w._-])+@@([\w_-])+(\.([\w_-])+){1,2}/;
                        var matcharr = reg.exec(address);
                        if (matcharr != null) {
                            if (matcharr[0].length == address.length) {
                                return true;
                            }
                            return false;
                        }
                        return false;
                    }

                    function getPassword() {
                        var txtUsername = $("#InputPasswordCurrent").val();

                        if (txtUsername.trim() === '') {
                            noty({
                                text: 'Vui lòng nhập tên tài khoản.',
                                type: 'warning',
                                dismissQueue: false,
                                layout: 'topCenter',
                                theme: 'defaultTheme',
                                timeout: 2000
                            });
                        } else {
                            $.ajax({
                                url: "@Url.Action("GetPassword", "Account")",
                                method: "POST",
                                data: $("#getPassForm").serialize(),
                                success: function (data) {
                                    if (data === "1") {
                                        noty({
                                            text: 'Xác nhận thành công, vui lòng kiểm tra địa chỉ email.',
                                            type: 'success',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: false
                                        });
                                        window.setTimeout(function () {
                                            window.location.replace("@(Url.Action("Index", "Product"))");
                                        }, 3000);
                                    } else if (data === "-1") {
                                        noty({
                                            text: 'Tài khoản này không tồn tại trong hệ thống, vui lòng thử lại.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                    } else if (data === "-2") {
                                        window.location.replace("@(Url.Action("Index", "Error"))");
                                    }
                                },
                                fail: function (e) {
                                    var n = noty({
                                        text: 'Đã có lỗi xảy ra',
                                        type: 'error',
                                        dismissQueue: false,
                                        layout: 'bottomRight',
                                        theme: 'defaultTheme',
                                        timeout: 2000
                                    });
                                }
                            })
                        }
                    }
                </script>
                <div class="col-md-12 clearfix">
                    <ul class="pager">
                        <li class="previous pull-right"><a href="@Url.Action("Index","Product")"> <i class="fa fa-home"></i> Tới cửa hàng </a></li>
                        <li class="next pull-left"><a onclick="javascript:history.back(-1);"> &larr; Quay lại trang trước</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-5"> </div>
    </div>

    <div style="clear:both"></div>
</div>

<div class="gap"> </div>
