@using System.Globalization
@using BMA.Common
@using BMA.Models
@model BMA.Models.Supplier
@{
    ViewBag.Title = "Chỉnh sửa thông tin nhà cung cấp";
    Layout = "~/Views/Layout/ManageLayout.cshtml";

}

<section class="content-header">
    <h1 style="text-align: center">Chỉnh sửa thông tin nhà cung cấp</h1>
</section>
<section>

    <div style="margin-top: 2%">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <!-- Edit form -->
                    <form id="edit-supplier-form">
                        <input type="hidden" name="SupplierId" value="@Model.SupplierId" />
                        <div class="box-body box-profile">
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-5">
                                    <b>Tên nhà cung cấp<b style="color: #ff0000">*</b>:</b>
                                </div>
                                <div class="col-xs-7">
                                    <input type="text" required value="@Model.SupplierName" name="txtSupplierName" id="txtSupplierName" style="width: 95%" />
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-5">
                                    <b>Địa chỉ<b style="color: #ff0000">*</b>:</b>
                                </div>
                                <div class="col-xs-7">
                                    <textarea name="txtSupplierAddress" id="txtSupplierAddress" required maxlength="200" rows="3" style="width: 95%">@Model.SupplierAddress</textarea>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-5">
                                    <b>Số điện thoại<b style="color: #ff0000">*</b>:</b>
                                </div>
                                <div class="col-xs-7">
                                    <input type="text" required value="@Model.SupplierPhoneNumber" name="txtSupplierPhoneNumber" id="txtSupplierPhoneNumber" style="width: 95%" />
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-5">
                                    <b>E-mail<b style="color: #ff0000">*</b>:</b>
                                </div>
                                <div class="col-xs-7">
                                    <input type="email" required value="@Model.SupplierEmail" name="txtSupplierEmail" id="txtSupplierEmail" style="width: 95%" />
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-5">
                                    <b>Mã số thuế<b style="color: #ff0000">*</b>:</b>
                                </div>
                                <div class="col-xs-7">
                                    <input type="text" required value="@Model.SupplierTaxCode" name="txtSupplierTaxCode" id="txtSupplierTaxCode" style="width: 95%" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 17px;">
                            <div class="col-xs-12">
                                <b><b style="color: #ff0000">*</b>: Thông tin bắt buộc</b>
                            </div>
                        </div>

                    </form>
                    <!-- Update button -->
                    <div class="box box-footer">
                        <button class="btn btn-primary pull-right" style="margin-right: 2%; margin-bottom: 2%" onclick="editSupplier()">
                            <i class="fa fa-edit" style="margin-right: 3px;"></i>Cập nhật
                            <script type="text/javascript">
                                function editSupplier() {
                                    var supplierName = $("#txtSupplierName").val();
                                    var supplierAddress = $("#txtSupplierAddress").val();
                                    var supplierPhoneNumber = $("#txtSupplierPhoneNumber").val();
                                    var supplierTaxCode = $("#txtSupplierTaxCode").val();

                                    if (supplierName.trim() === '') {
                                        noty({
                                            text: 'Tên nhà cung cấp không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'bottomLeft',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (supplierAddress.trim() === '') {
                                        noty({
                                            text: 'Địa chỉ nhà cung cấp không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'bottomLeft',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else if (supplierPhoneNumber.trim() === '') {
                                        noty({
                                            text: 'Số điện thoại nhà cung cấp không được trống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'bottomLeft',
                                            theme: 'defaultTheme',
                                            timeout: 1000
                                        });
                                    } else
                                        if (isNaN(supplierPhoneNumber)) {
                                            noty({
                                                text: 'Số điện thoại nhà cung cấp không đúng.',
                                                type: 'warning',
                                                dismissQueue: false,
                                                layout: 'bottomLeft',
                                                theme: 'defaultTheme',
                                                timeout: 1000
                                            });
                                        } else
                                            if (supplierTaxCode.trim() === '') {
                                                noty({
                                                    text: 'Mã số thuế nhà cung cấp không được trống.',
                                                    type: 'warning',
                                                    dismissQueue: false,
                                                    layout: 'bottomLeft',
                                                    theme: 'defaultTheme',
                                                    timeout: 1000
                                                });
                                            } else
                                                if (isNaN(supplierTaxCode)) {
                                                    noty({
                                                        text: 'Mã số thuế nhà cung cấp không đúng.',
                                                        type: 'warning',
                                                        dismissQueue: false,
                                                        layout: 'bottomLeft',
                                                        theme: 'defaultTheme',
                                                        timeout: 1000
                                                    });
                                                } else
                                                    if (supplierTaxCode.trim() === '') {
                                                        noty({
                                                            text: 'Mã số thuế nhà cung cấp không được trống.',
                                                            type: 'warning',
                                                            dismissQueue: false,
                                                            layout: 'bottomLeft',
                                                            theme: 'defaultTheme',
                                                            timeout: 1000
                                                        });
                                                    } else
                                                        $.ajax({
                                                            url: "@(Url.Action("EditSupplier","Supplier"))",
                                                            method: "POST",
                                                            data: $("#edit-supplier-form").serialize(),
                                                            success: function (data) {
                                                                if (data === "1") {
                                                                    noty({
                                                                        text: 'Chỉnh sửa nhà cung cấp thành công',
                                                                        type: 'success',
                                                                        dismissQueue: false,
                                                                        layout: 'bottomLeft',
                                                                        theme: 'defaultTheme',
                                                                        timeout: 1500
                                                                    });
                                                                    window.setTimeout(function () {
                                                                        window.location.replace("@(Url.Action("SupplierIndex", "Supplier"))");
                                                                    }, 4000);
                                                                } else {
                                                                    noty({
                                                                        text: 'Không thể chỉnh sửa thông tin nhà cung cấp',
                                                                        type: 'warning',
                                                                        dismissQueue: false,
                                                                        layout: 'bottomLeft',
                                                                        theme: 'defaultTheme',
                                                                        timeout: 1000
                                                                    });
                                                                }
                                                            },
                                                            fail: function () {
                                                                noty({
                                                                    text: 'Đã có lỗi xảy ra',
                                                                    type: 'error',
                                                                    dismissQueue: false,
                                                                    layout: 'bottomLeft',
                                                                    theme: 'defaultTheme',
                                                                    timeout: 1000
                                                                });
                                                            }
                                                        });
                                }
                            </script>
                        </button>
                        <!-- Comeback button -->
                        <button class="btn btn-success" onclick="comebackToIndex()">
                            <i class="fa fa-arrow-left" style="margin-right: 3px;"></i>Quay lại trang chi tiết
                            <script type="text/javascript">
                                function comebackToIndex() {
                                    window.location.replace("@(Url.Action("SupplierDetail", "Supplier", new {@id = Model.SupplierId}))");
                                }
                            </script>
                        </button>
                    </div>
                </div>



            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <!--max length for number-->
    <script>
        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength)
                object.value = object.value.slice(0, object.maxLength);
        }
    </script>
</section>
