
@using System.Globalization
@using BMA.Common
@using BMA.Models
@model BMA.Models.Supplier
@{
    ViewBag.Title = "Chỉnh sửa thông tin nhà cung cấp";
    Layout = "~/Views/Layout/ManageLayout.cshtml";

}

<section class="content-header">
    <h1>Chỉnh sửa thông tin nhà cung cấp</h1>
</section>
<section>

    <div style="margin-top: 5%">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="box box-primary">
                    <!-- Edit form -->
                    <form id="edit-supplier-form">
                        <input type="hidden" name="SupplierId" value="@Model.SupplierId" />
                        <div class="box-body box-profile">
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-5">
                                    <b>Tên nhà cung cấp:</b>
                                </div>
                                <div class="col-xs-7">
                                    <input type="text" value="@Model.SupplierName" name="txtSupplierName" style="width: 80%"/>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-5">
                                    <b>Địa chỉ:</b>
                                </div>
                                <div class="col-xs-7">
                                    <textarea name="txtSupplierAddress" maxlength="200" rows="3" style="width: 80%">@Model.SupplierAddress</textarea>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-5">
                                    <b>Số điện thoại:</b>
                                </div>
                                <div class="col-xs-7">
                                    <input type="number" value="@Model.SupplierPhoneNumber" name="txtSupplierPhoneNumber" style="width: 80%"/>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-5">
                                    <b>E-mail:</b>
                                </div>
                                <div class="col-xs-7">
                                    <input type="email" value="@Model.SupplierEmail" name="txtSupplierEmail" style="width: 80%"/>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 17px;">
                                <div class="col-xs-5">
                                    <b>Mã số thuế:</b>
                                </div>
                                <div class="col-xs-7">
                                    <input type="number" value="@Model.SupplierTaxCode" name="txtSupplierTaxCode" style="width: 80%"/>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Update button -->
                    <div class="box-footer">
                        <button class="btn btn-primary pull-right" style="margin-right: 10%;" onclick="editSupplier()">
                            <i class="fa fa-edit" style="margin-right: 3px;"></i>Cập nhật
                            <script type="text/javascript">
                                function editSupplier() {
                                    $.ajax({
                                        url: "@(Url.Action("EditSupplier","Supplier"))",
                                        method: "POST",
                                        data: $("#edit-input-material-form").serialize(),
                                        success: function(data) {
                                            if (data === "1") {
                                                var n1 = noty({
                                                    text: 'Chỉnh sửa nhà cung cấp thành công',
                                                    type: 'success',
                                                    dismissQueue: false,
                                                    layout: 'bottomLeft',
                                                    theme: 'defaultTheme',
                                                    timeout: 1500
                                                });
                                                window.setTimeout(function() {
                                                    window.location.replace("@(Url.Action("SupplierIndex", "Supplier"))");
                                                }, 4000);
                                            } else {
                                                var n2 = noty({
                                                    text: 'Không thể chỉnh sửa thông tin nhà cung cấp',
                                                    type: 'warning',
                                                    dismissQueue: false,
                                                    layout: 'bottomLeft',
                                                    theme: 'defaultTheme',
                                                    timeout: 1000
                                                });
                                            }
                                        },
                                        fail: function(e) {
                                            var n2 = noty({
                                                text: 'Đã có lỗi xảy ra',
                                                type: 'error',
                                                dismissQueue: false,
                                                layout: 'bottomLeft',
                                                theme: 'defaultTheme',
                                                timeout: 1000
                                            });
                                        }
                                    });
                                }
                            </script>
                        </button>
                        <!-- Comeback button -->
                        <button class="btn btn-danger" onclick="comebackToIndex()">
                            <i class="fa fa-edit" style="margin-left: 10px;"></i>Quay lại
                            <script type="text/javascript">
                                function comebackToIndex() {
                                    window.location.replace("@(Url.Action("SupplierDetail", "Supplier", new {@id = Model.SupplierId}))");
                                }
                            </script>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--max length for number-->
    <script>
        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength)
                object.value = object.value.slice(0, object.maxLength)
        }
    </script>
</section>
