@using System.Globalization
@using BMA.Common
@using BMA.Models
@model IEnumerable<BMA.Models.Supplier>
@{
    ViewBag.Title = "Danh sách nhà cung cấp";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}

<section class="content-header">
    <h1>Danh sách nhà cung cấp</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <!-- box-body -->
        <div class="box-body">
            <table id="example2" class="table table-hover table-bordered">
                <thead style="font-weight: bold">
                    <tr>

                        <th>Tên nhà cung cấp</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Supplier supplier in Model)
                    {
                        <tr>

                            <td>@supplier.SupplierName</td>
                            <td>@supplier.SupplierAddress</td>
                            <td>@supplier.SupplierPhoneNumber</td>
                            @if (supplier.IsActive)
                            {
                                <td>
                                    <span class="label label-success">Đang hoạt động</span>
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "SupplierDetail", new { id = supplier.SupplierId })
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="label label-danger">Ngừng hoạt động</span>
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "SupplierDetail", new { id = supplier.SupplierId })
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>