@using System.Globalization
@using BMA.Models
@model BMA.Models.Supplier



@{
    ViewBag.Title = "Chi tiết nhà cung cấp";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 style="text-align: center">Chi tiết nhà cung cấp</h1>
</section>
<section class="content">
    <!--Title row-->
    <form id="edit-input-material-form"></form>
    <div class="row">
        <!-- Info row -->
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center">
                        @Model.SupplierName
                    </h3>
                    <div class="nav-tabs-custom" style="margin-top: 5%">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#supplierInformation" data-toggle="tab">Thông tin chi tiết</a></li>
                            <li><a href="#inputBillList" data-toggle="tab">Danh sách hóa đơn đã nhập</a></li>

                        </ul>
                        <div class="tab-content">
                            <!-- Input Bill List -->
                            <div class="active tab-pane" id="supplierInformation">
                                <p>
                                    <div class="list-group-item">
                                        <b>Số điện thoại: </b>
                                        <a class="col-lg-pull-2">@Model.SupplierPhoneNumber</a>
                                    </div>
                                    <div class="list-group-item">
                                        <b>Địa chỉ: </b>
                                        <a class="col-lg-pull-2">@Model.SupplierAddress</a>
                                    </div>
                                    <div class="list-group-item">
                                        <b>E-mail: </b>
                                        <a class="col-lg-pull-2">@Model.SupplierEmail</a>
                                    </div>
                                    <div class="list-group-item">
                                        <b>Mã số thuế: </b>
                                        <a class="col-lg-pull-2">@Model.SupplierTaxCode</a>
                                    </div>
                                    <div class="list-group-item">
                                        <b>Trạng thái: </b>
                                        @if (Model.IsActive)
                                        {
                                            <span class="label label-success">Đang hoạt động</span>
                                            <button class="btn btn-bitbucket btn-xs" id="btn-approved" onclick="open_container(@(Model.SupplierId));">
                                                <i class="fa fa-refresh" style="margin-right: 5%;"></i>Thay đổi trạng thái
                                            </button>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">Ngừng hoạt động</span>
                                            <button class="btn btn-bitbucket btn-xs" id="btn-approved" onclick="open_container(@(Model.SupplierId));">
                                                <i class="fa fa-refresh" style="margin-right: 5%;"></i>Thay đổi trạng thái
                                            </button>
                                        }
                                    </div>
                                </p>

                            </div>
                            <!-- Input Material Note -->
                            <div class="tab-pane" id="inputBillList">
                                <div class="row" id="inputBillBySupplierTable">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <!-- Change stage button -->
                        <div class="col-xs-12" style="text-align: center">
                            <!-- Edit button -->
                            <button class="btn btn-primary pull-right" style="margin-right: 25px;" onclick="editInputMaterial()">
                                <i class="fa fa-edit" style="margin-right: 3px;"></i>Chỉnh sửa
                                <script type="text/javascript">
                                    function editInputMaterial() {
                                        window.location.replace("@(Url.Action("EditSupplier", "Supplier", new {@id = Model.SupplierId}))");
                                    }
                                </script>
                            </button>
                            <!-- Comeback button -->
                            <button class="btn btn-success pull-left" style="margin-left: 25px;" onclick="comebackToIndex()">
                                <i class="fa fa-arrow-left" style="margin-right: 2px;"></i>Quay lại trang danh sách
                                <script type="text/javascript">
                                    function comebackToIndex() {
                                        window.location.replace("@(Url.Action("SupplierIndex", "Supplier"))");
                                    }
                                </script>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</section>
<script type="text/javascript">
    function open_container(id) {
        var content = $("<div>", {
            "html": "Bạn có muốn thay đổi trạng thái của nhà cung cấp từ trạng thái  " + "@Html.Raw(Model.IsActive ? "<span class='label label-success'>Đang hoạt động</span>" : "<span class='label label-danger'>Ngừng hoạt động</span>")" + "  sang trạng thái  " + "@Html.Raw(Model.IsActive ? "<span class='label label-danger'>Ngừng hoạt động</span>" : "<span class='label label-success'>Đang hoạt động</span>")" + "  không?"
        });

        var title = 'Thay đổi trạng thái nguyên liệu';
        var footer = $("<div>", {
            "class": "row",
            "html": [
                $("<button>", {
                    "class": "btn btn-success pull-right",
                    "style": "margin-right: 30%;",
                    "onclick": "change_supplier_status(" + id + ")",
                    "html": "Đồng ý"
                }),
                $("<button>", {
                    "class": "btn btn-danger",
                    "style": "margin-right: 10px;",
                    "data-dismiss": "modal",
                    "html": "Hủy"
                })
            ]
        });
        setModalBox(title, content[0].outerHTML, footer[0].outerHTML);
        $('#myModal').modal('show');
    }

    function setModalBox(title, content, footer) {
        document.getElementById('popup-body').innerHTML = content;
        document.getElementById('popup-title').innerHTML = title;
        document.getElementById('popup-footer').innerHTML = footer;
    }

    function change_supplier_status(id) {

        $.ajax({
            "url": "@(Url.Action("ChangeSupplierStatus", "Supplier"))",
            "method": "POST",
            "data": {
                "id": id
            },
            "success": function(data) {
                if (data === "1") {
                    $('#myModal').modal('hide');
                    window.location.replace("@Url.Action("SupplierIndex", "Supplier", Model.SupplierId)");
                } else {
                    noty({
                        text: 'Đã có lỗi xảy ra, vui lòng thử lại.',
                        type: 'warning',
                        dismissQueue: false,
                        layout: 'topCenter',
                        theme: 'defaultTheme',
                        timeout: 1000
                    });
                }
            },
            "fail": function(e) {
                alert("Have error" + e);
            }
        });
    }

</script>
<!-- Get input bill by supplier -->
@section CustomerDetailScript{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: "@(Url.Action("GetInputBillBySupplierTable", "Supplier", new {id = Model.SupplierId}))",
                method: "GET",
                success: function (data) {
                    $("#inputBillBySupplierTable").html(data);
                },
                fail: function (e) {
                    alert(e.toString());
                }
            });
        });
    </script>
}