@using BMA.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Order>

@{
    ViewBag.Title = "Xác nhận đơn hàng";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
}

<section class="border-top">
    <div class="container">
        <div class="page-title mrgb5x mrgt6x clearfix">
            <h4 class="page-name">Xác nhận đơn hàng</h4>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="service-tab">
            <div class="col-md-3 no-padding col-sm-5 animated out" data-delay="0" data-animation="fadeInUp">
                <div class="tab-section">
                    <ul class="nav nav-stacked">
                        <li><a href="/CusManageOrder/Index" aria-expanded="true"><span class="tab-border">DANH SÁCH ĐƠN HÀNG</span></a></li>
                        <li class="active"><a href="/CusManageOrder/ConfirmIndex"><span class="tab-border">XÁC NHẬN ĐƠN HÀNG</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-7">
                <div class="tab-content mrgb7x animated out" data-delay="0" data-animation="fadeInUp">
                    <div id="guidance" class="tab-pane fade in active">
                        <div class="rightbar-heading" style="float:right;margin-right:-60px;">
                            <h4>DANH SÁCH ĐƠN HÀNG CẦN XÁC NHẬN</h4>
                        </div>
                        <table class="table-fill" style="width:110%;margin-top:0px;margin-left:-20px;">
                            <thead>
                                <tr>
                                    <th class="text-left">Mã đơn hàng</th>
                                    <th class="text-left">Ngày tạo</th>
                                    <th class="text-left">Trạng thái</th>
                                    <th class="text-left" style="width:50%;" colspan="4"><center>Thay đổi</center></th>
                                </tr>
                            </thead>

                            <tbody class="table-hover">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-left"><a href="@Url.Action("OrderDetail", "CusManageOrder", new { @orderId = item.OrderId})">@item.OrderCode</a></td>
                                        <td class="text-left">@item.CreateTime.ToString("dd/MM/yyyy")</td>
                                        <td class="text-left"><div class="btn btn-danger">@item.OrderStatus</div></td>
                                        <td class="cancel-order"><a href="@Url.Action("OrderDetail", "CusManageOrder", new { @orderId = item.OrderId})">Chi tiết </a></td>
                                        <td class="cancel-order"><a href="@Url.Action("ConfirmOrder", "CusManageOrder", new { @orderId = item.OrderId})">Xác nhận</a></td>
                                        <td class="cancel-order"><a href="@Url.Action("CancelOrder", "CusManageOrder", new { @orderId = item.OrderId})">Hủy đơn hàng </a></td>
                                        @*<td>
                                <div id="light" class="white_content_delete">
                                    <div class="modal-content">
                                        <div class="modal-header dialog-header-confirm" style="background-color:#332e2e;">
                                            <button type="button" class="close" onclick="document.getElementById('light').style.display = 'none'; document.getElementById('fade').style.display = 'none'">×</button>
                                            <h4 class="modal-title ng-binding" style="color:white"><i class="fa fa-check-square-o"></i>Xác nhận lại</h4>
                                        </div>
                                        @if (item.OrderStatus == "Chờ xử lý")
                                        {
                                            <div class="modal-body ng-binding" ng-bind-html-unsafe="msg">Quý khách thực sự muốn hủy đơn hàng này?</div>
                                        }
                                        else
                                        {
                                            <div class="modal-body ng-binding" ng-bind-html-unsafe="msg">Nếu quý khách hủy đơn hàng thì sẽ bị mất tiền cọc.<br /> Quý khách có muốn hủy đơn hàng này không ?</div>
                                        }
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" onclick="document.getElementById('light').style.display = 'none'; document.getElementById('fade').style.display = 'none'">Quay lại</button>
                                            <a class="btn btn-primary" href="@Url.Action("CancelOrderConfirm", "CusManageOrder", new { @orderId = item.OrderId })">Đồng ý</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="fade" class="black_overlay"></div>
                            </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="numbering">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
