@using BMA.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Order>

@{
    ViewBag.Title = "Quản lý đơn hàng";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
}

<section class="border-top">
    <div class="container">
        <div class="page-title mrgb5x mrgt6x clearfix">
            <h4 class="page-name">Quản lý đơn hàng</h4>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="service-tab">
            <div class="col-md-3 no-padding col-sm-5 animated out" data-delay="0" data-animation="fadeInUp">
                <div class="tab-section">
                    <ul class="nav nav-stacked">
                        <li class="active"><a href="/CusManageOrder/Index" aria-expanded="true"><span class="tab-border">DANH SÁCH ĐƠN HÀNG</span></a></li>
                        <li><a href="/CusManageOrder/ConfirmIndex"><span class="tab-border">XÁC NHẬN ĐƠN HÀNG</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-7">
                <div class="tab-content mrgb7x animated out" data-delay="0" data-animation="fadeInUp">
                    <div id="booking" class="tab-pane fade in active">
                        <div class="rightbar-heading" style="float:right;margin-right:-60px;">
                            <h4>DANH SÁCH ĐƠN HÀNG</h4>
                        </div>
                        <table class="table-fill" style="width:110%;margin-top:0px;margin-left:-20px;">
                            <thead>
                                <tr>
                                    <th class="text-left">Mã đơn hàng</th>
                                    <th class="text-left">Ngày tạo</th>
                                    <th class="text-left">Trạng thái</th>
                                    <th class="text-left" style="width:50%;" colspan="4"><center>Thay đổi</center></th>
                                </tr>
                            </thead>

                            <tbody class="table-hover">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-left"><a href="@Url.Action("OrderDetail", "CusManageOrder", new { @orderId = item.OrderId})">@item.OrderCode</a></td>
                                        <td class="text-left">@item.CreateTime.ToString("dd/MM/yyyy")</td>
                                        @if (item.OrderStatus == "Chờ xử lý")
                                        {
                                            <td class="text-left"><div class="btn btn-primary">@item.OrderStatus</div></td>
                                        }
                                        @if (item.OrderStatus == "Đã duyệt" || item.OrderStatus == "Đang sản xuất" || item.OrderStatus == "Đang giao hàng")
                                        {
                                            <td class="text-left"><div class="btn btn-warning">@item.OrderStatus</div></td>
                                        }
                                        @if (item.OrderStatus == "Ðã hoàn thành")
                                        {
                                            <td class="text-left"><div class="btn btn-success">@item.OrderStatus</div></td>
                                        }
                                        @if (item.OrderStatus == "Đã hủy")
                                        {
                                            <td class="text-left"><div class="btn btn-cancel">@item.OrderStatus</div></td>
                                        }                                       
                                        <td class="cancel-order"><a href="@Url.Action("OrderDetail", "CusManageOrder", new { @orderId = item.OrderId})">Chi tiết </a></td>
                                        @if (item.OrderStatus == "Chờ xử lý")
                                        {
                                            <td class="cancel-order"><a href="@Url.Action("GetOrderToCart", "Cart", new { @orderId = item.OrderId })">Chỉnh sửa </a></td>
                                        }
                                        else
                                        {
                                            <td class="text-left">Không thể sửa</td>
                                        }
                                        @if (item.OrderStatus == "Ðã hoàn thành" || item.OrderStatus == "Đã hủy")
                                        {
                                            <td class="text-left">Không thể hủy</td>
                                        }
                                        else
                                        {
                                            <td class="cancel-order"><a href="@Url.Action("CancelOrder", "CusManageOrder", new { @orderId = item.OrderId})">Hủy đơn hàng </a></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="numbering">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
