@model BMA.Models.User
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
}

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li> <a href="@Url.Action("Index", "Home")">Trang chủ</a> </li>
                <li><a href="@Url.Action("Index", "CusManage")"> Quản lý</a> </li>
                <li class="active"> Thay đổi mật khẩu </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-user"></i> Thay đổi mật khẩu </span></h1>
            <div class="row userInfo">
                <div class="col-lg-12">
                </div>
                <form role="form" action="@Url.Action("ChangePassword", "CusManage")" method="post">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group required">
                            <label for="InputPasswordCurrent"> Mật khẩu cũ <sup> * </sup> </label>
                            <input type="password" pattern=".{6,}" required title="Mật khẩu phải lớn hơn 6 ký tự" maxlength="32" value="@Model.Password" name="txtOldPass" class="form-control" id="InputPasswordCurrent" placeholder="Mật khẩu cũ">
                        </div>
                        <div class="form-group required">
                            <label for="InputPasswordnew"> Mật khẩu mới </label>
                            <input type="password" pattern=".{6,}" required title="Mật khẩu phải lớn hơn 6 ký tự" name="txtNewPass" class="form-control" id="InputPasswordnew" placeholder="Mật khẩu mới" required>
                        </div>
                        <div class="form-group required">
                            <label for="InputPasswordnewConfirm"> Xác nhận lại </label>
                            <input type="password" pattern=".{6,}" required title="Mật khẩu phải lớn hơn 6 ký tự" name="txtNewPassConfirm" class="form-control" id="InputPasswordnewConfirm" placeholder="Nhập lại mật khẩu mới" required>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group required">
                            <label for="InputName"></label>
                            <p style="margin-left:-10px;font-weight:bold;margin-top:10px;color:red">@TempData["checkUnchange"]</p>
                            <p style="margin-left:-10px;font-weight:bold;margin-top:20px;color:red">@TempData["checkOldPass"]</p>
                        </div>
                        <div class="form-group required">
                            <label for="InputLastName"></label>
                            <p style="margin-left:-10px;font-weight:bold;margin-top:53px;color:red">@TempData["checkConfirmPass"]</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn   btn-primary"><i class="fa fa-save"></i> &nbsp; Thay đổi </button>
                    </div>
                </form>
                <div class="col-md-12 clearfix">
                    <ul class="pager">
                        <li class="previous pull-right"><a href="@Url.Action("Index","Product")"> <i class="fa fa-home"></i> Tới cửa hàng </a></li>
                        <li class="next pull-left"><a onclick="javascript:history.back(-1);"> &larr; Quay lai trang quản lý</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-5"> </div>
    </div>

    <div style="clear:both"></div>
</div>

<div class="gap"> </div>

