@using System.Globalization;
@using BMA.Common;
@using BMA.Models
@model BMA.Models.Order

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
    IEnumerable<BMA.Models.OrderItem> oi = ViewBag.orderItems;
    BMA.Models.DiscountByQuantity dbq = ViewBag.Discount;
}

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li> <a href="@Url.Action("Index", "Home")">Trang chủ</a> </li>
                <li> <a href="@Url.Action("Index", "CusManage")"> Quản lý</a> </li>
                @{
                    if (Model.OrderStatus == 1)
                    {
                        <li> <a href="@Url.Action("ConfirmList", "CusManage")">Danh sách đơn hàng</a> </li>
                    }
                    else
                    {
                        <li> <a href="@Url.Action("OrderList", "CusManage")">Danh sách đơn hàng</a> </li>
                    }
                }
                <li class="active"> Chi tiết đơn hàng </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="fa fa-list-alt"></i> Chi tiết đơn hàng </span></h1>
            <div class="row userInfo">
                <div class="col-lg-12">
                    <h2 class="block-title-2"> Chi tiết đơn hàng của bạn </h2>
                </div>
                <div class="statusContent">
                    <div class="col-sm-6">
                        <div class=" statusTop">
                            <p><strong>Mã đơn hàng: </strong>@Model.OrderCode</p>
                            @if (Model.OrderStatus == 0)
                            {
                                <p><strong>Trạng thái: </strong><span class="label label-warning">@CommonData.Status[Model.OrderStatus]</span></p>
                            }
                            @if (Model.OrderStatus == 1)
                            {
                                <p><strong>Trạng thái: </strong><span class="label label-danger">@CommonData.Status[Model.OrderStatus]</span></p>
                            }
                            @if (Model.OrderStatus == 2)
                            {
                                <p><strong>Trạng thái: </strong><span class="label label-primary">@CommonData.Status[Model.OrderStatus]</span></p>
                            }
                            @if (Model.OrderStatus == 3 || Model.OrderStatus == 4)
                            {
                                <p><strong>Trạng thái: </strong><span class="label label-info">@CommonData.Status[Model.OrderStatus]</span></p>
                            }
                            @if (Model.OrderStatus == 5)
                            {
                                <p><strong>Trạng thái: </strong><span class="label label-success">@CommonData.Status[Model.OrderStatus]</span></p>
                            }
                            @if (Model.OrderStatus == 6)
                            {
                                <p><strong>Trạng thái: </strong><span class="label label-default">@CommonData.Status[Model.OrderStatus]</span></p>
                            }
                            <p><strong>Thời gian đặt hàng:</strong> @Model.CreateTime.ToString("dd/MM/yyyy HH:mm")</p>
                            <p><strong>Thời gian nhận hàng (dự kiến):</strong> @Model.PlanDeliveryTime.ToString("dd/MM/yyyy HH:mm")</p>
                        </div>

                        <div class="order-box">
                            <div class="order-box-header">
                                Ghi chú
                            </div>
                            <div class="tab-pane active" style="font-size:16px;margin:10px;height:124px;word-wrap:break-word">
                                @Model.OrderNote
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="order-box">
                            <div class="order-box-header">
                                Thành tiền
                            </div>
                            <div class="order-box-content">
                                <table id="cart-summary" class="std table">
                                    <tbody>
                                        <tr>
                                            <td>Tổng cộng</td>
                                            <td class="price">@Model.Amount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                        </tr>
                                        <tr>
                                            <td>Giảm giá(@string.Format("{0}{1}", dbq.DiscountValue, "%"))</td>
                                            <td class="price"><span class="success">@(Model.DiscountAmount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</span></td>
                                        </tr>
                                        <tr>
                                            <td>Sau giảm giá</td>
                                            <td class="price"><span class="success">@((Model.Amount - Model.DiscountAmount).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</span></td>
                                        </tr>
                                        <tr>
                                            <td>Thuế VAT(@string.Format("{0}{1}", ViewBag.taxRate.TaxRateValue, "%"))</td>
                                            <td class="price" id="total-tax">@Model.TaxAmount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                        </tr>
                                        <tr>
                                            <td>Thành tiền</td>
                                            <td class=" site-color" id="total-price" style="font-size: 20px; color: #4ec67f !important">@((Model.TaxAmount + (Model.Amount - Model.DiscountAmount)).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</td>
                                        </tr>
                                        @*<tr>
                                                <td style="font-weight:bold">Thời gian nhận hàng (dự kiến)</td>
                                                <td class="price" id="total-tax">@(Model.PlanDeliveryTime.ToString("MM/dd/yyyy HH:mm"))</td>
                                            </tr>*@
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 clearfix">
                        <div class="order-box">
                            <div class="order-box-header">
                                Danh sách sản phẩm
                            </div>
                            <div class="order-box-content">
                                <div class="table-responsive">
                                    <table class="order-details-cart">
                                        <tbody>
                                            @foreach (var item in oi)
                                            {
                                                <tr class="cartProduct">
                                                    <td class="cartProductThumb" style="width:20%"><div> <a href="product-details.html"> <img alt="img" src="@Url.Content("~/Content/Images/BakeryImages/" + item.Product.ProductImage)"> </a> </div></td>
                                                    <td style="width:40%">
                                                        <div class="miniCartDescription">
                                                            <h4> <a href="#"> @item.Product.ProductName </a> </h4>
                                                            <div class="price"> <span> @item.Product.ProductStandardPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</span> </div>
                                                        </div>
                                                    </td>
                                                    <td class="" style="width:10%"> X @item.Quantity </td>
                                                    <td class="" style="width:15%"><span> @((item.Quantity * item.Product.ProductStandardPrice).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</span></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul class="previous pull-right">
                        <li style="display:inline;"><a data-target="#deleteAllConfirm" data-toggle="modal" class="btn btn-delete btn-sm" style="border: 1px solid black;"><i class="fa fa-close"></i> Hủy đơn hàng</a></li>
                    </ul>
                </div>
                <div class="col-lg-12 clearfix">
                    <ul class="pager">
                        <li class="previous pull-right"><a href="@Url.Action("Index","Product")"> <i class="fa fa-home"></i> Tới cửa hàng </a></li>
                        <li class="next pull-left"><a onclick="javascript:history.back(-1);"> &larr; Quay lai trang quản lý</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-5"> </div>

        <div class="modal fade col-md-4 col-center" id="deleteAllConfirm" tabindex="-1" role="dialog" aria-hidden="true" style="margin-top:70px">
            <div class="modal-dialog panel panel-default" style="width:438px;">
                <div class=" panel-heading">
                    <h3 class="panel-title"><strong>Xác nhận</strong></h3>
                </div>
                <div class="panel-body">
                    <ul>
                        @if (Model.OrderStatus == 0)
                        {
                            <li> <span class="address-line1"> Quý khách thực sự muốn hủy đơn hàng này ? </span></li>
                        }
                        else
                        {
                            <li> <span class="address-line1"> Nếu quý khách hủy đơn hàng thì sẽ bị mất tiền cọc. Quý khách có muốn hủy đơn hàng này không ? </span></li>
                        }

                    </ul>
                </div>
                <div class="panel-footer panel-footer-address" style="padding-left:275px;"><a aria-hidden="true" data-dismiss="modal" class="btn btn-sm btn-primary">Đóng </a> <a class="btn btn-sm btn-danger" onclick="return deleteBoth(@Model.OrderId)" id="deleteBothRequest"> Đồng ý </a> </div>
            </div>
        </div>

        <script type="text/javascript">
            function deleteBoth(orderId) {
                $.ajax({
                    url: "/CusManage/CancelBothOrder?orderId=" + orderId,
                    data: "/CusManage/CancelBothOrder?orderId=" + orderId,
                    success: function (data) {
                        if (data === "1") {
                            window.setTimeout(function () {
                                window.location.replace("@(Url.Action("OrderList", "CusManage"))");
                            }, 1500);
                            noty({
                                text: 'Hủy đơn hàng thành công',
                                type: 'success',
                                dismissQueue: false,
                                layout: 'topCenter',
                                theme: 'defaultTheme',
                                timeout: 2000
                            });
                        } else if (data === "-1") {
                            noty({
                                text: 'Có lỗi xảy ra, vui lòng thử lại',
                                type: 'success',
                                dismissQueue: false,
                                layout: 'topCenter',
                                theme: 'defaultTheme',
                                timeout: 2000
                            });
                        }
                    },
                    fail: function () {
                        noty({
                            text: 'Đã có lỗi xảy ra',
                            type: 'error',
                            dismissQueue: false,
                            layout: 'topCenter',
                            theme: 'defaultTheme',
                            timeout: 1000
                        });
                    }
                })
            }

        </script>
    </div>

    <div style="clear:both"></div>
</div>
