@using System.Globalization
@model BMA.Models.ViewModel.TaxRateViewModel
@{
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}
<!--Header-->
<section class="content-header">
    <h1>@ViewBag.Title</h1>
</section>
<!--Content-->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <!--Menu-->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#vat" data-toggle="tab">Thuế giá trị gia tăng(VAT)</a></li>
                    <li class=""><a href="#tndn" data-toggle="tab">Thuế thu nhập doanh nghiệp(TNDN)</a></li>
                </ul>
                <!--Tab content-->
                <div class="tab-content">
                    <!--VAT-->
                    <div class="active tab-pane" id="vat">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2 class="page-header">Thuế giá trị gia tăng(GTGT)</h2>
                            </div>
                        </div>
                        <!-- VAT rate-->
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">
                                    Tỉ suất thuế
                                </h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <!-- Current VAT tax rate -->
                                    <div class="col-md-4">
                                        Tỉ suất thuế GTGT hiện tại:
                                        <b>@(Model.CurrentTaxList.ElementAt(0).TaxRateValue) %</b>
                                        <button class="btn btn-primary btn-xs" onclick="openChangeVATPopup()">
                                            <i class="fa fa-edit" style="margin-right: 3px;"></i>
                                            Thay đổi
                                            <script type="text/javascript">
                                                function openChangeVATPopup() {
                                                    var title = "Cập nhật tỉ suất thuế giá trị gia tăng(VAT)";
                                                    var body = $("<form>", {
                                                        "id": "changeVAT",
                                                        "class": "form-group",
                                                        "html": [
                                                            $("<div>", {
                                                                "class": "form-group",
                                                                "html": [
                                                                    "<label>Tỉ suất VAT mới: </label>",
                                                                    $("<input>", {
                                                                        "type": "number",
                                                                        "min": "1",
                                                                        "max": "100",
                                                                        "name": "vatRate",
                                                                        "value": "@(Model.CurrentTaxList.ElementAt(0).TaxRateValue)",
                                                                        "onkeypress": "return event.charCode >= 48 && event.charCode <= 57",
                                                                        "style": "margin-left: 15px; margin-right: 10px;"
                                                                    }),
                                                                    "<label>%</label>"
                                                                ]
                                                            }),
                                                            $("<div>", {
                                                                "class": "form-group",
                                                                "html": [
                                                                    "<label>Áp dụng từ ngày: </label>",
                                                                    $("<input>", {
                                                                        "type": "date",
                                                                        "name": "vatBeginDate",
                                                                        "style": "margin-left: 10px;",
                                                                        "min": "@((DateTime.Now.AddDays(1)).ToString("yyyy-MM-dd"))",
                                                                        "value": "@((new DateTime((DateTime.Now.AddMonths(1).Year), (DateTime.Now.AddMonths(1).Month), 1).ToString("yyyy-MM-dd")))"
                                                                    })
                                                                ]
                                                            })
                                                        ]
                                                    });
                                                    var footer = $("<div>", {
                                                        "class": "row",
                                                        "html": [
                                                            $("<button>", {
                                                                "class": "btn btn-primary",
                                                                "data-dismiss": "modal",
                                                                "style": "margin-right: 10px",
                                                                "html": [
                                                                    "Đóng"
                                                                ]
                                                            }),
                                                            $("<button>", {
                                                                "class": "btn btn-success",
                                                                "style": "margin-right: 10px;",
                                                                "onclick": "changeVat()",
                                                                "html": [
                                                                    "Đồng ý"
                                                                ]
                                                            })
                                                        ]
                                                    });
                                                    document.getElementById('popup-body').innerHTML = body[0].outerHTML;
                                                    document.getElementById('popup-title').innerHTML = title;
                                                    document.getElementById('popup-footer').innerHTML = footer[0].outerHTML;
                                                    $('#myModal').modal('show');
                                                }

                                                function changeVat() {
                                                    var value = parseInt($("[name='vatRate']").val());
                                                    if (value === parseInt("@(Model.CurrentTaxList.ElementAt(0).TaxRateValue)")) {
                                                        noty({
                                                            text: 'Tỉ suất thuế bằng giá trị hiện tại. Không thể cập nhật thuế giá trị gia tăng (VAT)',
                                                            type: 'warning',
                                                            dismissQueue: false,
                                                            layout: 'topCenter',
                                                            theme: 'defaultTheme',
                                                            timeout: 1000
                                                        });
                                                    } else {
                                                        $.ajax({
                                                            url: "@(Url.Action("ChangeVat", "Tax"))",
                                                            method: "POST",
                                                            data: $("#changeVAT").serialize(),
                                                            success: function (data) {
                                                                $('#myModal').modal('hide');
                                                                if (data === "1") {
                                                                    noty({
                                                                        text: 'Cập nhật thuế giá trị gia tăng (VAT) thành công',
                                                                        type: 'success',
                                                                        dismissQueue: false,
                                                                        layout: 'topCenter',
                                                                        theme: 'defaultTheme',
                                                                        timeout: 3000
                                                                    });
                                                                    window.setTimeout(function () {
                                                                        location.reload();
                                                                    }, 4000);
                                                                } else {
                                                                    $('#myModal').modal('hide');
                                                                    noty({
                                                                        text: 'Không thể cập nhật thuế giá trị gia tăng (VAT)',
                                                                        type: 'warning',
                                                                        dismissQueue: false,
                                                                        layout: 'topCenter',
                                                                        theme: 'defaultTheme',
                                                                        timeout: 1000
                                                                    });
                                                                }
                                                            },
                                                            fail: function (e) {
                                                                $('#myModal').modal('hide');
                                                                noty({
                                                                    text: 'Đã có lỗi xảy ra',
                                                                    type: 'error',
                                                                    dismissQueue: false,
                                                                    layout: 'bottomRight',
                                                                    theme: 'defaultTheme',
                                                                    timeout: 1000
                                                                });
                                                            }
                                                        });
                                                    }
                                                }
                                            </script>
                                        </button>
                                    </div>
                                    <!-- VAT tax rate list -->
                                    <div class="col-md-8">
                                        <table id="example3" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Giá trị</th>
                                                    <th>Từ</th>
                                                    <th>Đến</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.VatTaxList.Count; i++)
                                                {
                                                <tr>
                                                    <td>@(i + 1)</td>
                                                    <td>@(Model.VatTaxList.ElementAt(i).TaxRateValue) %</td>
                                                    <td>@(Model.VatTaxList.ElementAt(i).BeginDate.ToString("dd/MM/yyyy"))</td>
                                                    <td>@(Model.VatTaxList.ElementAt(i).EndDate.Value.Year == 9999 ? "Chưa xác định" : Model.VatTaxList.ElementAt(0).EndDate.Value.ToString("dd/MM/yyyy"))</td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- VAT report -->
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">
                                    Kê khai thuế GTGT
                                </h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="quarter">Quý</label>
                                            <select class="form-control" id="quarter" name="quarter">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="datetimepicker">Năm</label>
                                            <div class="input-group date" id='datetimepicker'>
                                                <input type="text" readonly="readonly" class="form-control" id="year" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-primary" onclick="getTaxDeclaration()">Kê khai</button>
                                        <script type="text/javascript">
                                            function getTaxDeclaration() {
                                                var year = $("#year").val();
                                                var quarter = $("#quarter").val();
                                                window.open('@(Url.Action("VatTaxDeclaration", "Tax"))' + "?year=" + year + "&quarter=" + quarter, '_blank');
                                            }
                                        </script>
                                    </div>
                                    <div class="col-md-5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--TNDN-->
                    <div class="tab-pane" id="tndn">
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="page-header">Thuế thu nhập doanh nghiệp(TNDN)</h2>
                            </div>
                        </div>
                        <!--Tax rate-->
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Tỉ suất thuế</h3>
                            </div>
                            <div class="box-body" id="deductWay">
                                <div class="row">
                                    <!-- Current Excise tax rate -->
                                    <div class="col-md-4">
                                        Tỉ suất thuế TNDN hiện tại:
                                        <b>@(Model.CurrentTaxList.ElementAt(1).TaxRateValue) %</b>
                                        <button class="btn btn-primary btn-xs" onclick="openChangeExcisePopup()">
                                            <i class="fa fa-edit" style="margin-right: 3px;"></i>
                                            Thay đổi
                                            <script type="text/javascript">
                                                function openChangeExcisePopup() {
                                                    var title = "Cập nhật tỉ suất thuế thu nhập doanh nghiệp(TNDN)";
                                                    var body = $("<form>", {
                                                        "id": "changeTndn",
                                                        "class": "form-group",
                                                        "html": [
                                                            $("<div>", {
                                                                "class": "form-group",
                                                                "html": [
                                                                    "<label>Tỉ suất TNDN mới: </label>",
                                                                    $("<input>", {
                                                                        "type": "number",
                                                                        "min": "1",
                                                                        "max": "100",
                                                                        "name": "tndnRate",
                                                                        "value": "@(Model.CurrentTaxList.ElementAt(1).TaxRateValue)",
                                                                        "onkeypress": "return event.charCode >= 48 && event.charCode <= 57",
                                                                        "style": "margin-left: 15px; margin-right: 10px;"
                                                                    }),
                                                                    "<label>%</label>"
                                                                ]
                                                            }),
                                                            $("<div>", {
                                                                "class": "form-group",
                                                                "html": [
                                                                    "<label>Áp dụng từ ngày: </label>",
                                                                    $("<input>", {
                                                                        "type": "date",
                                                                        "name": "tndnBeginDate",
                                                                        "style": "margin-left: 10px;",
                                                                        "min": "@((DateTime.Now.AddDays(1)).ToString("yyyy-MM-dd"))",
                                                                        "value": "@((new DateTime((DateTime.Now.AddMonths(1).Year), (DateTime.Now.AddMonths(1).Month), 1).ToString("yyyy-MM-dd")))"
                                                                    })
                                                                ]
                                                            })
                                                        ]
                                                    });
                                                    var footer = $("<div>", {
                                                        "class": "row",
                                                        "html": [
                                                            $("<button>", {
                                                                "class": "btn btn-primary",
                                                                "data-dismiss": "modal",
                                                                "style": "margin-right: 10px",
                                                                "html": [
                                                                    "Đóng"
                                                                ]
                                                            }),
                                                            $("<button>", {
                                                                "class": "btn btn-success",
                                                                "style": "margin-right: 10px;",
                                                                "onclick": "changeTndn()",
                                                                "html": [
                                                                    "Đồng ý"
                                                                ]
                                                            })
                                                        ]
                                                    });
                                                    document.getElementById('popup-body').innerHTML = body[0].outerHTML;
                                                    document.getElementById('popup-title').innerHTML = title;
                                                    document.getElementById('popup-footer').innerHTML = footer[0].outerHTML;
                                                    $('#myModal').modal('show');
                                                }

                                                function changeTndn() {
                                                    var value = parseInt($("[name='tndnRate']").val());
                                                    if (value === parseInt("@(Model.CurrentTaxList.ElementAt(1).TaxRateValue)")) {
                                                        noty({
                                                            text: 'Tỉ suất thuế bằng giá trị hiện tại. Không thể cập nhật thuế thu nhập doanh nghiệp (TNDN)',
                                                            type: 'warning',
                                                            dismissQueue: false,
                                                            layout: 'topCenter',
                                                            theme: 'defaultTheme',
                                                            timeout: 1000
                                                        });
                                                    } else {
                                                        $.ajax({
                                                            url: "@(Url.Action("ChangeTndn", "Tax"))",
                                                            method: "POST",
                                                            data: $("#changeTndn").serialize(),
                                                            success: function (data) {
                                                                $('#myModal').modal('hide');
                                                                if (data === "1") {
                                                                    noty({
                                                                        text: 'Cập nhật thuế thu nhập doanh nghiệp (TNDN) thành công',
                                                                        type: 'success',
                                                                        dismissQueue: false,
                                                                        layout: 'topCenter',
                                                                        theme: 'defaultTheme',
                                                                        timeout: 3000
                                                                    });
                                                                    window.setTimeout(function () {
                                                                        location.reload();
                                                                    }, 4000);
                                                                } else {
                                                                    $('#myModal').modal('hide');
                                                                    noty({
                                                                        text: 'Không thể cập nhật thuế thu nhập doanh nghiệp (TNDN)',
                                                                        type: 'warning',
                                                                        dismissQueue: false,
                                                                        layout: 'topCenter',
                                                                        theme: 'defaultTheme',
                                                                        timeout: 1000
                                                                    });
                                                                }
                                                            },
                                                            fail: function (e) {
                                                                $('#myModal').modal('hide');
                                                                noty({
                                                                    text: 'Đã có lỗi xảy ra',
                                                                    type: 'error',
                                                                    dismissQueue: false,
                                                                    layout: 'bottomRight',
                                                                    theme: 'defaultTheme',
                                                                    timeout: 1000
                                                                });
                                                            }
                                                        });
                                                    }
                                                }
                                            </script>
                                        </button>
                                    </div>
                                    <!-- Excise tax rate list -->
                                    <div class="col-md-8">
                                        <table id="example4" class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Giá trị</th>
                                                    <th>Từ</th>
                                                    <th>Đến</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.ExciseTaxList.Count; i++)
                                                {
                                                    <tr>
                                                        <td>@(i + 1)</td>
                                                        <td>@(Model.ExciseTaxList.ElementAt(i).TaxRateValue) %</td>
                                                        <td>@(Model.ExciseTaxList.ElementAt(i).BeginDate.ToString("dd/MM/yyyy"))</td>
                                                        <td>@(Model.ExciseTaxList.ElementAt(i).EndDate.Value.Year == 9999 ? "Chưa xác định" : Model.ExciseTaxList.ElementAt(0).EndDate.Value.ToString("dd/MM/yyyy"))</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Tax report-->
                        <div class="box">
                            <div class="box-header">
                                <div class="box-title">
                                    Hỗ trợ kê khai thuế TNDN
                                </div>
                            </div>
                            <div class="box-body">
                                <!--Option-->
                                <div class="row">
                                    <div class="col-md-12" style="vertical-align: middle; ">
                                        <span style="margin-right: 10px;">Kê khai TỜ KHAI QUYẾT TOÁN THUẾ THU NHẬP DOANH NGHIỆP năm</span>
                                        <input type="number" id="tndnYear" min="1990" max="@(DateTime.Now.Year)" value="@(DateTime.Now.Year - 1)" />
                                        <button class="btn btn-primary btn-xs" style="margin-left: 10px" onclick="getTndnTaxDeclaration()">
                                            <i class="fa fa-bar-chart" style="margin-right: 3px"></i>
                                            Kê khai
                                            <script type="text/javascript">
                                                function getTndnTaxDeclaration() {
                                                    var year = $("#tndnYear").val();
                                                    window.open('@(Url.Action("TndnTaxDeclaration", "Tax"))' + "?year=" + year, '_blank');
                                                }
                                            </script>

                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section TaxIndexScript{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datetimepicker').datetimepicker({
                ignoreReadonly: true,
                format: 'YYYY',
                viewMode: 'years',
                locale: 'vi',
                maxDate: moment().startOf('year').format('MM/DD/YYYY'),
                minDate: moment("1990", "YYYY").startOf('year').format('MM/DD/YYYY'),
                defaultDate: moment().startOf('year').format('MM/DD/YYYY')
            });
        });
    </script>
}