@using System.Globalization
@model BMA.Models.ProductMaterial

@{
    ViewBag.Title = "Chi tiết nguyên liẹu";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
    IEnumerable<BMA.Models.Recipe> pu = ViewBag.ProductUse;
    string strURL = Request.Url.ToString();
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Chi tiết nguyên liệu</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <h3 class="profile-username text-center">@Model.ProductMaterialName</h3>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Số lượng hiện tại</b><a class="pull-right">@Model.ProductMaterialUnit</a><a class="pull-right">@string.Format("{0:0,0}", Model.CurrentQuantity)</a>
                        </li>
                        <li class="list-group-item">
                            <b>Số lượng tối thiểu</b><a class="pull-right">@Model.ProductMaterialUnit</a><a class="pull-right">@string.Format("{0:0,0}", Model.StandardQuantity)</a>
                        </li>
                        <li class="list-group-item">
                            <b>Trạng thái</b>
                            @if (Model.IsActive)
                            {
                                <a class="pull-right"><div class="label label-success">Đang sử dụng</div></a>
                            }
                            else
                            {
                                <a class="pull-right"><div class="label label-default">Không còn sử dụng</div></a>
                            }
                        </li>
                    </ul>
                    <a href="javascript:void(0)" class="btn btn-primary btn-block" onclick="open_container(@Model.ProductMaterialId, '@Model.ProductMaterialName', '@strURL')"><b>Đổi trạng thái</b></a>
                    <script>
                        function open_container(materialId, materialName, strURL, isActive) {
                            var content =
                                '<form role="form" action="" method="post" id="form-aprrove">' +
                                    '<div class="form-group">' +
                                    '<label>' + materialName + '</label>' +
                                    '<input type="hidden" name="materialId" value="' + materialId + '"/>' +
                                    '<input type="hidden" name="strURL" value="' + strURL + '"/>' +
                                    '<input type="hidden" name="isActive" value="' + isActive + '"/>' +
                                    '</div>' +
                                     '<div class="form-group">' +
                                     '<input type="radio" name="status" value="True" checked> Sử dụng' +
                                    '</div>' +
                                     '<div class="form-group">' +
                                     '<input type="radio" name="status" value="False"> Ngừng sử dụng' +
                                    '</div>' +
                                    '<div class="form-group" style="padding-bottom: 20px;">' +
                                    '</div>' +
                                    '</form>';
                            var title = 'Chọn trạng thái';
                            var footer = '<button onclick="checkExistedInProduct()" class="btn btn-success pull-right">Đồng ý</button>' +
                                    '<button type="button" class="btn btn-danger pull-right" style="margin-right: 10px;" data-dismiss="modal">Hủy</button>';
                            setModalBox(title, content, footer);
                            $('#myModal').modal('show');
                        }

                        function setModalBox(title, content, footer) {
                            document.getElementById('popup-body').innerHTML = content;
                            document.getElementById('popup-title').innerHTML = title;
                            document.getElementById('popup-footer').innerHTML = footer;
                        }

                        function checkExistedInProduct() {
                            $.ajax({
                                url: "@(Url.Action("ChangeStatus", "ManageMaterial"))",
                                method: "POST",
                                data: $("#form-aprrove").serialize(),
                                success: function (data) {
                                    if (data === "1") {
                                        noty({
                                            text: 'Thay đổi trạng thái thành công.',
                                            type: 'success',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                        var redirectURL = window.location.href;
                                        window.setTimeout(function () {
                                            window.location.replace(redirectURL);
                                        }, 3000);
                                    } else if (data === "-1") {
                                        noty({
                                            text: 'Nguyên liệu đang được sử dụng bởi sản phẩm trong hệ thống.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                    } else if (data === "-2") {
                                        noty({
                                            text: 'Có lỗi xảy ra, vui lòng thử lại.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                    } else if (data === "-3") {
                                        noty({
                                            text: 'Nguyên liệu hiện đã có trạng thái Đang sử dụng.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                    } else if (data === "-4") {
                                        noty({
                                            text: 'Nguyên liệu hiện đã có trạng thái Đã hủy.',
                                            type: 'warning',
                                            dismissQueue: false,
                                            layout: 'topCenter',
                                            theme: 'defaultTheme',
                                            timeout: 2000
                                        });
                                    }
                                },
                                fail: function () {
                                    noty({
                                        text: 'Đã có lỗi xảy ra',
                                        type: 'error',
                                        dismissQueue: false,
                                        layout: 'topCenter',
                                        theme: 'defaultTheme',
                                        timeout: 1000
                                    });
                                }
                            })
                        }
                    </script>

                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Sản phẩm sử dụng</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                        <!-- Post -->
                        <div class="post">
                            <div class="user-block">
                                <span class="username">
                                    <a href="#" style="margin-left:-50px;">Sản phẩm sử dụng @Model.ProductMaterialName</a>
                                </span>
                            </div>
                            <div class="box-body">
                                <table id="example2" class="table table-hover table-bordered">
                                    <thead style="font-weight: bold">
                                        <tr>
                                            <th>Tên sản phẩm</th>
                                            <th>Số lượng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in pu)
                                        {
                                            <tr>
                                                <td>@item.Product.ProductName</td>
                                                <td>@String.Format("{0} {1}", item.RecipeQuantity, item.ProductMaterial.ProductMaterialUnit)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
