@using System.Globalization
@using BMA.Models
@model List<ProductMaterial>
@{
    ViewBag.Title = "Quản lý nguyên liệu";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
    string strURL = Request.Url.ToString();
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Quản lý nguyên liệu</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <!-- box-body -->
        <div class="box-body">
            <table id="example2" class="table table-hover table-bordered">
                <thead style="font-weight: bold">
                    <tr>

                        <th>Tên nguyên liệu</th>
                        <th>Số lượng hiện tại</th>
                        <th>Số lượng tối thiểu</th>
                        <th>Trạng thái</th>
                        <th class="col-md-2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ProductMaterialName</td>
                            <td>
                                @if (item.CurrentQuantity != 0)
                                {
                                    if (item.CurrentQuantity < item.StandardQuantity && item.IsActive)
                                    {
                                        <p style="float:right;color:red;">@string.Format("{0:0,0} {1}", item.CurrentQuantity, item.ProductMaterialUnit)</p>
                                    }
                                    else
                                    {
                                        <p style="float:right">@string.Format("{0:0,0} {1}", item.CurrentQuantity, item.ProductMaterialUnit)</p>
                                    }
                                }
                                else
                                {
                                    if (item.CurrentQuantity < item.StandardQuantity && item.IsActive)
                                    {
                                        <p style="float:right;color:red">@string.Format("{0} {1}", item.CurrentQuantity, item.ProductMaterialUnit)</p>
                                    }
                                    else
                                    {
                                        <p style="float:right">@string.Format("{0} {1}", item.CurrentQuantity, item.ProductMaterialUnit)</p>
                                    }
                                }
                            </td>
                            <td>
                                @if (item.StandardQuantity != 0)
                                {
                                    <p style="float:right">@string.Format("{0:0,0} {1}", item.StandardQuantity, item.ProductMaterialUnit)</p>
                                }
                                else
                                {
                                    <p style="float:right">@string.Format("{0} {1}", item.StandardQuantity, item.ProductMaterialUnit)</p>
                                }
                            </td>
                            @{
                        if (item.IsActive)
                        {
                            <td><div class="label label-success">Đang sử dụng</div></td>
                        }
                        else
                        {
                            <td><div class="label label-default">Đã hủy</div></td>
                        }
                            }
                            <td class="">
                                <a class="btn btn-link btn-xs" href="@(Url.Action("Detail", "ManageMaterial", new { materialId = item.ProductMaterialId }))" title="Xem">
                                    <i class="fa fa-navicon" style="margin-right: 3px"></i>
                                </a>
                                @if (item.IsActive)
                                {
                                    <a class="btn btn-link btn-xs" href="@(Url.Action("Edit", "ManageMaterial", new { materialId = item.ProductMaterialId }))" title="Chỉnh sửa">
                                        <i class="fa fa-edit" style="margin-right: 3px"></i>
                                    </a>
                                }
                                <a class="btn btn-link btn-xs" href="javascript:void(0)" id="btn-choose" onclick="open_container(@item.ProductMaterialId, '@item.ProductMaterialName', '@strURL')" title="Thay đổi trạng thái">
                                    <i class="fa fa-refresh" style="margin-right: 3px"></i>
                                </a>
                                <script>
                                    function open_container(materialId, materialName, strURL, isActive) {
                                        var content =
                                            '<form role="form" action="/ManageMaterial/ChangeStatus" method="post" id="form-aprrove">' +
                                                '<div class="form-group">' +
                                                '<label>' + materialName + '</label>' +
                                                '<input type="hidden" name="materialId" value="' + materialId + '"/>' +
                                                '<input type="hidden" name="strURL" value="' + strURL + '"/>' +
                                                '<input type="hidden" name="isActive" value="' + isActive + '"/>' +
                                                '</div>' +
                                                 '<div class="form-group">' +
                                                 '<input type="radio" name="status" value="True" checked> Sử dụng' +
                                                '</div>' +
                                                 '<div class="form-group">' +
                                                 '<input type="radio" name="status" value="False"> Hủy' +
                                                '</div>' +
                                                '<div class="form-group" style="padding-bottom: 20px;">' +
                                                '<button type="submit" class="btn btn-success pull-right">Đồng ý</button>' +
                                                '<button type="button" class="btn btn-danger pull-right" style="margin-right: 10px;" data-dismiss="modal">Hủy</button>' +
                                                '</div>' +
                                                '</form>';
                                        var title = 'Chọn trạng thái';
                                        var footer = '';
                                        setModalBox(title, content, footer);
                                        $('#myModal').modal('show');
                                    }

                                    function setModalBox(title, content, footer) {
                                        document.getElementById('popup-body').innerHTML = content;
                                        document.getElementById('popup-title').innerHTML = title;
                                        document.getElementById('popup-footer').innerHTML = footer;
                                    }
                                </script>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="box-footer clearfix">
                <a href="@Url.Action("AddMaterial","ManageMaterial")" class="btn btn-sm btn-info btn-flat pull-left">Thêm nguyên liệu mới</a>
            </div>
        </div>
    </div>
</section>