@using System.Globalization
@using BMA.Models
@model List<BMA.Models.sp_GetAllProductIncomeYearly_Result>

@{
    ViewBag.Title = "GetAllProductIncomeYearly";
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}
<div class="body">
    <div class="box-header">
        @if (Model.ElementAt(0).YearNo == Model.ElementAt(Model.Count - 1).YearNo)
        {
            <h2 class="box-title">Lợi nhuận tất cả các sản phẩm năm @(Model.ElementAt(0).YearNo)</h2>
        }
        else
        {
            <h2 class="box-title">Lợi nhuận tất cả các sản phẩm từ năm @(Model.ElementAt(0).YearNo) đến @(Model.ElementAt(Model.Count - 1).YearNo)</h2>
        }
    </div>
    <div class="box-body">
        @{
            List<string> productCode = new List<string>();
            List<string> productName = new List<string>();
            List<String> timeList = new List<string>();
            foreach (sp_GetAllProductIncomeYearly_Result result in Model)
            {
                if (productCode.Count == 0)
                {
                    productCode.Add(result.ProductCode);
                    productName.Add(result.ProductName);
                    timeList.Add(result.YearNo.ToString());
                }
                else
                {
                    bool nameCheck = true;
                    foreach (string s in productCode)
                    {
                        if (s.Equals(result.ProductCode))
                        {
                            nameCheck = false;
                        }

                    }
                    if (nameCheck)
                    {
                        productCode.Add(result.ProductCode);
                        productName.Add(result.ProductName);
                    }

                    bool timeCheck = true;
                    foreach (string s in timeList)
                    {
                        string temp = (result.YearNo.ToString());
                        if (s.Equals(temp))
                        {
                            timeCheck = false;
                        }
                    }
                    if (timeCheck)
                    {
                        timeList.Add(result.YearNo.ToString());
                    }
                }
            }
        }
        <!--Table-->
        <table class="table" id="example3">
            <thead>
                <tr>
                    <th>Mã sản phẩm</th>
                    <th>Sản phẩm</th>
                    @foreach (string time in timeList)
                    {
                        <th style="text-align: center">@time</th>
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < productCode.Count; i++)
                {
                    <tr>
                        <td>@(productCode.ElementAt(i))</td>
                        <td>@(productName.ElementAt(i))</td>
                        @foreach (string time in timeList)
                        {
                            foreach (sp_GetAllProductIncomeYearly_Result incomeYearly in Model)
                            {
                                if (incomeYearly.ProductCode.Equals(productCode.ElementAt(i)) && (incomeYearly.YearNo.ToString()).Equals(time))
                                {
                                    <td style="text-align: right">@incomeYearly.Income.Value.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                }
                            }
                        }
                        @{
                        int id = 0;
                        while (id == 0)
                        {
                            foreach (sp_GetAllProductIncomeYearly_Result result in Model)
                            {
                                if (result.ProductCode.Equals(productCode.ElementAt(i)))
                                {
                                    id = result.ProductId.Value;
                                }
                            }
                        }
                        string queryString = id + ";" + timeList.First() + " - " + timeList.Last();
                        }

                        <td>
                            <button onclick="window.open('@(Html.Raw(Url.Action("Top10ProductIncomeDetail", "Report", new {query = queryString})))', '_blank')" class="btn btn-info btn-xs">
                                <i class="fa fa-info" style="margin-right: 3px"></i>Chi tiết
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


