@using System.Globalization
@using BMA.Models
@model List<BMA.Models.sp_GetIncomeWeekly_Result>
@{
    Layout = "~/Views/Layout/ManageLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header" style="vertical-align: middle">
    <h1>@(ViewBag.Title)</h1>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div id="reportrange" class="form-group pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
            <div class="dropdown pull-right" style="margin-right: 10px;">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: white">
                    Thống kê theo
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Tuần</a></li>
                    <li><a href="#">Tháng</a></li>
                    <li><a href="#">Năm</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <!--Chart-->
    <div class="row">
        <div class="col-md-12">
            <!--Line Chart-->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Biểu đồ thống kê thu nhập theo thời gian
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="lineChart" style="height: 250px"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Table-->
    @*<div class="row" id="income-report-table">


        </div>*@
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <table class="table" id="income-table">
                        <thead>
                            <tr>
                                <th>Từ</th>
                                <th>Đến</th>
                                <th>Doanh thu</th>
                                <th>Chi phí nguyên liệu</th>
                                <th>Thu nhập</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (sp_GetIncomeWeekly_Result weeklyResult in Model)
                            {
                                <tr>
                                    <td>@(weeklyResult.StartDate.Value.ToString("dd/MM/yyyy"))</td>
                                    <td>@(weeklyResult.EndDate.Value.ToString("dd/MM/yyyy"))</td>
                                    <td>@(weeklyResult.Revenue.Value.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</td>
                                    <td>@(weeklyResult.MaterialExpense.Value.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</td>
                                    <td>@(weeklyResult.Income.Value.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</td>
                                    <td>
                                        <a href="@(Url.Action("ReviewIncomeByTimeDetail", "Report", new { startDate = weeklyResult.StartDate.Value, endDate = weeklyResult.EndDate.Value }))" class="btn btn-info btn-xs">
                                        <i class="fa fa-info" style="margin-right: 3px"></i>Chi tiết
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

@section ReviewIncomeByTimeScript{
    <script src="~/Scripts/ChartNew.js"></script>
    @{
        string labels = "";
        string revenue = "";
        string materialExpense = "";
        string income = "";
        for (int i = 0; i < Model.Count; i++)
        {
            if (i == 0)
            {
                labels += ((DateTime)Model.ElementAt(i).StartDate).ToString("dd/MM/yyyy") + " - " + ((DateTime)Model.ElementAt(i).EndDate).ToString("dd/MM/yyyy");
                revenue += Model.ElementAt(i).Revenue.ToString();
                materialExpense += Model.ElementAt(i).MaterialExpense.ToString();
                income += Model.ElementAt(i).Income.ToString();
            }
            else
            {
                labels += ";" + ((DateTime)Model.ElementAt(i).StartDate).ToString("dd/MM/yyyy") + " - " + ((DateTime)Model.ElementAt(i).EndDate).ToString("dd/MM/yyyy");
                revenue += ";" + Model.ElementAt(i).Revenue;
                materialExpense += ";" + Model.ElementAt(i).MaterialExpense;
                income += ";" + Model.ElementAt(i).Income;
            }
        }
    }
    <script type="text/javascript">
        var linedata = {
            labels: "@(Html.Raw(labels))".split(";"),
            datasets: [

                {
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    data: "@(Html.Raw(income))".split(";").map(Number),
                    title: "Thu nhập"
                }
            ]
        }

        var opt1 = {
            legend: true,
            graphTitleFontSize: 18,
            graphMin: 0,
            responsive: true,
            xAxisLabel: "Thời gian",
            yAxisUnit: "đồng",
            yAxisLabel: "Thu nhập",
            thousandSeparator: ".",
            // Specify the number of Y-scales to display
            scaleOverride: true,
            // The start value of the scale
            scaleStartValue: 0,
            // The number of Y-scales to display
            scaleSteps: 7,
            // The width between two Y-scale
            scaleStepWidth: 500000,
            // The space between the X Axis (on position 0) can be filled or not
            datasetFill: false,
            annotateDisplay: true,
            annotateFunctionIn: myFctIn

        }
        window.onload = function () {
            new Chart(document.getElementById("lineChart").getContext("2d")).Line(linedata, opt1);
        }


        $(document).ready(function () {

            function cb(start, end) {
                $('#reportrange span').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
            }
            cb(moment("@(((DateTime)Model.ElementAt(0).StartDate).ToString("yyyy-MM-dd"))"), moment("@(((DateTime)Model.ElementAt(Model.Count-1).EndDate).ToString("yyyy-MM-dd"))"));


            $('#reportrange').daterangepicker({
                "locale": {
                    "applyLabel": "Áp dụng",
                    "cancelLabel": "Hủy",
                    "fromLabel": "Từ",
                    "toLabel": "Đến",
                    "customRangeLabel": "Tùy chỉnh",
                    "daysOfWeek": [
                        "CN",
                        "2",
                        "3",
                        "4",
                        "5",
                        "6",
                        "7"
                    ],
                    "monthNames": [
                        "Tháng 1",
                        "Tháng 2",
                        "Tháng 3",
                        "Tháng 4",
                        "Tháng 5",
                        "Tháng 6",
                        "Tháng 7",
                        "Tháng 8",
                        "Tháng 9",
                        "Tháng 10",
                        "Tháng 11",
                        "Tháng 12"
                    ],
                    "firstDay": 1
                },
                "startDate": moment("@(((DateTime)Model.ElementAt(0).StartDate).ToString("yyyy-MM-dd"))"),
                "endDate": moment("@(((DateTime)Model.ElementAt(Model.Count-1).EndDate).ToString("yyyy-MM-dd"))")
            }, cb);

            $('#reportrange').on('hide.daterangepicker', function (ev, picker) {
                //do something, like clearing an input
                var result = $('#reportrange span').html();
                reload(result);
            });
            // Load Report Detail
            $.ajax({
                url: "@(Url.Action("ReviewIncomeByTimeDetail","Report"))",
                method: "GET",
                data: {
                    startDate: "@(Model.ElementAt(0).StartDate.Value)",
                    endDate: "@(Model.ElementAt(0).EndDate.Value)"

                },
                success: function (data) {
                    $("#income-report-table").html(data);
                },
                fail: function (e) {

                }
            });
        });

        @*function reload(input) {
            var dateRange = input.split(" - ");
            var start = dateRange[0];
            var end = dateRange[1];
            window.location.replace("@(Url.Action("ReviewIncomeByTime", "Report"))" + "?start=" + start + "&end=" + end);
        }*@
        function myFctIn(area, ctx, data, statdata, posi, posj, othervars) {
            var index = posj;
            $("#income-table tbody tr:nth-child(" + (posj + 1) + ")").addClass('selected').siblings().removeClass('selected');
        };
    </script>
}

