@using System.Globalization
@using BMA.Models
@model List<BMA.Models.sp_GetTop10CustomerRevenueYearly_Result>
<!--Chart-->
<div class="row">
    <div class="col-md-12">
        <!--Line Chart-->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">
                    Biểu đồ thống kê 10 khách hàng doanh thu cao nhất
                </h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    List<string> customerName = new List<string>();
    List<string> fullName = new List<string>();
    List<String> timeList = new List<string>();
    foreach (sp_GetTop10CustomerRevenueYearly_Result result in Model)
    {
        if (customerName.Count == 0)
        {
            customerName.Add(result.Username);
            fullName.Add(result.Fullname);
            timeList.Add(result.YearNo.ToString());
        }
        else
        {
            bool nameCheck = true;
            foreach (string s in customerName)
            {
                if (s.Equals(result.Username))
                {
                    nameCheck = false;
                }

            }
            if (nameCheck)
            {
                customerName.Add(result.Username);
                fullName.Add(result.Fullname);
            }

            bool timeCheck = true;
            foreach (string s in timeList)
            {
                string temp = ((result.YearNo.ToString()));
                if (s.Equals(temp))
                {
                    timeCheck = false;
                }
            }
            if (timeCheck)
            {
                timeList.Add((result.YearNo.ToString()));
            }
        }
    }


}
<!--Table-->
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <table class="table" id="revenue-table">
                    <thead>
                    <tr>
                        <th>Tên đăng nhập</th>
                        <th>Khách hàng</th>
                        @foreach (string time in timeList)
                        {
                            <th style="text-align: center">@time</th>
                        }
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < customerName.Count; i++)
                    {
                        <tr>
                            <td>@(customerName.ElementAt(i))</td>
                            <td>@(fullName.ElementAt(i))</td>
                            @foreach (string time in timeList)
                            {
                                foreach (sp_GetTop10CustomerRevenueYearly_Result result in Model)
                                {
                                    if (result.Username.Equals(customerName.ElementAt(i)) && (result.YearNo.ToString()).Equals(time))
                                    {
                                        <td style="text-align: right">@result.Revenue.Value.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                    }
                                }
                            }
                            @{
                                int id = 0;
                                while (id == 0)
                                {
                                    foreach (sp_GetTop10CustomerRevenueYearly_Result result in Model)
                                    {
                                        if (result.Username.Equals(customerName.ElementAt(i)))
                                        {
                                            id = result.CustomerUserId.Value;
                                        }
                                    }
                                }
                                string queryString = id + ";" + timeList.First() + " - " + timeList.Last();
                            }

                            <td>
                                <button onclick="window.open('@(Html.Raw(Url.Action("Top10CustomerRevenueDetail", "Report", new {query = queryString})))', '_blank')" class="btn btn-info btn-xs">
                                    <i class="fa fa-info" style="margin-right: 3px"></i>Chi tiết
                                </button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@if (customerName.Count == 10)
{
    <div class="row">
        <button class="btn btn-danger pull-right" onclick="window.open('@(Html.Raw(Url.Action("GetAllCustomerRevenueYearly", "Report", new { startYear = Model.ElementAt(0).YearNo, endYear = Model.ElementAt(Model.Count - 1).YearNo })))', '_blank')">
            <i class="fa fa-list" style="margin-right: 3px"></i>Xem toàn bộ
        </button>
    </div>
}