@using BMA.Models
@using BMA.Models.ViewModel
@using System.Globalization;
@model List<CustomerCartViewModel>

@{
    ViewBag.Title = "Xác nhận đơn hàng";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
    //BMA.Models.DiscountByQuantity dbq = ViewBag.discount;
    int sumTotal = 0;
}

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li> <a href="@Url.Action("Index","Home")">Trang chủ</a> </li>
                <li> <a href="@Url.Action("Cart","Cart")">Giỏ hàng</a> </li>
                <li class="active">Đặt hàng </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-shopping-cart"></i> Đặt hàng </span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
            <h4 class="caps"><a href="@Url.Action("Index","Product")"><i class="fa fa-chevron-left"></i> Tiếp tục mua sắm </a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="row userInfo">
                <div class="w100 clearfix">
                    <div class="row userInfo">
                        <div class="col-xs-12 col-sm-12">
                            <div class="cartContent w100 checkoutReview ">
                                <table class="cartTable table-responsive" style="width:100%">
                                    <tbody>
                                        <tr class="CartProduct cartTableHeader">
                                            <th style="width:55%" colspan="2"> Sản phẩm </th>
                                            <th style="width:10%"> Đơn giá</th>
                                            <th class="hidden-xs" style="width:15%"> Số lượng</th>
                                            <th style="width:20%"> Tổng</th>
                                        </tr>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="CartProduct">
                                                <td class="CartProductThumb"><div> <a href="#"><img src="@Url.Content("~/Content/Images/BakeryImages/" + @item.ProductImage)" style="width:86px;height:53px;"></a> </div></td>
                                                <td>
                                                    <div class="CartDescription">
                                                        <h4> <a href="product-details.html">@item.ProductName </a> </h4>
                                                    </div>
                                                </td>
                                                <td class="delete"><div class="price ">@item.Price.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")) </div></td>
                                                <td class="hidden-xs">@item.Quantity</td>
                                                <td class="price">@item.Total.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                            </tr>
                                            sumTotal = sumTotal + @item.Total;
                                        }
                                    </tbody>
                                </table>
                            </div>

                            @{
                                //int discount = Convert.ToInt32(Convert.ToInt32(dbq.DiscountValue) * 0.01 * sumTotal);
                                //int cosAfterDiscount = sumTotal - discount;
                                int taxAmount = Convert.ToInt32(sumTotal * 0.1);
                                int totalValue = sumTotal + taxAmount;
                            }
                            <div class="w100 costDetails">
                                <div class="table-block" id="order-detail-content">
                                    <table class="std table" id="cart-summary">
                                        <tr>
                                            <td>Tổng cộng</td>
                                            <td class="price">@sumTotal.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                        </tr>
                                        @*<tr style="">
                                            <td>Giảm giá</td>
                                            <td class="price"><span class="success">@(discount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</span></td>
                                        </tr>
                                        <tr style="">
                                            <td>Sau giảm giá</td>
                                            <td class="price"><span class="success">@(cosAfterDiscount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</span></td>
                                        </tr>*@
                                        <tr>
                                            <td>Thuế VAT(@string.Format("{0}{1}", ViewBag.taxRate.TaxRateValue, "%"))</td>
                                            <td class="price" id="total-tax">@taxAmount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                        </tr>
                                        <tr>
                                            <td>Thành tiền</td>
                                            <td class=" site-color" id="total-price" style="font-size: 20px; color: #4ec67f !important">@totalValue.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="input-append couponForm">
                                                    <input id="datetimepicker" class="col-lg-12" type="text" placeholder="Ngày nhận hàng">
                                                </div>
                                            </td>
                                        </tr>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="cartFooter w100" style="margin-bottom:50px;">
                    <div class="box-footer">
                        <div class="pull-left"> <a onclick="javascript:history.back(-1);" class="btn btn-success"> <i class="fa fa-arrow-left"></i> &nbsp; Quay lại giỏ hàng </a> </div>
                        <div class="pull-right">
                            @{
                                if (Session["User"] != null)
                                {
                                    <a href="@Url.Action("OrderProduct","Cart")" class="btn btn-primary btn-small ">
                                        Xác nhận &nbsp; <i class="fa fa-check"></i>
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("OrderInfo", "Cart")" class="btn btn-primary btn-small ">
                                        Xác nhận &nbsp; <i class="fa fa-check"></i>
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
        @*<div class="col-lg-4 col-md-4 col-sm-5 rightSidebar">
                <div class="contentBox">
                    <div class="w100 costDetails">
                        <div class="table-block" id="order-detail-content">
                            <div class="w100 cartMiniTable">
                                <table id="cart-summary" class="std table">
                                    <tbody>
                                        <tr>
                                            <td>Tổng cộng</td>
                                            <td class="price">@sumTotal.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                        </tr>
                                        <tr style="">
                                            <td>Giảm giá</td>
                                            <td class="price"><span class="success">10.000</span></td>
                                        </tr>
                                        <tr>
                                            <td>Thuế VAT(@string.Format("{0}{1}", ViewBag.taxRate.TaxRateValue, "%"))</td>
                                            <td class="price" id="total-tax">@taxAmount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                        </tr>
                                        <tr>
                                            <td>Thành tiền</td>
                                            <td class=" site-color" id="total-price" style="font-size: 20px; color: #4ec67f !important">@totalValue.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                        </tr>
                                    </tbody>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

    </div>

    <div style="clear:both"></div>
</div>

