@using BMA.Models
@using BMA.Models.ViewModel
@using System.Globalization;
@model List<CustomerCartViewModel>

@{
    ViewBag.Title = "Xác nhận đơn hàng";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
    BMA.Models.DiscountByQuantity dbq = TempData["Discount"] as DiscountByQuantity;
    int sumTotal = 0;
    int taxAmount = 0;
    int totalValue = 0;
    int discount = 0;
    int cosAfterDiscount = 0;
    string productName = ViewBag.productName;
}

<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li> <a href="@Url.Action("Index","Home")">Trang chủ</a> </li>
                <li> <a href="@Url.Action("Cart","Cart")">Giỏ hàng</a> </li>
                <li class="active">Đặt hàng </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-shopping-cart"></i> Đặt hàng </span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
            <h4 class="caps"><a href="@Url.Action("Index","Product")"><i class="fa fa-chevron-left"></i> Tiếp tục mua sắm </a></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="row userInfo">
                <div class="w100 clearfix">
                    <div class="row userInfo">
                        <div class="col-xs-12 col-sm-12">
                            <div class="cartContent w100 checkoutReview ">
                                <table class="cartTable table-responsive" style="width:100%">
                                    <tbody>
                                        <tr class="CartProduct cartTableHeader">
                                            <th style="width:55%" colspan="2"> Sản phẩm </th>
                                            <th style="width:10%"> Đơn giá</th>
                                            <th class="hidden-xs" style="width:15%"> Số lượng</th>
                                            <th style="width:20%"> Tổng</th>
                                        </tr>
                                        @foreach (var item in Model)
                                        {
                                        <tr class="CartProduct">
                                            <td class="CartProductThumb"><div> <a href="#"><img src="@Url.Content("~/Content/Images/BakeryImages/" + @item.ProductImage)" style="width:86px;height:58px;"></a> </div></td>
                                            <td>
                                                <div class="CartDescription">
                                                    <h4>@item.ProductName</h4>
                                                </div>
                                            </td>
                                            <td class="delete"><div class="price ">@item.Price.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")) </div></td>
                                            <td class="hidden-xs">@item.Quantity</td>
                                            <td class="price">@item.Total.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                        </tr>
                                            sumTotal = sumTotal + @item.Total;
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @if (dbq != null)
                            {
                                discount = Convert.ToInt32(Convert.ToInt32(dbq.DiscountValue) * 0.01 * sumTotal);
                                cosAfterDiscount = sumTotal - discount;
                                taxAmount = Convert.ToInt32(cosAfterDiscount * 0.1);
                                totalValue = taxAmount + cosAfterDiscount;
                            }
                            else
                            {
                                taxAmount = Convert.ToInt32(sumTotal * 0.1);
                                totalValue = taxAmount + sumTotal;
                            }
                            <div class="w100 costDetails">
                                <div class="table-block" id="order-detail-content">
                                    <table class="std table" id="cart-summary">
                                        <tr>
                                            <td>Tổng cộng</td>
                                            <td class="price">@sumTotal.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                            <td><input type="hidden" value="@productName" id="productName" /></td>
                                        </tr>
                                        @if (dbq != null)
                                        {
                                        <tr>
                                            <td>Giảm giá(@string.Format("{0}{1}", dbq.DiscountValue, "%"))</td>
                                            <td class="price"><span class="success">@(discount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</span></td>
                                        </tr>
                                        <tr>
                                            <td>Sau giảm giá</td>
                                            <td class="price"><span class="success">@(cosAfterDiscount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</span></td>
                                        </tr>
                                        }
                                        <tr>
                                            <td>Thuế VAT(@string.Format("{0}{1}", ViewBag.taxRate.TaxRateValue, "%"))</td>
                                            <td class="price" id="total-tax">@taxAmount.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                        </tr>
                                        <tr>
                                            <td>Thành tiền</td>
                                            <td class=" site-color" id="total-price" style="font-size: 20px; color: #4ec67f !important">@totalValue.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold">Ngày nhận hàng</td>
                                            <td class="price" id="total-tax">@((Session["DeliveryDate"]).ToString())</td>
                                        </tr>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cartFooter w100" style="margin-bottom:50px;">
                    <div class="box-footer">
                        <div class="pull-left"> <a href="@Url.Action("Cart","Cart")" class="btn btn-success"> <i class="fa fa-arrow-left"></i> &nbsp; Quay lại giỏ hàng </a> </div>
                        <div class="pull-right">
                            @{
                                if (Session["User"] != null)
                                {
                                    if (Session["BeEdited"] != null)
                                    {
                            <a onclick="EditOrder()" class="btn btn-primary btn-small ">
                                Xác nhận &nbsp; <i class="fa fa-check"></i>
                            </a>
                                    }
                                    else
                                    {
                            <a onclick="OrderProduct()" class="btn btn-primary btn-small ">
                                Xác nhận &nbsp; <i class="fa fa-check"></i>
                            </a>
                                    }

                                }
                                else
                                {
                            <a onclick="OrderInfo()" class="btn btn-primary btn-small ">
                                Xác nhận &nbsp; <i class="fa fa-check"></i>
                            </a>
                                }
                            }
                        </div>
                        <div class="pull-right" style="margin-right:10px;"> <a href="@Url.Action("DeleteAll", "Cart")" class="btn btn-danger"> <i class="fa fa-times"></i> &nbsp; Hủy đơn hàng </a> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="order-box">
                <div class="order-box-header">
                    Ghi chú
                </div>
                <div class="tab-pane active" style="font-size:15px;margin:10px;height:150px;word-wrap:break-word">
                    @Session["Note"]
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function EditOrder() {
            var productName = $("#productName").val();
            $.ajax({
                url: "@(Url.Action("EditOrder", "Cart", new { @orderId = Convert.ToInt32(Session["BeEdited"])}))",
                data: "@(Url.Action("EditOrder", "Cart", new { @orderId = Convert.ToInt32(Session["BeEdited"])}))",
                success: function (data) {
                    if (data === "1") {
                        window.setTimeout(function () {
                            window.location.replace("@(Url.Action("EditOrderSuccess", "Cart", new { @orderId = Convert.ToInt32(Session["BeEdited"])}))");
                        }, 500);
                    } if (data === "-1") {
                        window.setTimeout(function () {
                            window.location.replace("@(Url.Action("Index", "Product"))");
                        }, 500);
                    } if (data === "-2") {
                        noty({
                            text: 'Xin lỗi quý khách, sản phẩm ' + productName + ' đã ngừng sản xuất. Qúy khách vui lòng gỡ khỏi giỏ hàng',
                            type: 'warning',
                            dismissQueue: false,
                            layout: 'topCenter',
                            theme: 'defaultTheme',
                            timeout: 3000
                        });
                    }
                },
                fail: function () {
                    noty({
                        text: 'Đã có lỗi xảy ra',
                        type: 'error',
                        dismissQueue: false,
                        layout: 'topCenter',
                        theme: 'defaultTheme',
                        timeout: 1000
                    });
                }
            })
        }

        function OrderProduct() {
            var productName = $("#productName").val();
            $.ajax({
                url: "@(Url.Action("OrderProduct", "Cart"))",
                data: "@(Url.Action("OrderProduct", "Cart"))",
                success: function (data) {
                    if (data === "1") {
                        window.setTimeout(function () {
                            window.location.replace("@(Url.Action("OrderSuccess", "Cart"))");
                        }, 500);
                    } if (data === "-1") {
                        window.setTimeout(function () {
                            window.location.replace("@(Url.Action("Index", "Product"))");
                        }, 500);
                    } if (data === "-2") {
                        noty({
                            text: 'Xin lỗi quý khách, sản phẩm ' + productName + ' đã ngừng sản xuất. Qúy khách vui lòng gỡ khỏi giỏ hàng',
                            type: 'warning',
                            dismissQueue: false,
                            layout: 'topCenter',
                            theme: 'defaultTheme',
                            timeout: 3000
                        });
                    }
                },
                fail: function () {
                    noty({
                        text: 'Đã có lỗi xảy ra',
                        type: 'error',
                        dismissQueue: false,
                        layout: 'topCenter',
                        theme: 'defaultTheme',
                        timeout: 1000
                    });
                }
            })
        }

        function OrderInfo() {
            var productName = $("#productName").val();
            $.ajax({
                url: "@(Url.Action("CheckProductActive", "Cart"))",
                data: "@(Url.Action("CheckProductActive", "Cart"))",
                success: function (data) {
                    if (data === "1") {
                        window.setTimeout(function () {
                            window.location.replace("@(Url.Action("OrderInfo", "Cart"))");
                        }, 500);
                    }
                    if (data === "-1") {
                        noty({
                            text: 'Xin lỗi quý khách, sản phẩm ' + productName + ' đã ngừng sản xuất. Qúy khách vui lòng gỡ khỏi giỏ hàng',
                            type: 'warning',
                            dismissQueue: false,
                            layout: 'topCenter',
                            theme: 'defaultTheme',
                            timeout: 3000
                        });
                    }
                },
                fail: function () {
                    noty({
                        text: 'Đã có lỗi xảy ra',
                        type: 'error',
                        dismissQueue: false,
                        layout: 'topCenter',
                        theme: 'defaultTheme',
                        timeout: 1000
                    });
                }
            })
        }
    </script>
    <div style="clear:both"></div>
</div>
