@using BMA.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Product>

@{
    ViewBag.Title = "Tất cả sản phẩm";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
}

<script src="~/Content/CustomerLayout/JS/css-pop.js"></script>
<section class="border-top">
    <div class="container">
        <div style="margin-bottom:5px;" class="page-title mrgb5x mrgt6x clearfix">
            <h4 class="page-name">TÌM KIẾM</h4>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="property-filter clearfix">
            <div class="filter-type mrgb6x clearfix">
                <div style="margin-left:-45px;width:108%" class="row">
                    <ul class="filter-form col-md-6 col-sm-5">
                        <li>
                            <div class="select-box col-md-6">
                                <select class="form-control" name="dropdown">
                                    <option value="location">Tên sản phẩm</option>
                                    <option value="type">Nguyên liệu</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="form-section col-md-6">
                                <input class="form-control" placeholder="">
                            </div>
                        </li>
                    </ul>
                    <ul style="margin-top:1px;" class="filter-values col-md-3 col-sm-3">
                        <li>
                            <div style="width:100%" class="filter-btn col-md-4"> <a href="#" class="filter-property">TÌM KIẾM</a> </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- -->
            <div class="row">
                <ul class="filter-list clearfix">
                    @foreach (var item in Model)
                    {
                        <li class="mix sale col-md-3 col-sm-4 mrgb5x" data-price="5">
                            <div class="property-box animated out" data-delay="0" data-animation="fadeInUp">
                                <div class="appartment-img">
                                    <img src="@Url.Content("~/Content/Images/BakeryImages/brood-1.jpg")" class="img-responsive" alt="#" />
                                    <div class="detail-btn"> <a href="@Url.Action("ProductDetail", "Product", new { @ProductId = item.ProductId})" class="sale">Chi tiết</a> </div>
                                </div>
                                <div class="property-text">
                                    <div style="margin-bottom:-20px;" class="appartment-name">
                                        <h4>@item.ProductName</h4><br />
                                    </div>
                                    <div class="property-price">
                                        <h3><sup>$</sup><span>@item.ProductStandardPrice</span></h3>
                                    </div>

                                    <div style="margin-left:60px;" class="detail-btn mrgt3x">
                                        <a href="javascript:void(0)" onclick="return openPopup('@item.ProductName','@item.ProductId','@item.ProductStandardPrice');" class="sale">Mua hàng</a>
                                        <script type="text/javascript">
                                            var selectDongia = 0;
                                            function openPopup(productName, productId, dongia) {
                                                selectDongia = dongia;
                                                $('#light .totalPriceProduct').text(selectDongia + " Đồng");
                                                $("#light .popupProductName").text(productName);
                                                $("#light .hiddenProductID").attr('value', productId);
                                                $("#light").show();
                                                $("#fade").show();

                                                return 1;
                                            }
                                            $('#light .inputProductNum').keyup(function () {
                                                var total = $(this).val() * selectDongia;
                                                total = addPeriod(total);
                                                $('#light .totalPriceProduct').text(total + " Đồng");
                                            });
                                            $('.inputProductNum').keyup(function () {
                                                if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                                                    this.value = this.value.replace(/[^0-9\.]/g, '');
                                                }
                                            });

                                            function addPeriod(nStr) {
                                                nStr += '';
                                                x = nStr.split('.');
                                                x1 = x[0];
                                                x2 = x.length > 1 ? '.' + x[1] : '';
                                                var rgx = /(\d+)(\d{3})/;
                                                while (rgx.test(x1)) {
                                                    x1 = x1.replace(rgx, '$1' + '.' + '$2');
                                                }
                                                return x1 + x2;
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div id="light" class="white_content">
                                <center><h2 class="popupProductName" style="color:#808080">@item.ProductName</h2></center>
                                <div class="border-top"></div>
                                <br />
                                <form id="addCartForm" action='@Url.Action("AddCart", "Cart", new { @strURL = Request.Url.ToString()})' method="post">
                                    <table class="popup-table">
                                        <tr>
                                            <td>Số lượng: </td>
                                            <td><input style="width:220px;" type="text" value="" placeholder="Chỉ nhập số" class="inputProductNum" id="inputProductNum" name="inputNumber" required /></td>
                                        </tr>
                                        <tr>
                                            <td>Thành tiền: </td>
                                            <td class="totalPriceProduct"></td>
                                        </tr>
                                    </table>
                                    <input type="hidden" class="hiddenProductID" name="productID" value="" />
                                </form>
                                <div class="popup-btn"> <a href="#" onclick="document.getElementById('light').style.display = 'none'; document.getElementById('fade').style.display = 'none'" class="book-it"><i class="fa fa-angle-right"></i>Hủy bỏ</a> </div>
                                <div class="popup-btn" style="margin-right:30px"> <a href="#" onclick="return submitAddCart();" class="book-it"><i class="fa fa-angle-right"></i>Đồng ý</a> </div>
                                <script type="text/javascript">
                                    function submitAddCart() {
                                        document.getElementById("addCartForm").submit();
                                        return 1;
                                    }
                                </script>
                            </div>
                            <div id="fade" class="black_overlay"></div>
                        </li>
                    }
                </ul>

                <div class="numbering">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                </div>
            </div>
        </div>
    </div>
</section>