@using BMA.Models
@using PagedList.Mvc;
@using System.Globalization;
@model PagedList.PagedList<Product>
@using BMA.Models.ViewModel

@{
    ViewBag.Title = "Tất cả sản phẩm";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
    List<CustomerCartViewModel> lstProductCart = ViewBag.lstProductCart;
    int quantity = 0;
    int selectDongia = 0;
}

<section class="category-wrapper">
    <section id="category-intro" class="section-intro scrollme parallaxOffset">
        <div class="cat-intro animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="-220" data-rotatez="0" data-crop="true">
            <div class="cat-intro-text">
                <div class="display-table hw100">
                    <div class="display-table-cell hw100">
                        <div class="box-text-cell-inner white animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="-260" data-rotatez="0" data-crop="true">
                            <p> <a style="color:#fff" href="#main-container-wrapper" class="scrollto"><i class="fa fa-2x fa-angle-down"></i></a> </p>
                        </div>
                    </div>
                </div>
            </div>
            <img src="/Content/CustomerLayout/Images/slider2.jpg" alt="img" class=" cat-intro-banner">
        </div>
    </section>
    <section class="main-container-wrapper clearfix" id="main-container-wrapper" style="">
        <div class="container main-container">
            <div class="row">
                <div class="catTopBar clearfix">
                    <div class="catTopBarInner clearfix">
                        <div class="col-lg-2 col-md-2 col-sm-12">
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <form method="post" action="/Product" class="form-horizontal">
                                <div class="f-right">
                                    <div class="w100  clearfix center-xs-inner">
                                        <div class="pull-right hidden-xs">
                                            <div class="change-view-flat">
                                                <div class="change-view pull-right">
                                                    <input id="searchinput" name="txtSearch" placeholder="Nhập từ khóa cần tìm" class="form-control-search input-md" type="search">
                                                    <button id="singlebutton" name="singlebutton" class="btn btn-primary btn-sm" style="margin-left:5px;height:34px;margin-bottom:5px;"> Tìm kiếm </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="catColumnWrapper">
                    <div class="col-lg-12 col-md-12 col-sm-12 categoryColumn">
                        <div class="row  categoryProduct xsResponse clearfix">
                            @if (Model.Count == 0)
                            {
                                <div class="item col-sm-12 col-lg-12 col-md-12 col-xs-12">
                                    <h1 style="color:red;font-family:Vn3DH;">Không có sản phẩm yêu cầu</h1>
                                </div>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    if (lstProductCart != null)
                                    {
                                        for (int i = 0; i < lstProductCart.Count; i++)
                                        {
                                            if (item.ProductId == lstProductCart[i].ProductId)
                                            {
                                                quantity = lstProductCart[i].Quantity;
                                                selectDongia = item.ProductStandardPrice * quantity;
                                                break;
                                            }
                                            else
                                            {
                                                quantity = 0;
                                            }
                                        }
                                    }
                                    <div class="item col-sm-3 col-lg-3 col-md-3 col-xs-6">
                                        <div class="product">
                                            <div class="image">
                                                <div class="quickview">
                                                    <a href="@Url.Action("ProductDetail", "Product", new { @ProductId = item.ProductId })" title="Chi tiết" class="btn btn-xs  btn-quickview" style="font-family: 'Patrick Hand SC'; "> <i class="glyphicon glyphicon-list"> </i> CHI TIẾT </a>
                                                </div>
                                                <a><img src="@Url.Content("~/Content/Images/BakeryImages/" + item.ProductImage)" alt="img" class="img-responsive" style="width:378px;height:270px;"></a>
                                            </div>
                                            <div class="description" style="margin-bottom:-50px;">
                                                <h4><a href="product-details.html">@item.ProductName</a></h4>
                                            </div>
                                            <div class="price"> <span>@item.ProductStandardPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</span> </div>
                                            <div class="action-control"><a title="Chi tiết" class="btn btn-primary" data-target="#product-details-modal" data-toggle="modal" onclick="return openPopup('@item.ProductName','@item.ProductId','@item.ProductStandardPrice','@item.ProductImage','@item.ProductCode','@quantity','@selectDongia');"><span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"></i> Mua hàng </span></a></div>

                                            <script type="text/javascript">
                                                var imageLink;
                                                function openPopup(productName, productId, price, image, code, quantity, selectDongia) {
                                                    var printPrice = addPeriod(price);
                                                    imageLink = "/Content/Images/BakeryImages/" + image;
                                                    $('#product-details-modal #productPrice').text(printPrice + " Đồng");
                                                    if (quantity == 0) {
                                                        $('#product-details-modal #totalPriceProduct').text(addPeriod(price) + " Đồng");
                                                    } else {
                                                        $('#product-details-modal #totalPriceProduct').text(addPeriod(selectDongia) + " Đồng");
                                                    }
                                                    $('#product-details-modal #productImage').attr("src", imageLink)
                                                    $('#product-details-modal #productCode').text(code);
                                                    $("#product-details-modal #productName").text(productName);
                                                    $("#product-details-modal .hiddenProductID").attr('value', productId);
                                                    $("#product-details-modal .hiddenProductImage").attr('value', image);
                                                    $('#product-details-modal .quanitySniper').attr('value', quantity);
                                                    //$('#product-details-modal .quanitySniper').text(quantity);

                                                    $('#product-details-modal .quanitySniper').keyup(function () {
                                                        selectDongia = price;
                                                        var total = $(this).val() * selectDongia;
                                                        total = addPeriod(total);
                                                        $('#product-details-modal #totalPriceProduct').text(total + " Đồng");
                                                    });

                                                    //$('#product-details-modal .quanitySniper').on('keydown keyup', function (e) {
                                                    //    if ($(this).val() > 5000
                                                    //            && e.keyCode != 46 // delete
                                                    //            && e.keyCode != 8 // backspace
                                                    //           ) {
                                                    //        e.preventDefault();
                                                    //        $(this).val(5000);
                                                    //    }
                                                    //});

                                                    //$('#product-details-modal .quanitySniper').on('keyup', function (e) {
                                                    //    if ($(this).val() < 1
                                                    //        && e.keyCode != 46 // delete
                                                    //        && e.keyCode != 8 // backspace
                                                    //        ) {
                                                    //        e.preventDefault();
                                                    //        $(this).val(1);
                                                    //    }
                                                    //});


                                                    $('#product-details-modal .quanitySniper').keypress(function (e) {
                                                        var key_codes = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 8];
                                                        if (!($.inArray(e.which, key_codes) >= 0)) {
                                                            e.preventDefault();
                                                        }
                                                    });

                                                    function addPeriod(nStr) {
                                                        nStr += '';
                                                        x = nStr.split('.');
                                                        x1 = x[0];
                                                        x2 = x.length > 1 ? '.' + x[1] : '';
                                                        var rgx = /(\d+)(\d{3})/;
                                                        while (rgx.test(x1)) {
                                                            x1 = x1.replace(rgx, '$1' + '.' + '$2');
                                                        }
                                                        return x1 + x2;
                                                    }
                                                    return 1;
                                                }
                                            </script>
                                        </div>
                                    </div>
                                }
                            }

                            <div class="modal fade" id="product-details-modal" tabindex="-1" role="dialog" aria-hidden="true" style="margin-top:70px;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button"> × </button>
                                        <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
                                            <div class="main-image  col-lg-12 no-padding style3" style="margin-top:30px;margin-left:30px">
                                                <div class="product-largeimg-link">
                                                    <img src="" class="img-responsive product-largeimg" alt="img" id="productImage" style="width:400px;height:300px;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 modal-details" style="height: 380px;">
                                            <div style="min-height:365px;" class="modal-details-inner">
                                                <form role="form" action='@Url.Action("AddCart", "Cart", new { @strURL = Request.Url.ToString() })' method="post" id="addCartForm">
                                                    <h2 class="product-title" id="productName" style="font-size:25px;"></h2>
                                                    <h3 class="details-description">Mã sản phẩm : <span class="price-sales" id="productCode"></span></h3>
                                                    <input type="hidden" class="hiddenProductID" name="productID" value="" />
                                                    <input type="hidden" class="hiddenProductImage" name="productImage" value="" />
                                                    <h3 class="details-description">Đơn giá : <span class="price-sales" id="productPrice"></span></h3>

                                                    <div class="productFilter productFilterLook2">
                                                        <div style="width:50%">
                                                            <input type="text" name="txtQuantity" maxlength="5" placeholder="Nhập số lượng" class="quanitySniper" id="quantityCheck" style="font-size:16px;padding-bottom:0px;min-width:158px;" value="" />
                                                        </div>
                                                    </div>
                                                    <h3 class="details-description">Thành tiền : <span id="totalPriceProduct"> </span></h3>

                                                    @*<div class="cart-actions">
                                                            <div class="addto">
                                                                <button onclick="addCartForm.submit(this);" class="button btn-cart cart first" title="Add to Cart" type="submit" style="font-family: 'Patrick Hand SC'">Thêm vào giỏ hàng</button>
                                                            </div>
                                                        </div>*@
                                                </form>
                                                <div class="cart-actions">
                                                    <div class="addto">
                                                        <button onclick="return validateInput('')" class="button btn-cart cart first" title="Add to Cart" style="font-family: 'Patrick Hand SC'">Thêm vào giỏ hàng</button>
                                                    </div>
                                                </div>
                                                <script type="text/javascript">
                                                    function toNumber(str) {
                                                        return str * 1;
                                                    }

                                                    function validateInput() {
                                                        var txtQuantity = $("#quantityCheck").val();
                                                        var numQuantity = toNumber(txtQuantity);
                                                        if (txtQuantity.trim() === '') {
                                                            noty({
                                                                text: 'Số lượng không được để trống.',
                                                                type: 'warning',
                                                                dismissQueue: false,
                                                                layout: 'topCenter',
                                                                theme: 'defaultTheme',
                                                                timeout: 2000
                                                            });
                                                        } else if (txtQuantity < 1 || txtQuantity > 5000) {
                                                            noty({
                                                                text: 'Số lượng phải lớn hơn 1 và nhỏ hơn 5000.',
                                                                type: 'warning',
                                                                dismissQueue: false,
                                                                layout: 'topCenter',
                                                                theme: 'defaultTheme',
                                                                timeout: 2000
                                                            });
                                                        }
                                                        else {
                                                            $("#addCartForm").submit();
                                                        }
                                                    }
                                                </script>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="w100 categoryFooter">
                            <div class="pagination pull-left no-margin-top" style="margin-left:500px;">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </section>
</section>

<script src="/Content/CustomerLayout/assets/js/hideMaxListItem-min.js"></script>
<script>
    $(document).ready(function () {
        $('ul.long-list').hideMaxListItems({
            'max': 6,
            'speed': 500,
            'moreText': 'VIEW MORE ([COUNT])',
            'lessText': 'VIEW LESS',
            'moreHTML': '<p class="maxlist-more"><a href="#">MORE OF THEM</a></p>'
        });
    });



</script>

<script src="/Content/CustomerLayout/assets/js/jquery.scrollme.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var isMobile = function () {
            //console.log("Navigator: " + navigator.userAgent);
            return /(iphone|ipod|ipad|android|blackberry|windows ce|palm|symbian)/i.test(navigator.userAgent);
        };

        if (isMobile()) {
            // For  mobile , ipad, tab
            $('.animateme').removeClass('animateme');
            $('.category-wrapper').addClass('ismobile');
            $('.main-container-wrapper').addClass('ismobile');
            $('#category-intro').addClass('ismobile');

        } else {
        }
        $('.shrtByP a').click(function () {
            $('.shrtByP a').removeClass('active');
            $(this).addClass('active');
        });


        $('.filterToggle').click(function () {
            $(this).toggleClass('filter-is-off');
            $('.filterToggle span').toggleClass('is-off');
            $('.catColumnWrapper').toggleClass('filter-is-off');
            $('.catColumnWrapper .col-sm-4').toggleClass('col-sm-3 col-lg-3 col-md-3');

            // equal height reload function

            var $elements = $('.categoryProduct > .item');
            var columns = $elements.detectGridColumns();
            $elements.equalHeightGrid(columns);


            setTimeout(function () {
                //  reload function after 0.5 second
                $('.categoryProduct > .item').responsiveEqualHeightGrid();
            }
                    , 500);

        });


        $('[data-toggle="collapse"]').click(function (e) {

            $('#accordion').on('show.bs.collapse', function (e) {
                $(e.target).prev().addClass('active').find('span').removeClass('hasPlus').addClass('hasMinus');
            })

            $('#accordion').on('hide.bs.collapse', function (e) {
                $(e.target).prev().addClass('active').find('span').addClass('hasPlus').removeClass('hasMinus');

            })
        });

    }); // end

    $(window).bind('resize load', function () {
        if ($(this).width() < 767) {
            $('#accordion .panel-collapse').collapse('hide');

            $('#accordion .panel-heading ').find('span').removeClass('hasMinus').addClass('hasPlus');

        } else {
            $('#accordion .panel-collapse').removeClass('out').addClass('in').css('height', 'auto');
            $('#accordion .panel-heading ').find('span').removeClass('hasPlus').addClass('hasMinus');
        }
    });

</script>