@model BMA.Models.Product
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
    IEnumerable<BMA.Models.Recipe> pm = ViewBag.ProductMaterial;
}

<section class="border-top">
    <div class="container">
        <div class="page-title mrgb6x mrgt6x clearfix">
            <h4 class="page-name">@Model.ProductName</h4>
            <div class="tag-bar"> <a href="#"><span>your aiming holiday</span></a> </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="property-single">
            <div class="col-md-6 no-padding col-sm-8 animated out" data-delay="0" data-animation="fadeInUp">
                <div class="property-single-img">
                    <img src="@Url.Content("~/Content/Images/BakeryImages/brood-1.jpg")" class="img-responsive" alt="#" />
                    <div class="image-detail">
                        <h5 class="place-name">@Model.ProductName.ToUpper()</h5>
                        <div class="place-price"><span>@Model.ProductStandardPrice<sup>/cái</sup></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-4 animated out" data-delay="0" data-animation="fadeInUp">
                <div class="property-heading property-info">
                    <h4><span>@Model.ProductName.ToUpper()</span></h4>
                    <p style="font-size:14px;">@Model.Descriptions</p>
                    @*<div style="margin-top:153px;" class="booking-btn"> <a href="@Url.Action("AddCart", "Cart", new { @productId = Model.ProductId, @strURL = Request.Url.ToString() })" class="book-it">MUA HÀNG</a> </div>*@
                    <div style="margin-top: 153px;" class="booking-btn">
                        <a style="color:#ffffff" href="javascript:void(0)" onclick="return openPopup('@Model.ProductName','@Model.ProductId','@Model.ProductStandardPrice');" class="sale">MUA HÀNG</a>
                        <script type="text/javascript">
                            var selectDongia = 0;
                            function openPopup(productName, productId, dongia) {
                                selectDongia = dongia;
                                $('#light .totalPriceProduct').text(selectDongia + " Đồng");
                                $("#light .popupProductName").text(productName);
                                $("#light .hiddenProductID").attr('value', productId);
                                $("#light").show();
                                $("#fade").show();

                                return 1;
                            }
                            $('#light .inputProductNum').keyup(function () {
                                var total = $(this).val() * selectDongia;
                                $('#light .totalPriceProduct').text(total + " Đồng");
                            });
                            $('.inputProductNum').keyup(function () {
                                if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                                    this.value = this.value.replace(/[^0-9\.]/g, '');
                                }
                            });
                        </script>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="property-details mrgt4x">
            <div class="col-md-6 no-padding col-sm-12">
                <div class="property-features animated out" data-delay="0" data-animation="fadeInUp">
                    <div class="property-heading">
                        <h4><span>NGUYÊN LIỆU</span></h4>
                    </div>
                    <ul class="features-name col-md-4 col-sm-4">
                        @foreach (var item in pm)
                        {
                            <li><i class="fa fa-check"></i><span>@item.ProductMaterial.ProductMaterialName</span></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="property-description animated out" data-delay="0" data-animation="fadeInUp">
                    <div class="property-heading">
                        <h4><span>GHI CHÚ</span></h4>
                    </div>
                    <p class="note">@Model.Note</p>
                </div>
            </div>
        </div>
        <div id="light" class="white_content">
            <center><h2 class="popupProductName" style="color:#808080">@Model.ProductName</h2></center>
            <div class="border-top"></div>
            <br />
            <form action='@Url.Action("AddCart", "Cart", new { @ProductId = Model.ProductId, @strURL = Request.Url.ToString()})' id="myForm" method="post">
                <table class="popup-table">
                    <tr>
                        <td>Số lượng: </td>
                        <td><input style="width:220px;" type="text" value="" placeholder="Chỉ nhập số" class="inputProductNum" name="inputNumber" /></td>
                    </tr>
                    <tr>
                        <td>Thành tiền: </td>
                        <td class="totalPriceProduct"> Đồng</td>
                    </tr>
                </table>
                <input type="hidden" class="hiddenProductID" name="productID" value="" />
            </form>
            <div class="popup-btn"> <a href="#" onclick="document.getElementById('light').style.display = 'none'; document.getElementById('fade').style.display = 'none'" class="book-it"><i class="fa fa-angle-right"></i>Hủy bỏ</a> </div>
            <div class="popup-btn" style="margin-right:30px"> <a href="javascript:void(0)" onclick="$('#myForm').submit();document.getElementById('light').style.display = 'none'; document.getElementById('fade').style.display = 'none'" class="book-it"><i class="fa fa-angle-right"></i>Đồng ý</a> </div>
        </div>
        <div id="fade" class="black_overlay"></div>
    </div>
</section>
}


