@model BMA.Models.Product
@using BMA.Models.ViewModel
@using System.Globalization;
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Layout/CustomerLayout.cshtml";
    IEnumerable<BMA.Models.Recipe> pm = ViewBag.productMaterial;
    IEnumerable<BMA.Models.Product> pro = ViewBag.otherProduct;
    List<CustomerCartViewModel> lstProductCart = ViewBag.lstProductCart;
    int quantity = 0;
    int selectDongia = 0;
    int sumQuantity = 0;
}

<script>
    $(document).removeClass("owl-buttons");
</script>
<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li> <a href="@Url.Action("Index","Home")">TRANG CHỦ</a> </li>
                <li> <a href="@Url.Action("Index","Product")">TẤT CẢ SẢN PHẨM</a> </li>
                <li> <a href="@Url.Action("Index", "Product", new { categoryId = ViewBag.category.CategoryId })" style="text-transform:uppercase">@ViewBag.category.CategoryName</a> </li>
                <li class="active">@Model.ProductName</li>
            </ul>
        </div>
    </div>
    <div class="row transitionfx">

        <div class="col-lg-6 col-md-6 col-sm-6">
            <img src="@Url.Content("~/Content/Images/BakeryImages/" + Model.ProductImage)" class="img-responsive" alt="img">
        </div>

        <div class="col-lg-6 col-md-6 col-sm-5">
            @if (lstProductCart != null)
            {
                for (int i = 0; i < lstProductCart.Count; i++)
                {
                    sumQuantity += lstProductCart[i].Quantity;
                }
            }
            @if (lstProductCart != null)
            {
                for (int i = 0; i < lstProductCart.Count; i++)
                {
                    if (Model.ProductId == lstProductCart[i].ProductId)
                    {
                        quantity = lstProductCart[i].Quantity;
                        selectDongia = Model.ProductStandardPrice * quantity;
                        break;
                    }
                    else
                    {
                        quantity = 0;
                    }

                }
            }
            <h1 class="product-title"> @Model.ProductName</h1>
            <h3 class="details-description">Mã sản phẩm : <span class="price-sales">@Model.ProductCode</span></h3>
            <h3 class="details-description">Đơn giá : <span class="price-sales">@Model.ProductStandardPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</span></h3>

            <div class="cart-actions" style="margin-top:10px;">
                <div class="action-control"><a title="Chi tiết" class="btn btn-primary" data-target="#product-details-modal" data-toggle="modal" onclick="return openPopup('@Model.ProductName','@Model.ProductId','@Model.ProductStandardPrice','@Model.ProductImage','@Model.ProductCode','@quantity','@selectDongia');"><span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"></i> Mua hàng </span></a></div>
                <script type="text/javascript">
                    var imageLink;
                    function openPopup(productName, productId, price, image, code, quantity, selectDongia) {
                        var printPrice = addPeriod(price);
                        imageLink = "/Content/Images/BakeryImages/" + image;
                        $('#product-details-modal #productPrice').text(printPrice + " Đồng");
                        $('#product-details-modal #totalPriceProduct').text(addPeriod(selectDongia) + " Đồng");
                        $('#product-details-modal #productImage').attr("src", imageLink)
                        $('#product-details-modal #productCode').text(code);
                        $("#product-details-modal #productName").text(productName);
                        $("#product-details-modal .hiddenProductID").attr('value', productId);
                        $("#product-details-modal .hiddenProductImage").attr('value', image);
                        $('#product-details-modal .quanitySniper').attr('value', quantity);
                        $('#product-details-modal .quanitySniper').text(quantity);

                        $('#product-details-modal .quanitySniper').keyup(function () {
                            selectDongia = price;
                            var total = $(this).val() * selectDongia;
                            total = addPeriod(total);
                            $('#product-details-modal #totalPriceProduct').text(total + " Đồng");
                        });

                        $('#product-details-modal .quanitySniper').on('keydown keyup', function (e) {
                            if ($(this).val() > 5000
                                    && e.keyCode != 46 // delete
                                    && e.keyCode != 8 // backspace
                                   ) {
                                e.preventDefault();
                                $(this).val(5000);
                            }
                        });

                        $('#product-details-modal .quanitySniper').on('keyup', function (e) {
                            if ($(this).val() < 1
                                && e.keyCode != 46 // delete
                                && e.keyCode != 8 // backspace
                                ) {
                                e.preventDefault();
                                $(this).val(1);
                            }
                        });


                        $('#product-details-modal .quanitySniper').keypress(function (e) {
                            var key_codes = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 0, 8];
                            if (!($.inArray(e.which, key_codes) >= 0)) {
                                e.preventDefault();
                            }
                        });

                        function addPeriod(nStr) {
                            nStr += '';
                            x = nStr.split('.');
                            x1 = x[0];
                            x2 = x.length > 1 ? '.' + x[1] : '';
                            var rgx = /(\d+)(\d{3})/;
                            while (rgx.test(x1)) {
                                x1 = x1.replace(rgx, '$1' + '.' + '$2');
                            }
                            return x1 + x2;
                        }
                        return 1;
                    }
                </script>







            </div>

            <div class="product-tab w100 clearfix">
                <ul class="nav nav-tabs">
                    <li class="active"> <a href="#material" data-toggle="tab" style="font-family: 'Patrick Hand SC'">Nguyên liệu</a></li>
                    <li><a href="#description" data-toggle="tab" style="font-family: 'Patrick Hand SC'">Miêu tả</a></li>
                    <li> <a href="#note" data-toggle="tab" style="font-family: 'Patrick Hand SC'">Ghi chú</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="material">
                        <table>
                            <colgroup>
                                <col style="width:33%">
                                <col style="width:33%">
                                <col style="width:33%">
                            </colgroup>
                            <tbody>
                                @foreach (var item in pm)
                                {
                                    <tr>
                                        <td>@item.ProductMaterial.ProductMaterialName :</td>
                                        <td>@(String.Format("{0} {1}", item.RecipeQuantity, item.ProductMaterial.ProductMaterialUnit))</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="description">
                        @Model.Descriptions<br>
                    </div>
                    <div class="tab-pane" id="note">
                        @Model.Note<br>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="product-details-modal" tabindex="-1" role="dialog" aria-hidden="true" style="margin-top:70px;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button"> × </button>
                        <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
                            <div class="main-image  col-lg-12 no-padding style3" style="margin-top:30px;margin-left:30px">
                                <div class="product-largeimg-link">
                                    <img src="" class="img-responsive product-largeimg" alt="img" id="productImage" style="width:400px;height:300px;">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 modal-details" style="height: 380px;">
                            <form id="addCartForm" action='@Url.Action("AddCart", "Cart", new { @strURL = Request.Url.ToString() })' method="post">
                                <div style="min-height:365px;" class="modal-details-inner">
                                    <h2 class="product-title" id="productName" style="font-size:25px;"></h2>
                                    <h3 class="details-description">Mã sản phẩm : <span class="price-sales" id="productCode"></span></h3>
                                    <input type="hidden" class="hiddenProductID" name="productID" value="" />
                                    <input type="hidden" class="hiddenProductImage" name="productImage" value="" />
                                    <h3 class="details-description">Đơn giá : <span class="price-sales" id="productPrice"></span></h3>

                                    <div class="productFilter productFilterLook2">
                                        <div style="width:50%">
                                            <input type="text" name="txtQuantity" maxlength="5" placeholder="Nhập số lượng" class="quanitySniper" style="font-size:16px;padding-bottom:0px;min-width:158px;" value="" required />
                                        </div>
                                    </div>
                                    <h3 class="details-description">Thành tiền : <span id="totalPriceProduct"> </span></h3>

                                    <div class="cart-actions">
                                        <div class="addto">
                                            <button onclick="return validateInput('@sumQuantity')" class="button btn-cart cart first" title="Add to Cart" style="font-family: 'Patrick Hand SC'">Thêm vào giỏ hàng</button>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        function toNumber(str) {
                                            return str * 1;
                                        }

                                        function validateInput(sumQuantity) {
                                            var txtQuantity = $("#quantityCheck").val();
                                            var numQuantity = toNumber(txtQuantity);
                                            var numSumQuantity = toNumber(sumQuantity);
                                            sumQuantity = numQuantity + numSumQuantity;
                                            if (txtQuantity.trim() === '') {
                                                noty({
                                                    text: 'Số lượng không được để trống.',
                                                    type: 'warning',
                                                    dismissQueue: false,
                                                    layout: 'topCenter',
                                                    theme: 'defaultTheme',
                                                    timeout: 2000
                                                });
                                            } else if (txtQuantity < 1 || txtQuantity > 5000) {
                                                noty({
                                                    text: 'Số lượng phải lớn hơn 1 và nhỏ hơn 5000.',
                                                    type: 'warning',
                                                    dismissQueue: false,
                                                    layout: 'topCenter',
                                                    theme: 'defaultTheme',
                                                    timeout: 2000
                                                });
                                            }
                                            else if (sumQuantity > 10000) {
                                                noty({
                                                    text: 'Số lượng sản phẩm trong đơn hàng không được trên 10000',
                                                    type: 'warning',
                                                    dismissQueue: false,
                                                    layout: 'topCenter',
                                                    theme: 'defaultTheme',
                                                    timeout: 2000
                                                });
                                            }
                                            else {
                                                $("#addCartForm").submit();
                                            }
                                        }
                                    </script>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="row recommended">
        <h1> SẢN PHẨM KHÁC </h1>
        <div id="SimilarProductSlider">
            @foreach (var item in pro)
            {
                <div class="item">
                    <div class="product">
                        <a href="@Url.Action("ProductDetail", "Product", new { @ProductId = item.ProductId })" class="product-image"><img src="@Url.Content("~/Content/Images/BakeryImages/" + item.ProductImage)" alt="img" style="width:247px;height:214px;"> </a>
                        <div class="description">
                            <h4><a href="san-remo-spaghetti.html">@item.ProductName</a></h4>
                            <div class="price"> <span>@item.ProductStandardPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"))</span> </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div style="clear:both"></div>
    </div>
</div>