<script type="text/javascript">
    function quantityLowThanStandard(info, source, type) {
        if (info == 2) {
            noty({
                text: 'Có nguyên liệu số lượng quá thấp, vui lòng kiểm tra',
                type: 'error',
                dismissQueue: false,
                layout: 'topCenter',
                theme: 'defaultTheme',
                timeout: false
            });

            var numberOfNoti = $("#hiddenNumberOfNoti").val();
            var numberOfLowQuantity = $("#hiddenMaterialCount").val();
            if (numberOfNoti == "") {
                $("#hiddenNumberOfNoti").attr('value', 1);
                $("#hiddenMaterialCount").attr('value', 1);
                $("#numberOfLowMaterial").text(1);
                $("[data-role='numberOfLowMaterial']").text(1);
            }
            else {
                numberOfNoti = parseInt(numberOfNoti) + 1;
                $("#hiddenNumberOfNoti").attr('value', numberOfNoti);
                if (numberOfLowQuantity == "") {
                    $("#hiddenMaterialCount").attr('value', 1);
                } else {
                    numberOfLowQuantity = parseInt(numberOfLowQuantity) + 1;
                    $("#hiddenMaterialCount").attr('value', numberOfLowQuantity);
                }
                $("#numberOfNoti").text(numberOfNoti);

                $("[data-role='numberOfLowMaterial']").text(numberOfLowQuantity);
            }
        }
    }

    function onChange(info, source, type) {
        if (info == 1) {
            noty({
                text: 'Có một đơn hàng vừa được thêm mới.',
                type: 'success',
                dismissQueue: false,
                layout: 'topCenter',
                theme: 'defaultTheme',
                timeout: false
            });
            var numberOfNoti = $("#hiddenNumberOfNoti").val();
            var numberOfNewOrder = $("#hiddenOrderCount").val();
            if (numberOfNoti == "") {
                $("#hiddenNumberOfNoti").attr('value', 1);
                $("#hiddenOrderCount").attr('value', 1)
                $("#numberOfNoti").text(1);
                $("[data-role='numberOfNewOrder']").text(1);
            }
            else {
                numberOfNoti = parseInt(numberOfNoti) + 1;
                $("#hiddenNumberOfNoti").attr('value', numberOfNoti);
                if (numberOfNewOrder == "") {
                    $("#hiddenOrderCount").attr('value', 1)
                }
                else {
                    numberOfNewOrder = parseInt(numberOfNewOrder) + 1;
                    $("#hiddenOrderCount").attr('value', numberOfNewOrder)
                }
                $("#numberOfNoti").text(numberOfNoti);
                $("[data-role='numberOfNewOrder']").text(numberOfNewOrder);
            }
        }
    }

    function confirmOnChange(info, source, type) {
        if (info == 2) {
            noty({
                text: 'Có một đơn hàng sang trạng thái <b>Đã duyệt</b>.',
                type: 'success',
                dismissQueue: false,
                layout: 'topCenter',
                theme: 'defaultTheme',
                timeout: false
            });
            var numberOfNoti = $("#hiddenNumberOfNoti").val();
            var numberOfConfirmOrder = $("#hiddenConfirmOrderCount").val();
            if (numberOfNoti == "") {
                $("#hiddenNumberOfNoti").attr('value', 1);
                $("#hiddenConfirmOrderCount").attr('value', 1)
                $("#numberOfNoti").text(1);
                $("[data-role='numberOfConfirmOrder']").text(1);
            }
            else {
                numberOfNoti = parseInt(numberOfNoti) + 1;
                $("#hiddenNumberOfNoti").attr('value', numberOfNoti);
                if (numberOfConfirmOrder == "") {
                    $("#hiddenConfirmOrderCount").attr('value', 1)
                }
                else {
                    numberOfConfirmOrder = parseInt(numberOfConfirmOrder) + 1;
                    $("#hiddenConfirmOrderCount").attr('value', numberOfConfirmOrder)
                }
                $("#numberOfNoti").text(numberOfNoti);
                $("[data-role='numberOfConfirmOrder']").text(numberOfConfirmOrder);
            }
        }
    }

    function cancelOnChange(info, source, type) {
        if (info == 2) {
            noty({
                text: 'Có một đơn hàng vừa bị chuyển sang trạng thái <b>Đã hủy</b>.',
                type: 'success',
                dismissQueue: false,
                layout: 'topCenter',
                theme: 'defaultTheme',
                timeout: false
            });
            var numberOfNoti = $("#hiddenNumberOfNoti").val();
            var numberOfCancelOrder = $("#hiddenCancelOrderCount").val();
            if (numberOfNoti == "") {
                $("#hiddenNumberOfNoti").attr('value', 1);
                $("#hiddenCancelOrderCount").attr('value', 1)
                $("#numberOfNoti").text(1);
                $("[data-role='numberOfCancelOrder']").text(1);
            }
            else {
                numberOfNoti = parseInt(numberOfNoti) + 1;
                $("#hiddenNumberOfNoti").attr('value', numberOfNoti);
                if (numberOfCancelOrder == "") {
                    $("#hiddenCancelOrderCount").attr('value', 1)
                }
                else {
                    numberOfCancelOrder = parseInt(numberOfCancelOrder) + 1;
                    $("#hiddenCancelOrderCount").attr('value', numberOfCancelOrder)
                }
                $("#numberOfNoti").text(numberOfNoti);
                $("[data-role='numberOfCancelOrder']").text(numberOfCancelOrder);
            }
        }
    }

    window.addEventListener('load', function () {
        var notifier = $.connection.realtimeNotifierHub;
        notifier.client.onChange2 = quantityLowThanStandard;
        notifier.client.onChange = onChange;
        notifier.client.onChange4 = confirmOnChange;
        notifier.client.onChange5 = cancelOnChange;
        $.connection.hub.start();
    });
</script>

<a href="#" class="dropdown-toggle" data-toggle="dropdown" onclick="resetNumberOfNoti()">
    <i class="fa fa-bell-o"></i>
    @if (ViewBag.notificatePartialCount == 0)
    {
        <span class="label label-warning" id="numberOfNoti"></span>
    }
    else
    {
        <span class="label label-warning" id="numberOfNoti">@ViewBag.notificatePartialCount</span>
    }
</a>
<script type="text/javascript">
    function resetNumberOfNoti() {
        $("#hiddenNumberOfNoti").attr('value', 0);
        $("#numberOfNoti").text('');
    }
</script>
<form action="/StoreInfor/NotificatePartialLink" method="post" role="form" id="notificateForm">
    <input type="hidden" value="@ViewBag.notificatePartialCount" id="hiddenNumberOfNoti" name="hiddenNumberOfNoti" />
    <input type="hidden" value="@ViewBag.newOrderCountPartial" id="hiddenOrderCount" name="hiddenOrderCount" />
    <input type="hidden" value="@ViewBag.confirmOrderCountPartial" id="hiddenConfirmOrderCount" name="hiddenConfirmOrderCount" />
    <input type="hidden" value="@ViewBag.cancelOrderCountPartial" id="hiddenCancelOrderCount" name="hiddenConfirmOrderCount" />
    <input type="hidden" value="@ViewBag.lowMaterialCountPartial" id="hiddenMaterialCount" name="hiddenMaterialCount" />
</form>

<ul class="dropdown-menu">
    <li>
        <ul class="menu">
            <li>
                <a onclick="RemoveOrderNoty('http://localhost:2072/Order/Index')" style="cursor:pointer">
                    <i class="fa fa-shopping-cart text-green"></i> Có
                    @if (ViewBag.newOrderCountPartial == 0)
                    {
                        <span id="numberOfNewOrder" data-role="numberOfNewOrder">0</span>
                    }
                    else
                    {
                        <span id="numberOfNewOrder" data-role="numberOfNewOrder">@ViewBag.newOrderCountPartial</span>
                    }
                    đơn hàng mới
                </a>
            </li>
            <li>
                <a onclick="RemoveConfirmStatusNoty('http://localhost:2072/Order/Index')" style="cursor:pointer">
                    <i class="fa fa-check text-green"></i> Có
                    @if (ViewBag.confirmOrderCountPartial == 0)
                    {
                        <span id="numberOfConfirmOrder" data-role="numberOfConfirmOrder">0</span>
                    }
                    else
                    {
                        <span id="numberOfConfirmOrder" data-role="numberOfConfirmOrder">@ViewBag.confirmOrderCountPartial</span>
                    }
                    đơn hàng chuyển sang <b>Đã duyệt</b>
                </a>
            </li>
            <li>
                <a onclick="RemoveCancelStatusNoty('http://localhost:2072/Order/Index')" style="cursor:pointer">
                    <i class="fa fa-times text-red"></i> Có
                    @if (ViewBag.confirmOrderCountPartial == 0)
                    {
                        <span id="numberOfCancelOrder" data-role="numberOfCancelOrder">0</span>
                    }
                    else
                    {
                        <span id="numberOfCancelOrder" data-role="numberOfCancelOrder">@ViewBag.cancelOrderCountPartial</span>
                    }
                    đơn hàng chuyển sang <b>Đã hủy</b>
                </a>
            </li>
            <li>
                <a onclick="RemoveMaterialNoty('http://localhost:2072/ManageMaterial/Index')" style="cursor:pointer">
                    <i class="fa fa-warning text-yellow"></i> Có
                    @if (ViewBag.lowMaterialCountPartial == 0)
                    {
                        <span id="numberOfLowMaterial" data-role="numberOfLowMaterial">0</span>
                    }
                    else
                    {
                        <span id="numberOfLowMaterial" data-role="numberOfLowMaterial">@ViewBag.lowMaterialCountPartial</span>
                    }
                    Nguyên liệu trong kho sắp hết
                </a>
            </li>
        </ul>
    </li>
</ul>
